 .row {
     display: flex;
     flex-wrap: wrap;
 }

 .col-lg-4 {
     flex: 0 0 33.3333%;
     max-width: 33.3333%;
     box-sizing: border-box;
     padding: 10px;
 }

 @media (max-width: 992px) {
     .col-lg-4 {
         flex: 0 0 50%;
         max-width: 50%;
     }
 }

 @media (max-width: 768px) {
     .col-lg-4 {
         flex: 0 0 100%;
         max-width: 100%;
     }
 }

 .card {
     background: #FFFFFF;
     gap: 0px;
     border-radius: 14px;
     opacity: 0px;
     padding: 2em;
     border: none;
     height: 35vh;
 }

 .img {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 20px;
 }

 .img img {
     max-width: 100px;
     height: auto;
 }

 /* Text styling */
 .Customheader {
     color: #0D0714;
     font-family: Lama Sans;
     font-size: 20px;
     font-weight: 700;
     line-height: 27px;
     letter-spacing: 0.03em;
     margin: 0px;
 }

 .description {
     color: #736F77;
     font-family: Lama Sans;
     font-size: 16px;
     font-weight: 300;
     line-height: 26px;
     letter-spacing: 0.03em;
     text-align: left;

 }

 .btn {
     display: flex;
     justify-content: flex-end;
 }

 .customIcon {
     background-color:#8413F8;
     border-radius: 50%;
     padding: 1em;
 }

 .lockupButton {
     color: #8413F8;
     font-family: Lama Sans;
     font-size: 16px;
     font-weight: 500;
     line-height: 30px;
     letter-spacing: 0.03em;
     text-align: left;

 }

 .arrow-right path {
     transform: rotate(0deg);
     color: var(--primary-color);

 }

 .arrow-left path {
     transform: rotate(180deg);
     color: var(--primary-color);

 }
