<div class="col-lg-12 d-flex justify-content-between mb-3">
  <div class="d-flex col-8 gap-3 align-items-start flex-row">
    <img src="../../../../../assets/images/send-1.png" alt="taskImg" />
    <p class="lead">{{"Work flow managment" | translate}}</p>
    <img src="../../../../../assets/images/arrow-left2.png" alt="arrow" />
    <p class="lead">{{"Request type Details" | translate}}</p>
  </div>
  <button class="btn edit-btn">
    {{'edit'|translate}}
  </button>
</div>

<div class="add-type-request-sm-container py-3 px-4 ">
  <div class="row gy-3 ">
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{ 'Title EN' | translate }}</label>
      <div class="text-muted">{{ requestTypeDetails?.name || 'N/A' }}</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{ 'Title AR' | translate }}</label>
      <div class="text-muted">{{ requestTypeDetails?.nameAr || 'N/A' }}</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{ 'Request category' | translate }}</label>
      <div class="text-muted">{{ requestTypeDetails?.requestCategory || 'N/A' }}</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{ 'Maximum Dates' | translate }}</label>
      <div class="text-muted">{{ requestTypeDetails?.maxDays || 'N/A' }}</div>
    </div>
    <!-- <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "attachments.File" | translate
        }}</label>
      <div class="text-muted">
         <img alt="CertificateImage" style="width: 150px; height: 150px" />
        <div class="d-flex gap-2 align-items-center">
          <img src="../../../../../../../assets/images/fileIcon2.png" style="width: 100px; height: 100px" alt="" />
        </div>
        <a target="_blank" download>Download PDF</a>
      </div>
    </div> -->
  </div>

</div>
    <div class="row">
      <div class="table-responsive">
        <table class="table custom-table">
          <thead>
            <tr>
              <th>{{ "Title EN" | translate }}</th>
              <th>{{ "Title AR" | translate }}</th>
              <th>{{ "Position" | translate }}</th>
              <th>{{ "Rank" | translate }}</th>
              <th>{{ "Action" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="requestTypes.length > 0; else noConfig">
              <tr *ngFor="let config of requestTypes; let i = index">
                <td>{{ requestTypeDetails?.name }}</td>
                <td>{{ requestTypeDetails?.nameAr }}</td>
                <td>{{ config.positionName || 'N/A' }}</td>
                <td>{{ config.rank || 'N/A' }}</td>
                <td>
                  <button class="btn btn-sm" (click)="moveUp(i)" [disabled]="i === 0">
                    <img src="../../../../../../assets/images/arrow-square-up.png" alt="up" />
                  </button>
                  <button class="btn btn-sm" (click)="moveDown(i)" [disabled]="i === requestTypes.length - 1">
                    <img src="../../../../../../assets/images/arrow-square-down.png" alt="down" />
                  </button>
                  <button class="btn btn-sm">
                    <img src="../../../../../../assets/images/trash 01.png" alt="trash" />
                  </button>
                </td>
              </tr>
            </ng-container>
            <ng-template #noConfig>
              <tr>
                <td colspan="5" class="text-center">{{ "No Configurations Available" | translate }}</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>

    </div>
 