<div class="col-lg-12 d-flex justify-content-between mb-3">
  <div class="d-flex col-8 gap-3 align-items-start flex-row">
    <img src="../../../../../assets/images/send-1.png" alt="taskImg" />
    <p class="lead">{{"Work flow managment" | translate}}</p>
    <img src="../../../../../assets/images/arrow-left2.png" alt="arrow" />
    <p class="lead">{{"Request type Details" | translate}}</p>
  </div>
  <button class="btn save-btn" (click)="editRequestType()">
    {{ 'Save Changes' | translate }}
  </button>
  <button class="btn edit-btn" (click)="toggleEdit()">
    {{ isEditMode ? ('Cancel' | translate) : ('edit' | translate) }}
  </button>

 </div>
<div *ngIf="!isEditMode" class="add-type-request-sm-container py-3 px-4 ">
  <div class="row gy-3 ">
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{ 'Title In English' | translate }}</label>
      <div class="text-muted">{{ requestTypeDetails?.name || 'N/A' }}</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <div class="col-12 col-md-6 border-bottom-custom">
        <label class="d-block fw-semibold text-dark">{{ 'Title In Arabic' | translate }}</label>
        <div class="text-muted">{{ requestTypeDetails?.nameAr || 'N/A' }}</div>
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{ 'Request category' | translate }}</label>
      <div class="text-muted"> {{ requestCategoryName }} </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{ 'Minimum' | translate }}</label>
      <div class="text-muted">{{ requestTypeDetails.min || 'N/A' }}</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{ 'Maximum' | translate }}</label>
      <div class="text-muted">{{ requestTypeDetails.max || 'N/A' }}</div>
    </div>
  </div>
</div>

<div *ngIf="isEditMode" class="add-type-request-sm-container py-3 px-4 ">
  <form [formGroup]="editForm">
    <div class="row gy-3">
      <div class="col-12 col-md-6 border-bottom-custom">
        <label class="d-block fw-semibold text-dark">{{ 'Title EN' | translate }}</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Enter Title EN" />
      </div>

      <div class="col-12 col-md-6 border-bottom-custom">
        <label class="d-block fw-semibold text-dark">{{ 'Title AR' | translate }}</label>
        <input type="text" class="form-control" formControlName="nameAr" placeholder="Enter Title AR" />
      </div>

      <div class="col-12 col-md-6 border-bottom-custom">
        <label class="d-block fw-semibold text-dark">{{ 'Request Category' | translate }}</label>
        <input type="text" class="form-control" [value]="requestCategoryName" readonly />
      </div>


      <div *ngIf="editForm.get('requestCategory')?.value === 3" class="col-12 col-md-6 border-bottom-custom">
        <label class="d-block fw-semibold text-dark">{{ 'Contains Asset?' | translate }}</label>
        <input type="checkbox" formControlName="containAsset" />
      </div>

      <div *ngIf="editForm.get('requestCategory')?.value === 1" class="col-12 col-md-6 border-bottom-custom">
        <label class="d-block fw-semibold text-dark">{{ 'Minimum Days' | translate }}</label>
        <input type="number" class="form-control" formControlName="min" placeholder="Enter Minimum Days" />
      </div>
      <div *ngIf="editForm.get('requestCategory')?.value === 1" class="col-12 col-md-6 border-bottom-custom">
        <label class="d-block fw-semibold text-dark">{{ 'Maximum Days' | translate }}</label>
        <input type="number" class="form-control" formControlName="max" placeholder="Enter Maximum Days" />
      </div>

      <div *ngIf="editForm.get('requestCategory')?.value === 2" class="col-12 col-md-6 border-bottom-custom">
        <label class="d-block fw-semibold text-dark">{{ 'Maximum Amount' | translate }}</label>
        <input type="number" class="form-control" formControlName="max" placeholder="Enter Maximum Amount" />
      </div>
      <div *ngIf="editForm.get('requestCategory')?.value === 2" class="col-12 col-md-6 border-bottom-custom">
        <label class="d-block fw-semibold text-dark">{{ 'Minimum Amount' | translate }}</label>
        <input type="number" class="form-control" formControlName="min" placeholder="Enter Minimum Amount" />
      </div>
    </div>
  </form>
</div>

<!-- <div class="row justify-content-end d-flex mt-3">
  <button class="btn save-btn" (click)="editRequestType()">
    {{ 'Save Changes' | translate }}
  </button>
</div> -->
<div class="row">
  <div class="table-responsive">
    <table class="table custom-table">
      <thead>
        <tr>
          <th>{{ "Title EN" | translate }}</th>
          <th>{{ "Title AR" | translate }}</th>
          <th>{{ "Position" | translate }}</th>
          <th>{{ "Rank" | translate }}</th>
          <th>{{ "Action" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="requestTypes.length > 0; else noConfig">
          <tr *ngFor="let config of requestTypes; let i = index">
            <td>{{ config.name || 'N/A' }}</td>
            <td>{{ config.nameAr || 'N/A' }}</td>
            <td>{{ config.positionName || 'N/A' }}</td>
            <td>{{ config.rank || 'N/A' }}</td>
            <td>
              <button class="btn btn-sm" (click)="moveUp(i)" [disabled]="i === 0">
                <img src="../../../../../../assets/images/arrow-square-down.png" alt="down" />
              </button>
              <button class="btn btn-sm" (click)="moveDown(i)" [disabled]="i === requestTypes.length - 1">
                <img src="../../../../../../assets/images/arrow-square-up.png" alt="up" />
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-template #noConfig>
          <tr>
            <td colspan="5" class="text-center">{{ "No Configurations Available" | translate }}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>

</div>