<div class="profile-header">
    <img src="../../../../assets/images/coverimg.png" alt="Background Image" class="background-img">
    <div class="profile-content">
        <div class="col-lg-6 d-flex align-items-center">
            <img src="../../../../assets/images/default.jpeg" alt="Profile Image" class="profile-img">
            <div class="profile-info">
                <h1>George Mikhaiel</h1>
                <p>YomnaGmail.Com</p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-end d-flex my-4  ">
    <div class="col-lg-6 justify-content-end gap-3 d-flex">
        <button class="btn rejected">Rejected</button>
        <button class="btn accepted">Accepted</button>
    </div>
</div>

<!-- <div class="col-lg-6 d-flex justify-content-end">
    <div class="custombtn">
        <button class="btn rejected">Rejected</button>
        <button class="btn accepted">Accepted</button>
    </div>
</div>

<div class="container tabsContainer">
    <mat-tab-group>
        <mat-tab label="My Request"> </mat-tab>
        <mat-tab label="Received  Requests"> </mat-tab>
        <mat-tab label="Received  Requests"> </mat-tab>
    </mat-tab-group>
</div> -->