*{
  font-family: lama sans;
}
.breadcrumb {
    padding: 10px 20px;
    background-color: #fff;
    font-size: 14px;
    color: #6c757d;
}

.profile-header {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.profile-banner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.profile-left {
    display: flex;
    align-items: center;
}

.profile-logo {
    position: relative;
}

.profile-logo img {
    border-radius: 50%;
    margin-right: 20px;
    position: absolute;
    top: -11em;
    width: 160px;
    height: 160px;
}




:host-context([dir="ltr"]) .company-details {
    margin-left: 180px;
}

:host-context([dir="rtl"]) .company-details {
    margin-right: 180px;
}


.profile-details h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.profile-details p {
    margin: 5px 0;
    color: #6c757d;
}

.profile-action {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #6f42c1;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.toggle-button-container button {
    border: 1px solid #8413F8;
    color: #8413F8;
    display: flex;
    gap: 1em;
}

@media (max-width: 768px) {
    .profile-info {
        flex-direction: column;
        align-items: center;
        margin: 0px;
        top: -90px;
        position: relative;
    }

    .profile-logo img {
        position: relative;
        top: 0;
        margin-bottom: 10px;
    }

    .company-details {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .profile-action {
        margin-top: 10px;
    }
}

.custom-tabs {
  border-bottom: 1px solid #dee2e6;
}

.custom-tabs .nav-link {
  text-align: center;
  color: #ccc;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

.custom-tabs .nav-link.active {
  color: #000;
  border-bottom: 2px solid #000;
  font-weight: bold;
}

@media (max-width: 480px) {
    .profile-info {
        padding: 10px;
    }

    .profile-left {
        flex-direction: column;
        align-items: center;
    }
    .company-details {
        margin-left: 0 !important;
        margin-right: 0 !important;
        text-align: center;
    }
}
