<div class="container">
  <div class="row">
    <div class="editbtn">
      <button><i style="color: white;" class="fa-solid fa-pen-to-square"></i> Edit </button>
    </div>
  </div>
  <div class="about-container row">
    <div class="about-content col-lg-6 col-md-12 col-sm-12">
      <h2>About</h2>
      <p>
        TechGenius is a trailblazing software company dedicated to providing
        cutting-edge solutions for businesses across various industries. Our
        team of experts is committed to delivering top-notch products and
        services that cater to the unique needs of companies, whether they are
        startups or established enterprises. With a focus on innovation and
        customer satisfaction, we strive to exceed expectations and drive
        success for our clients. At TechGenius
      </p>
    </div>
    <div class="contact-details col-lg-6 col-md-12 col-sm-12">
      <ul>
        <li><strong>City</strong>: Cairo</li>
        <li><strong>Country</strong>: Egypt</li>
        <li><strong>Address</strong>: 15 drs street banafseg 12</li>
        <li><strong>Email</strong>: Yomna.aeagmail.com</li>
        <li><strong>Mobile</strong>: 01064514442</li>
        <li><strong>Fax</strong>: 021546523</li>
        <li><strong>Phone</strong>: 0215645988476</li>
      </ul>
    </div>
  </div>
</div>