<div class="container-fluid">
    <div class="row justify-content-end d-flex">
        <button routerLink="../AddSuggestion" class="btn add-button">
            Add Suggestion
        </button>
    </div>
</div>

<div class="container">
    <div class="row mt-3">
        <div  *ngFor="let suggestion of filteredSuggestions" (click)="viewSuggestionDetails(suggestion.id)">
            <div class="row mt-5">
                <div class="col-lg-6" *ngFor="let suggestion of filteredSuggestions">
                    <div class="suggestion-card">
                        <div class="user-info w-100 gap-3">
                            <img [src]="suggestion.employee.profileImage || '../../../assets/images/default.jpeg'"
                                alt="User Avatar" class="avatar">
                            <div class="user-details">
                                <h3>{{ suggestion.employee.firstName }} {{ suggestion.employee.lastName }}</h3>
                                <p class="job-title">{{ suggestion.employee.jobTitle }}</p>
                            </div>
                        </div>
                        <div class="suggestionType d-flex w-100 justify-content-between">
                            <p>Suggestions Title</p>
                            <p>{{ suggestion.title }}</p>
                        </div>
                        <div class="suggestion-details w-100 mt-2">
                            <div class="status-container">
                                <span class="status" [ngClass]="{
                    'status-pending-bg': suggestion.statusId === SuggestionStatus.PENDING,
                    'status-rejected-bg': suggestion.statusId === SuggestionStatus.REJECTED,
                    'status-accepted-bg': suggestion.statusId === SuggestionStatus.ACCEPTED,
                    'status-review-bg': suggestion.statusId === SuggestionStatus.REVIEW
                  }">
                                    {{ getSuggestionStatusName(suggestion.statusId) }}
                                </span>
                                <button class="delete-button" (click)="deleteSuggestion(suggestion.id)">
                                    Delete the Suggestion
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>