.form-container {
  background-color: white;
  padding: 1em;
  border-radius: 8px;
  margin: auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group select,
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #E7E6E8;
  border-radius: 10px;
}

.form-group input[disabled] {
  background-color: #f0f0f0;
}

.toggle-group {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #6200EE;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.toggle-label {
  font-weight: normal;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 75%;
  border-radius: 10px;
}

.btn-primary {
  background-color: #8BC34A;
  color: white;
}

.btn-secondary {
  background-color: white;
  color: #333;
  border: 1px solid #ddd;
}

.btn-secondary:hover {
  background-color: #f0f0f0;
}

.card-container {
  display: flex;
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

.card-header {
  text-align: center;
  padding: 20px;
  background-color: white;
}

.card-header h3 {
  margin: 0;
  font-size: 18px;
}

.card-header p {
  margin: 0;
  color: #999;
  font-size: 14px;
}

.card-body {
  padding: 20px;
  text-align: center;
}

.btn-add {
  background: #663895;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.btn-add i {
  margin-right: 5px;
  color: white;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  border-top: 1px solid #f0f0f0;
  background-color: white;
}

.toggle-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background: #663895;
}

input:checked+.slider:before {
  transform: translateX(20px);
}

.icon-trash,
.icon-edit {
  color: #663895;
   cursor: pointer;
}
.form-check-input{
  width: 6px !important;
  height: 6px !important;
}
#shortName{
  text-transform: uppercase !important;
  }
#shortName::placeholder{
  text-transform: none !important;
 }
.form-group label{
  color: #0D0714;
   font-family: Lama Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.03em;
   text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}