<div class="container mt-4">
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSave()">
      <div class="row"> 
      <div class="form-group col-lg-6 ">
        <label for="name">{{ 'ADD_DEPARTMENT.DEPARTMENT_NAME_EN' | translate }}</label>
        <input id="name" formControlName="name" placeholder="{{ 'ADD_DEPARTMENT.DEPARTMENT_NAME_EN' | translate }}"
          class="form-control" [appInputRestriction]="'arabic'" />
        <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-danger">
          {{ 'ADD_DEPARTMENT.DEPARTMENT_NAME_EN' | translate }} {{ 'ADD_DEPARTMENT.REQUIRED_FIELD' | translate }}
        </div>
      </div>
      <div class="form-group col-lg-6">
        <label for="nameAr">{{ 'ADD_DEPARTMENT.DEPARTMENT_NAME_AR' | translate }}</label>
        <input id="nameAr" formControlName="nameAr" placeholder="{{ 'ADD_DEPARTMENT.DEPARTMENT_NAME_AR' | translate }}"
          class="form-control" [appInputRestriction]="'english'" />
        <div *ngIf="form.get('nameAr')?.invalid && form.get('nameAr')?.touched" class="text-danger">
          {{ 'ADD_DEPARTMENT.DEPARTMENT_NAME_AR' | translate }} {{ 'ADD_DEPARTMENT.REQUIRED_FIELD' | translate }}
        </div>
      </div>
      <div class="form-group col-lg-6">
        <label for="shortName">{{ 'ADD_DEPARTMENT.DEPARTMENT_abbreviation' | translate }}</label>
        <input id="shortName" formControlName="shortName"
          placeholder="{{ 'ADD_DEPARTMENT.DEPARTMENT_abbreviation' | translate }}" class="form-control" />
        <div *ngIf="form.get('shortName')?.invalid && form.get('shortName')?.touched" class="text-danger">
          {{ 'ADD_DEPARTMENT.DEPARTMENT_SHORT_NAME' | translate }} {{ 'ADD_DEPARTMENT.REQUIRED_FIELD' | translate }}
        </div>
      </div>
      <div class="form-group col-lg-6">
        <label for="branchId">{{ 'ADD_DEPARTMENT.BRANCH' | translate }}</label>
        <select id="branchId" formControlName="branchId" class="form-control">
          <option value="null" disabled>{{ 'ADD_DEPARTMENT.SELECT_OPTION' | translate }}</option>
          <option *ngFor="let branch of branches" [value]="branch.id">{{ branch.name }}</option>
        </select>
        <div *ngIf="form.get('branchId')?.invalid && form.get('branchId')?.touched" class="text-danger">
          {{ 'ADD_DEPARTMENT.BRANCH' | translate }} {{ 'ADD_DEPARTMENT.REQUIRED_FIELD' | translate }}
        </div>
      </div>
      <div class="form-group col-lg-6">
        <label for="description">{{ 'ADD_DEPARTMENT.DESCRIPTION_EN' | translate }}</label>
        <textarea id="description" formControlName="description"
          placeholder="{{ 'ADD_DEPARTMENT.DESCRIPTION_EN' | translate }}" class="form-control"
          (input)="updateCharacterCount('description')" maxlength="250" minlength="5"
          [appInputRestriction]="'arabic'"></textarea>
        <div *ngIf="form.get('description')?.invalid && form.get('description')?.touched" class="text-danger">
          {{ 'ADD_DEPARTMENT.DESCRIPTION_EN' | translate }} {{ 'ADD_DEPARTMENT.REQUIRED_FIELD' | translate }} {{
          'ADD_DEPARTMENT.DESCRIPTION_CONSTRAINT' | translate }}
        </div>
        <div class="text-right text-muted">
          {{ descriptionCharacterCount }} / 250 {{ 'ADD_DEPARTMENT.CHARACTERS_COUNT' | translate }}
        </div>
      </div>

      <div class="form-group col-lg-6">
        <label for="descriptionAr">{{ 'ADD_DEPARTMENT.DESCRIPTION_AR' | translate }}</label>
        <textarea id="descriptionAr" formControlName="descriptionAr"
          placeholder="{{ 'ADD_DEPARTMENT.DESCRIPTION_AR' | translate }}" class="form-control"
          (input)="updateCharacterCount('descriptionAr')" maxlength="250" minlength="5"
          [appInputRestriction]="'english'"></textarea>
        <div *ngIf="form.get('descriptionAr')?.invalid && form.get('descriptionAr')?.touched" class="text-danger">
          {{ 'ADD_DEPARTMENT.DESCRIPTION_AR' | translate }} {{ 'ADD_DEPARTMENT.REQUIRED_FIELD' | translate }} {{
          'ADD_DEPARTMENT.DESCRIPTION_CONSTRAINT' | translate }}
        </div>
        <div class="text-right text-muted">
          {{ descriptionArCharacterCount }} / 250 {{ 'ADD_DEPARTMENT.CHARACTERS_COUNT' | translate }}
        </div>
      </div>
      <div class="form-group">
         <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="isHR"
            value="HR"
            formControlName="departmentType"
          />
          <label class="form-check-label" for="isHR">
            {{ 'ADD_DEPARTMENT.HR' | translate }}
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="isFinancial"
            value="Financial"
            formControlName="departmentType"
          />
          <label class="form-check-label" for="isFinancial">
            {{ 'ADD_DEPARTMENT.FINANCIAL' | translate }}
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="isCentralized"
            formControlName="isCentralized"
          />
          <label class="form-check-label" for="isCentralized">
            {{ 'ADD_DEPARTMENT.IS_CENTRALIZED' | translate }}
          </label>
        </div>
      </div>
      
      <div class="form-group d-none">
        <label for="long">{{ 'ADD_DEPARTMENT.DEPARTMENT_LONG' | translate }}</label>
        <input id="long" formControlName="long" placeholder="{{ 'ADD_DEPARTMENT.DEPARTMENT_LONG' | translate }}"
          class="form-control" />
        <div *ngIf="form.get('long')?.invalid && form.get('long')?.touched" class="text-danger">
          {{ 'ADD_DEPARTMENT.DEPARTMENT_LONG' | translate }} {{ 'ADD_DEPARTMENT.REQUIRED_FIELD' | translate }}
        </div>
      </div>
      <div class="form-group d-none">
        <label for="lat">{{ 'ADD_DEPARTMENT.DEPARTMENT_LAT' | translate }}</label>
        <input id="lat" formControlName="lat" placeholder="{{ 'ADD_DEPARTMENT.DEPARTMENT_LAT' | translate }}"
          class="form-control" />
        <div *ngIf="form.get('lat')?.invalid && form.get('lat')?.touched" class="text-danger">
          {{ 'ADD_DEPARTMENT.DEPARTMENT_LAT' | translate }} {{ 'ADD_DEPARTMENT.REQUIRED_FIELD' | translate }}
        </div>
      </div>
      <div class="form-group">
        <label for="map">{{ 'ADD_DEPARTMENT.DEPARTMENT_LOCATION' | translate }}</label>
        <app-map (locationSelected)="onLocationSelected($event)"
          [long]="isEdit ? department!.long|| undefined : undefined"
          [lat]="isEdit ?  department!.lat||undefined : undefined"></app-map>
      </div>
      <div class="form-buttons row">
        <div class="col-lg-6  mt-3 justify-content-center d-flex">
          <button 
          type="submit" 
          class="btn btn-primary" 
          [disabled]="form.invalid">
          {{ isEdit ? ('ADD_DEPARTMENT.EDIT' | translate) : ('ADD_DEPARTMENT.SAVE' | translate) }}
        </button>
        </div>
        <div class="col-lg-6  mt-3 justify-content-center d-flex">
          <button 
          type="button" 
          class="btn btn-secondary" 
          (click)="action.emit(false)">
          {{ 'ADD_DEPARTMENT.BACK' | translate }}
        </button>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
<p-toast></p-toast>
