<div class="container mt-4">
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSave()">
      <div class="form-group">
        <label for="name">Department Name(English)</label>
        <input id="name" formControlName="name" placeholder="Enter Department Name" class="form-control" />
        <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-danger">Name is required</div>
      </div>
      <div class="form-group">
        <label for="nameAr">Department Name (Arabic)</label>
        <input id="nameAr" formControlName="nameAr" placeholder="Enter Department Name (Arabic)" class="form-control" />
        <div *ngIf="form.get('nameAr')?.invalid && form.get('nameAr')?.touched" class="text-danger">Arabic name is required</div>
      </div>
      <div class="form-group">
        <label for="shortName">Department Short Name</label>
        <input id="shortName" formControlName="shortName" placeholder="Enter Department Short Name" class="form-control" />
        <div *ngIf="form.get('shortName')?.invalid && form.get('shortName')?.touched" class="text-danger">Short name is required</div>
      </div>
      <div class="form-group">
        <label for="long">Department Long</label>
        <input id="long" formControlName="long" placeholder="Enter Long" class="form-control" />
        <div *ngIf="form.get('long')?.invalid && form.get('long')?.touched" class="text-danger">Longitude is required</div>
      </div>
      <div class="form-group">
        <label for="lat">Department Lat</label>
        <input id="lat" formControlName="lat" placeholder="Enter Lat" class="form-control" />
        <div *ngIf="form.get('lat')?.invalid && form.get('lat')?.touched" class="text-danger">Latitude is required</div>
      </div>
      <div class="form-group">
        <label for="manager">Department Manager</label>
        <input id="manager" formControlName="manager" placeholder="Enter Manager Name" class="form-control" />
        <div *ngIf="form.get('manager')?.invalid && form.get('manager')?.touched" class="text-danger">Manager is required</div>
      </div>
      <div class="form-group">
        <label for="branchId">Branch</label>
        <select id="branchId" formControlName="branchId" class="form-control">
          <option *ngFor="let branch of branches" [value]="branch.id">{{ branch.name }}</option>
        </select>
        <div *ngIf="form.get('branchId')?.invalid && form.get('branchId')?.touched" class="text-danger">Branch is required</div>
      </div>
      <div class="form-group">
        <label for="description">Description (English)</label>
        <textarea id="description" formControlName="description" placeholder="Enter Description (English)" class="form-control"></textarea>
        <div *ngIf="form.get('description')?.invalid && form.get('description')?.touched" class="text-danger">Description is required</div>
      </div>
      <div class="form-group">
        <label for="descriptionAr">Description (Arabic)</label>
        <textarea id="descriptionAr" formControlName="descriptionAr" placeholder="Enter Description (Arabic)" class="form-control"></textarea>
        <div *ngIf="form.get('descriptionAr')?.invalid && form.get('descriptionAr')?.touched" class="text-danger">Arabic description is required</div>
      </div>
      <div class="form-group">
        <label for="map">Department Location</label>
        <app-map (locationSelected)="onLocationSelected($event)"></app-map>
      </div>
      <div class="form-buttons row mt-3">
        <div class="col-lg-6 justify-content-center d-flex">
          <button type="button" class="btn btn-secondary" (click)="onBack()">Back</button>
        </div>
        <div class="col-lg-6 justify-content-center d-flex">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
<p-toast></p-toast>
