<div class="container my-5" *ngIf="!showOverView && !isAdd && !isAssignEntity">
  <div class="row">
    <div class="justify-content-end d-flex">
      <button class="btn addBranchBtn" (click)="addBranch()">
        <i class="fas fa-plus"></i> {{ 'viewBranches.ADD_BRANCH' | translate }}
      </button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-4 mt-3 col-md-6 col-sm-12" *ngFor="let branch of branches">
      <div class="card">
        <div class="card-header">
          <h3>{{ isArabic ? branch.nameAr : branch.name }}</h3>
        </div>
        <div class="card-body">
          <button class="btn btn-add" (click)="assignEntity(branch.id)">
            <i class="fas fa-plus"></i> {{ 'viewBranches.ADD_EMPLOYEE' | translate }}
          </button>
        </div>
        <div class="card-footer">
          <label class="toggle-label">
            <span>{{ branch.isActive ? ('INDEX_POSITION.DEACTIVATE' | translate) : ('INDEX_POSITION.ACTIVATE' | translate) }}</span>
            <label class="switch">
              <input type="checkbox" [checked]="branch.isActive"  (change)="toggleActivation(branch)">
              <span class="slider"></span>
            </label>
          </label>
          <i class="fas fa-trash-alt icon-trash" (click)="deleteBranch(branch.id)"></i>
          <i class="fas fa-edit icon-edit"></i>
          <button class="btn" (click)="showDetails(branch.id)">
            <span class="details">
              {{ 'viewBranches.SHOW_DETAILS' | translate }}
              <i class="fa-solid fa-arrow-right" [ngClass]="{'rotate-arrow': isArabic}"></i>
            </span>
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showOverView" class="table-container">
  <button class="btn" (click)="goBack()">
    <i class="fas fa-arrow-left"></i> {{ 'viewBranches.GO_BACK' | translate }}
  </button>

  <app-modern-table
    [tableTitle]="'Employees of ' + (isArabic ? selectedBranch?.nameAr : selectedBranch?.name)"
    [tableData]="employees"
    [columns]="['id', 'fullName', 'position.name', 'department.name']"
    [modalId]="'employeeDetailsModal'"
    [deleteId]="'employeeDeleteModal'"
    [showActions]="false">
  </app-modern-table>
</div>

<ng-container *ngIf="isAdd">
  <app-add-branch [companyId]="companyId" (action)="handleAction($event)"></app-add-branch>
</ng-container>

<app-assign-entity
  *ngIf="isAssignEntity"
  [entityId]="selectedBranch?.id?.toString()"
  [entityType]="'Employee'"
  [entities]="employees"
  [branch]="selectedBranch || null"
  (close)="handleClose()"
  (submitForm)="handleEntityAssigned($event)">
</app-assign-entity>

<p-toast position="top-center"></p-toast>

 <div class="d-flex justify-content-center mt-3">
  <pagination
    [totalItems]="totalItems"
    [(ngModel)]="currentPage"
    [itemsPerPage]="itemsPerPage"
    (pageChanged)="handlePageChange($event)"
    previousText="&laquo;"
    nextText="&raquo;">
  </pagination>
</div>
