<div
  class="modal fade"
  id="{{ defaultId }}"
  tabindex="-1"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-between">
        <h5 class="modal-title" id="exampleModalLongTitle">{{"defaultPopUp.Default" | translate}}</h5>
        <button
          type="button"
          class="close btn"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">
            <img
              class="w-75 btn"
              src="../../../../../assets/images/zondicons_close-outline.png"
            />
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <p class="addCountry">
                <img src="../../../../../assets/images/Vector (8).png" /> {{"defaultPopUp.question" | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">
          {{"defaultPopUp.Cancel" | translate}}
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="confirmDefault()"
          data-bs-dismiss="modal"
        >
        {{"defaultPopUp.Confirm" | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
