<div class="container mt-4">
    <div class="form-container">
      <form [formGroup]="form" (ngSubmit)="onSave()">
        <div class="form-group">
          <label for="name">{{ 'addBranch.BRANCH_NAME_EN' | translate }}</label>
          <input id="name" formControlName="name" placeholder="{{ 'addBranch.ENTER_BRANCH_NAME' | translate }}" class="form-control" />
          <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-danger">{{ 'addBranch.NAME_REQUIRED' | translate }}</div>
        </div>
        <div class="form-group">
          <label for="nameAr">{{ 'addBranch.BRANCH_NAME_AR' | translate }}</label>
          <input id="nameAr" formControlName="nameAr" placeholder="{{ 'addBranch.ENTER_BRANCH_NAME_AR' | translate }}" class="form-control" />
          <div *ngIf="form.get('nameAr')?.invalid && form.get('nameAr')?.touched" class="text-danger">{{ 'addBranch.AR_NAME_REQUIRED' | translate }}</div>
        </div>
        <div class="form-group d-none">
          <label for="long">Longitude</label>
          <input id="long" formControlName="long" placeholder="Enter Longitude" class="form-control" />
          <div *ngIf="form.get('long')?.invalid && form.get('long')?.touched" class="text-danger">{{ 'addBranch.LONGITUDE_REQUIRED' | translate }}</div>
        </div>
        <div class="form-group d-none">
          <label for="lat">Latitude</label>
          <input id="lat" formControlName="lat" placeholder="Enter Latitude" class="form-control" />
          <div *ngIf="form.get('lat')?.invalid && form.get('lat')?.touched" class="text-danger">{{ 'addBranch.LATITUDE_REQUIRED' | translate }}</div>
        </div>
        <div class="form-group">
          <label for="map">{{ 'addBranch.BRANCH_LOCATION' | translate }}</label>
          <app-map (locationSelected)="onLocationSelected($event)"></app-map>
        </div>
        <div class="form-buttons row ">
          <div class="col-lg-6 col-md-6 col-sm-6 mt-3 justify-content-center d-flex">
            <button type="submit" class="btn btn-primary">{{ 'addBranch.SAVE' | translate }}</button>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6  mt-3 justify-content-center d-flex">
            <button type="button" class="btn btn-secondary" (click)="onBack()">{{ 'addBranch.BACK' | translate }}</button>
          </div>

        </div>
      </form>
    </div>
  </div>
  <p-toast position="top-center"></p-toast>
