.btn-container {
    display: flex;
    justify-content: center;
    --color-text: #9ee5fa;
    --color-background: #353535;
    --color-shadow: #00000080;
}

.btn-content {
    display: flex;
    align-items: center;
    padding: 0 3px;
    text-decoration: none;
    /* font-family: Poppins, sans-serif; */
    font-family: Lama Sans;
    font-size: 25px;
    color: var(--color-text);
    background-color: #b97bfa;
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 .1em 0;
}

.btn-content:focus,
.btn-content:hover {
    transition: .5s;
    -webkit-animation: 1s btn-content;
    animation: 1s btn-content;
    outline: transparent solid .1em;
    outline-offset: 0.2em;
    box-shadow: 0 0 .4em 0 var(--color-background);
}

.btn-content .icon-arrow {
    transition: .5s;
    margin-left: 0;
    transform: scale(.6);
}

.btn-content:hover .icon-arrow {
    transition: .5s;
    margin-left: 25px;
}

.icon-arrow {
    width: 20px;
    margin-right: 15px;
    position: relative;
    top: 6%;
}

#arrow-icon-one {
    transition: .4s;
    transform: translateX(-60%);
}

#arrow-icon-two {
    transition: .5s;
    transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
    animation: 1s .2s infinite color_anim;
}

.btn-content:hover #arrow-icon-one {
    transform: translateX(0);
    animation: 1s .6s infinite color_anim;
}

.btn-content:hover #arrow-icon-two {
    transform: translateX(0);
    animation: 1s .4s infinite color_anim;
}

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: var(--color-background);
    }
    100% {
        fill: #9ee5fa;
    }
}

@-webkit-keyframes btn-content {
    0% {
        outline: .2em solid var(--color-background);
        outline-offset: 0;
    }
}

@keyframes btn-content {
    0% {
        outline: .2em solid var(--color-background);
        outline-offset: 0;
    }
}
