.customContainer {
    width: 75%;
}

.landing {
    background-color: white;
}

.logo {
    display: flex;
 }

.authContainer {
    padding: 3em;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blackHeader {
    color: #0C1421;
    font-family: Lama Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.03em;
    text-align: center;
}

.logo img {
    width: 20%;
    min-width: 200px;
}

.header {
    color: #0047B3;
    font-family: Nunito;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.03em;
    width: 75%;
}

.row {
    width: 100%;
}

.lightDescription {
    font-family: Lama Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #534f58;
}

.mainCard {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E6F0FF;
    border-radius: 10px;
    padding: 3em;
    flex-direction: column;
    width: 40%;
}

.customLabels label {
    color: #0D0714;
    font-family: Lama Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.customLabels input {
    border: 1px solid #e7e6e86f !important;
    background: #FBFBFB;
    border-radius: 10px;
    border: 1px;
    opacity: 0px;
    padding: 0.6em;
    width: 100%;
}

.customLabels input:focus {
    border-color: #0065FF;
    outline: none;
}

.customLabels input::placeholder {
    color: #A9AEB4;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.03em;
}

.authBtn {
    padding: 14px 0px 12px 0px;
    gap: 0px;
    border-radius: 10px;
    background: #663895;
    color: white;
    border: none;
    margin-top: 0.8em;
}

.customSpan {
    color: #0047B3;
    cursor: pointer;

}

@media (max-width: 991.98px) {
    .mainCard {
        width: 80%;
    }

    .imgContainer {
        display: none;
    }
}

@media (max-width: 776.98px) {
    .authContainer {
        padding: 0px;
    }
}

@media (max-width: 576px) {
    .mainCard {
        width: 100%;
    }
}

.backArrow {
    cursor: pointer;
}

.ng-otp-input-wrapper {
    justify-content: center;
    display: flex;
}

.ng-otp-input-wrapper[_ngcontent-ng-c1701526001] .otp-input[_ngcontent-ng-c1701526001],
.ng-otp-input-wrapper[_ngcontent-ng-c1701526001] .otp-input[_ngcontent-ng-c1701526001]:not(:last-child) {
    background-color: #f4ebebbd;
    color: black;
    border-color: #E7E6E8;
    border-radius: 10px;
    padding: 0px;
    margin-inline: 0.2em;
}

.customLabels .row select {
    outline: none;
    border: #0075ff 1px solid;
    border-radius: 10px;
    padding: 0.7em;
}

.custom-option {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
}

.custom-option:hover {
    background-color: #0075FF;
    color: #fffdfd;
}

.password-container {
    position: relative;
}

.authIcon {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.imgContainer {
    width: 75%;
}
.iti {
    width: 100%;
}
.backArrow{
    width: 30px;
    height: 30px;
    margin-right: 0.3em;
    margin-left: 0.3em;
}
