<div class="container mt-4">
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSave()">

      <!-- Position Type Dropdown -->
      <div class="form-group">
        <label for="positionType">{{ 'ADD_POSITION.POSITION_TYPE' | translate }}</label>
        <app-drop-down
        [label]="'ADD_POSITION.POSITION_TYPE' | translate"
        [placeholder]="'ADD_POSITION.SELECT_POSITION_TYPE' | translate"
        [placeholderSearch]="'Search Position Types'"
        [items]="positionType"
        [itemsLength]="positionType.length"
        [currentPage]="positionTypePage"
        (onChange)="onPositionTypeChange($event)"
        (getNextPageApi)="loadPositionTypes()">
      </app-drop-down>
        <div *ngIf="form.get('positionType')?.invalid && form.get('positionType')?.touched" class="text-danger">
          {{ 'ADD_POSITION.REQUIRED_FIELD' | translate }}
        </div>
      </div>

      <!-- Department Dropdown -->
      <div class="form-group">
        <label for="department">{{ 'ADD_POSITION.DEPARTMENT' | translate }}</label>
        <app-drop-down
        [label]="'ADD_POSITION.DEPARTMENT' | translate"
        [placeholder]="'ADD_POSITION.SELECT_DEPARTMENT' | translate"
        [placeholderSearch]="'Search Departments'"
        [items]="departments"
        [itemsLength]="departments.length"
        [currentPage]="departmentPage"
        (onChange)="onDepartmentChange($event)"
        (getNextPageApi)="loadDepartments()">
      </app-drop-down>
      </div>

      <!-- Position Dropdown (Visible when 'isDirectManager' is checked) -->
      <div class="form-group" *ngIf="form.get('isDirectManager')?.value">
        <label for="position">{{ 'ADD_POSITION.POSITION' | translate }}</label>
        <app-drop-down
        *ngIf="form.get('isDirectManager')?.value"
        [label]="'ADD_POSITION.POSITION' | translate"
        [placeholder]="'ADD_POSITION.SELECT_POSITION' | translate"
        [placeholderSearch]="'Search Positions'"
        [items]="positions"
        [itemsLength]="positions.length"
        [currentPage]="positionPage"
        (onChange)="onPositionChange($event)"
        (getNextPageApi)="loadPositions()">
      </app-drop-down>
        <div *ngIf="form.get('position')?.invalid && form.get('position')?.touched" class="text-danger">
          {{ 'ADD_POSITION.REQUIRED_FIELD' | translate }}
        </div>
      </div>

      <!-- Form Buttons -->
      <div class="form-buttons row">
        <div class="col-lg-6 justify-content-center mt-4 d-flex">
          <button type="submit" class="btn btn-primary">{{ (isEdit ? 'ADD_POSITION.EDIT': 'ADD_POSITION.SAVE') | translate }}</button>
        </div>
        <div class="col-lg-6 justify-content-center mt-4 d-flex">
          <button type="button" class="btn btn-secondary" (click)="onBack()">{{ 'ADD_POSITION.BACK' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>

<p-toast position="top-center"></p-toast>
