.header {
    font-family: 'Lama Sans';
    font-size: 19.07px;
    font-weight: 700;
    line-height: 38.13px;
    letter-spacing: 0.03em;
    text-decoration-skip-ink: none;
    color: #09050E;
}
h4,p,button,.icon{
  font-family: 'Lama Sans';
}
.icon{
  font-weight: 700;
}

.action-btn {
    background: #8413F8;
    width: 170px;
    height: Hug (52px)px;
    padding: 12px;
    border-radius: 10px;
    opacity: 0px;
    color: white;
    gap: 0.2em;
    display: flex;
    justify-content: center;
    margin-left: 371px;
    
}
.card-container {
    display: flex;
    gap: 20px;
}

.card {
    width: 276px;
    height: 172px;
    gap: 0px;
    border-radius: 12px ;
    opacity: 0px;
    padding: 1em;
    border: none;
 }

.card .icon {
     width: 40px;
    height: 40px;
    border-radius: 50%;
     display: flex;
    margin-bottom: 10px;
    gap: 1em;
    width: 100%;
    align-items: center;
}

.card .icon svg {
    width: 24px;
    height: 24px;
    fill: #666;
    margin-top: 8px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.card .update {
    font-size: 12px;
    color: #777;
    margin-top: 10px;
}
.chart{
    background-color: white;
    border-radius: 16px;
    /* width: 45%; */
    height: 100%;
}
.update{
  position: relative;
}
.update::before{
position: absolute;
top: -13px;
left: 0;
background-color:#777777a8;
width: 100%;
height: .5px;
content: '';
}
