<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p class="header"> <img  class="mx-1" src="../../../../../assets/images/chart.png">Assets</p>
        </div>
        <div class="col-lg-6 d-flex gap-3 ">
            <button class="btn action-btn"><img
                    src="../../../../../assets/images/document-download.png">Download</button>

            <button class="btn action-btn"><img src="../../../../../assets/images/document-upload.png">Import
                Excel</button>

            <button class="btn action-btn" routerLink="../AddAssets"><img src="../../../../../assets/images/add-square.png">Add Assets</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="card-container justify-content-between">
            <div routerLink="../ShowAssets" class="card col-lg-3">
                <div class="icon">
                    <img src="../../../../../assets/images/allAssetsColored.png">All Assets
                </div>
                <h4>300</h4>
                <p class="update">Update: July 14, 2023</p>
            </div>

            <div class="card col-lg-3">
                <div class="icon">
                    <img src="../../../../../assets/images/onDuty.png">Assets on duty
                </div>
                <h4>300</h4>
                <p class="update">Update: July 14, 2023</p>
            </div>
            <div class="card col-lg-3">
                <div class="icon">
                    <img src="../../../../../assets/images/outService.png">Out of service- for depreciation
                </div>
                <h4>300</h4>
                <p class="update">Update: July 14, 2023</p>
            </div>
            <div class="card col-lg-3">
                <div class="icon">
                    <img src="../../../../../assets/images/outserv.png">Assets out of service
                </div>
                <h4>300</h4>
                <p class="update">Update: July 14, 2023</p>
            </div>
        </div>
    </div>
 <div class="row mt-3">
    <div class="col-lg-6 chart">
        <app-basic-line-chart [chartOptions]="barChartOptions"></app-basic-line-chart>
    </div>
<div class="col-lg-6 chart d-flex justify-content-center align-items-center">
    <app-basic-donut-chart [chartOptions]="donutChartOptions"></app-basic-donut-chart>

</div>
 </div>
</div>
