<div class="contai ner">
    <div class="row">
        <div class="col-lg-6">
            <p class="header"> <img  class="mx-1" src="../../../../../assets/images/chart.png">{{"Assets.title"|translate}}</p>
        </div>
        <div class="col-lg-6 d-flex gap-3">
            <!-- <button class="btn action-btn"><img
                    src="../../../../../assets/images/document-download.png">{{"Assets.Download"|translate}}</button>

            <button class="btn action-btn"><img src="../../../../../assets/images/document-upload.png">{{"Assets.Import Excel"|translate}}</button> -->

            <button class="btn action-btn" routerLink="../AddAssets"><img src="../../../../../assets/images/add-square.png">{{"Assets.Add Assets"|translate}}</button>
        </div>
    </div>
    <div class="row mt-4 ">
       <div class="card-container row   mx-auto px-0">
          <div class="col-lg-3 ">
            <div class="card">
              <div class="icon" routerLink="../ShowAssets">
                <img src="../../../../../assets/images/allAssetsColored.png">{{"Assets.All Assets"|translate}}
              </div>
              <h4 class="">{{assetsCount?.totalAssetsCount}}</h4>
              <p class="update">{{"Assets.Update"|translate}}:{{date | date: 'shortDate' :  undefined : (isArabic ? 'ar' : 'en')}}</p>
            </div>
            </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="icon"  [routerLink]="['../ShowAssets',true]" >
                <img src="../../../../../assets/images/onDuty.png">{{"Assets.assigned Assets"|translate}}
            </div>
            <h4>{{assetsCount?.assignedAssetsCount}}</h4>
            <p class="update">{{"Assets.Update"|translate}}:{{date | date: 'shortDate' :  undefined : (isArabic ? 'ar' : 'en')}}</p>

            </div>
            </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="icon"  [routerLink]="['../ShowAssets',false]">
                <img src="../../../../../assets/images/outserv.png">{{"Assets.not assigned Assets"|translate}}
            </div>
            <h4>{{assetsCount?.unassignedAssetsCount}}</h4>
            <p class="update">{{"Assets.Update"|translate}}:{{date | date: 'shortDate' :  undefined : (isArabic ? 'ar' : 'en')}}</p>

            </div>

          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="icon"  [routerLink]="['../ShowAssets',3]"  >
                <img src="../../../../../assets/images/outService.png">{{"Assets.out Of Service Depreciation Count"|translate}}
            </div>
            <h4>{{assetsCount?.outOfServiceDepreciationCount}}</h4>
            <p class="update">{{"Assets.Update"|translate}}:{{date | date: 'shortDate' :  undefined : (isArabic ? 'ar' : 'en')}}</p>

            </div>

          </div>

        </div>
      <!-- <div class="col-lg-3">
        <div class="card ">
          <div class="icon" routerLink="../ShowAssets">
              <img src="../../../../../assets/images/allAssetsColored.png">{{"Assets.All Assets"|translate}}
          </div>
          <h4>{{assetsCount.totalAssetsCount}}</h4>
          <p class="update">{{"Assets.Update"|translate}}:{{date | date: 'shortDate' :  undefined : (isArabic ? 'ar' : 'en')}}</p>
      </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="icon"  [routerLink]="['../ShowAssets',true]" >
              <img src="../../../../../assets/images/onDuty.png">{{"Assets.assigned Assets"|translate}}
          </div>
          <h4>{{assetsCount.assignedAssetsCount}}</h4>
          <p class="update">{{"Assets.Update"|translate}}:{{date | date: 'shortDate' :  undefined : (isArabic ? 'ar' : 'en')}}</p>
      </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="icon"  [routerLink]="['../ShowAssets',false]">
              <img src="../../../../../assets/images/outserv.png">{{"Assets.not assigned Assets"|translate}}
          </div>
          <h4>{{assetsCount.unassignedAssetsCount}}</h4>
          <p class="update">{{"Assets.Update"|translate}}:{{date | date: 'shortDate' :  undefined : (isArabic ? 'ar' : 'en')}}</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="icon"  [routerLink]="['../ShowAssets',3]"  >
              <img src="../../../../../assets/images/outService.png">{{"Assets.out Of Service Depreciation Count"|translate}}
          </div>
          <h4>{{assetsCount.outOfServiceDepreciationCount}}</h4>
          <p class="update">{{"Assets.Update"|translate}}:{{date | date: 'shortDate' :  undefined : (isArabic ? 'ar' : 'en')}}</p>
      </div>
      </div> -->
    </div>


        <!-- <div class="card-container justify-content-between">


        </div> -->

    <div class="row mt-4">
      <div class="col-lg-6 " *ngIf="!isArabic"
        [ngClass]="{ 'ps-2': isArabic, 'pe-2': !isArabic }">
          <div class="chart">
            <app-basic-line-chart [chartOptions]="barChartOptions"></app-basic-line-chart>
          </div>
        </div>
        <div class="col-lg-6" *ngIf="isArabic"
        [ngClass]="{ 'ps-2': isArabic, 'pe-2': !isArabic }">
          <div class="chart">
            <app-basic-line-chart [chartOptions]="barChartOptionsAr"></app-basic-line-chart>
          </div>
        </div>
        <div class="col-lg-6 " *ngIf="!isArabic"
        [ngClass]="{ 'pe-2 ': isArabic, 'ps-2': !isArabic }">
          <div class="chart">
            <app-basic-donut-chart [chartOptions]="donutChartOptions"></app-basic-donut-chart>
          </div>
        </div>
        <div class="col-lg-6 " *ngIf="isArabic"
        [ngClass]="{ 'pe-2 ': isArabic, 'ps-2': !isArabic }">
          <div class="chart">
            <app-basic-donut-chart [chartOptions]="donutChartOptionsAr"></app-basic-donut-chart>
          </div>
        </div>
    </div>
</div>

<!-- chart d-flex justify-content-center align-items-center   d-flex justify-content-around -->
