<div class="container py-4 bgColor">
  <h3 class="text-center fw-bold customHeader mb-4">Job Experience</h3>
  <div class="row gy-3">
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Job Title</label>
      <div class="text-muted">{{ userJobExperience.jobTitle }}</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Company Name</label>
      <div class="text-muted">{{ userJobExperience.companyName }}</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Start Date</label>
      <div class="text-muted">{{ userJobExperience.startFrom }}</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">End Date</label>
      <div class="text-muted">{{ userJobExperience.endAt }}</div>
    </div>
    <div class="col-12 col-md-12 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Job Responsibilities</label>
      <div class="text-muted">{{ userJobExperience.jobDescription }}</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark"
        >Supervisor/Manager Number</label
      >
      <div class="text-muted">
        {{ userJobExperience.firstReferencTelephone }}
      </div>
    </div>
  </div>
</div>
