<div class="container py-4 bgColor">
  <h3 class="text-center fw-bold customHeader mb-4">
    {{ 'jobExperience.Title' | translate }}
  </h3>
  <div class="row gy-3">
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">
        {{ 'jobExperience.Job_Title' | translate }}
      </label>
      <div class="text-muted">
        {{ userJobExperience?.jobTitle ? userJobExperience?.jobTitle : ('jobExperience.No_Data' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">
        {{ 'jobExperience.Company_Name' | translate }}
      </label>
      <div class="text-muted">
        {{ userJobExperience?.companyName ? userJobExperience?.companyName : ('jobExperience.No_Data' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
    
      <div class="text-muted">
        {{ userJobExperience?.startFrom ? userJobExperience?.startFrom | date:"mediumDate" : ('jobExperience.No_Data' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">End Date</label>
      <div class="text-muted">{{ userJobExperience.endAt }}</div>
    </div>
    <div class="col-12 col-md-12 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">
        {{ 'jobExperience.Job_Responsibilities' | translate }}
      </label>
      <div class="text-muted">
        {{ userJobExperience?.jobDescription ? userJobExperience?.jobDescription : ('jobExperience.No_Data' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">
        {{ 'jobExperience.Supervisor_Number' | translate }}
      </label>
      <div class="text-muted">
        {{ userJobExperience?.firstReferencTelephone ? userJobExperience?.firstReferencTelephone : ('jobExperience.No_Data' | translate) }}
      </div>
    </div>
  </div>
</div>