<div class="container py-3">
  <div class="row action-section justify-content-between align-items-center">
    <div class="d-flex col-4 gap-3 align-items-center">
      <img src="../../../../../assets/images/task.png" alt="taskImg" />
      <p class="lead">Task Bored</p>
      <img src="../../../../../assets/images/arrow-left2.png" alt="arrow" />
      <p class="lead">View Task</p>
    </div>
    <div class="col-4 d-flex gap-2 justify-content-end">
      <!-- <button class="btn edit-btn" *ngIf="!isDoneStatus">
        <img src="../../../../../assets/images/edit-2.png" />Edit
      </button> -->
      <button class="btn edit-btn" *ngIf="!isDoneStatus" [routerLink]="['../../addnew', id]">
        <img src="../../../../../assets/images/edit-2.png" />Edit
      </button>
      <button class="btn edit-btn" (click)="toggleAssignTaskToPopup()" *ngIf="!isDoneStatus">
        <img src="../../../../../assets/images/edit-2.png" />Assign To
      </button>
      <button *ngIf="isDoneStatus" class="save-btn btn" [routerLink]="['../../analytics', id]">
        Analytics
      </button>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-lg-7 col-md-12">
      <div class="task-details-card">
        <img [src]="taskImg" class="taskImg" />
        <div class="task-details-card-text p-3">
          <h3 class="task-details-card-title">{{ taskDetails.name }}</h3>
          <div class="task-details-card-details row">
            <div class="col-6">
              <div
                class="d-flex flex-row justify-content-between align-items-center w-95"
              >
                <img src="../../../../../assets/images/calendar-2.png" />
                <span class="date-description">From (Date)</span>
                <span class="date">{{ taskDetails.startDate | date }}</span>
              </div>
            </div>
            <div class="col-6">
              <div
                class="d-flex flex-row justify-content-between align-items-center w-95"
              >
                <img src="../../../../../assets/images/calendar-2.png" />
                <span class="date-description">to (Date)</span>
                <span class="date">{{ taskDetails.endDate | date }}</span>
              </div>
            </div>
            <div class="col-4">
              <div
                class="d-flex flex-row justify-content-start align-items-center py-3 w-100"
              >
                <img src="../../../../../assets/images/clock.png" />
                <span class="date-description-time px-3"
                  >{{ taskDetails.duration }} <span>Days</span></span
                >
              </div>
            </div>
            <div class="col-4">
              <div  *ngIf="taskDetails.actualCost"
                class="d-flex flex-row justify-content-start align-items-center py-3 w-100"
              >
                <img src="../../../../../assets/images/dollar-circle.png" />
                <span class="date-description-currency px-3"
                  >{{ taskDetails.actualCost }}<span>$</span></span
                >
              </div>
            </div>
            <div class="row">
              <div class="col-6" *ngFor="let employee of employees">
                <div
                  class="d-flex flex-row justify-content-start align-items-center gap-2 w-100"
                >
                  <img
                    [src]="
                      employee.profileImage ||
                      '../../../../../assets/images/profile-circle.png'
                    "
                    class="employeeImg"
                  />
                  <span class="date-description-time px-2">{{
                    employee.employeeName
                  }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="task-details-card-description pt-3">
            <p class="task-details-card-description-title">Description</p>
            <p class="task-details-card-description-details">
              {{ taskDetails.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-12 task-status">
      <div class="row py-5 mx-auto">
        <div
          class="col-11 mx-auto state not-state d-flex justify-content-around align-items-center"
          [ngClass]="{
            'active-todo ': isTodoStatus,
            'state-todo': isInProgressStatus || isReviewStatus || isDoneStatus
          }"
        >
          <img [src]="todoImgScr" />
          <div class="state-text w-75 py-1">
            <p>To Do</p>
            <span>This is the first step.</span>
          </div>
        </div>
        <div
          class="col-11 mx-auto state not-state d-flex justify-content-around align-items-center"
          [ngClass]="{
            'active-inprograss': isInProgressStatus,
            'state-inProgress': isReviewStatus || isDoneStatus
          }"
        >
          <img [src]="inProgressImgScr" />
          <div class="state-text w-75 py-1">
            <p>in progress</p>
            <span>This is the second step</span>
          </div>
        </div>

        <div
          class="col-11 mx-auto state not-state d-flex justify-content-around align-items-center"
          [ngClass]="{
            'active-review': isReviewStatus,
            'state-review': isDoneStatus
          }"
        >
          <img [src]="ReviewImgScr" />
          <div class="state-text w-75 py-1">
            <p>review</p>
            <span>This is the third step.</span>
          </div>
        </div>

        <div
          class="col-11 mx-auto state state-done d-flex justify-content-around align-items-center"
          [ngClass]="{ 'active-done': isDoneStatus }"
        >
          <img [src]="DoneImgScr" />
          <div class="state-text w-75 py-1">
            <p>done</p>
            <span>This is the final step.</span>
          </div>
        </div>
        <div
          class="col-11 px-1 mx-auto d-flex justify-content-around align-items-center"
        >
          <div class="row btns justify-content-between">
            <button
              class="col-12 save-btn btn mt-2"
              (click)="inProgressStaate()"
              *ngIf="isTodoStatus"
            >
              In Progress
            </button>
            <button
              class="col-12 save-btn btn mt-2"
              (click)="submitForReview()"
              *ngIf="isInProgressStatus"
            >
              Wait For Review
            </button>
            <button
              class="col-5 action-btn btn"
              (click)="reWork()"
              *ngIf="isReviewStatus"
            >
              rework
            </button>
            <button
              class="col-5 save-btn btn"
              (click)="done()"
              *ngIf="isReviewStatus"
            >
              done
            </button>
            <button
              class="col-12 save-btn btn mt-2"
              (click)="moveToArchive()"
              *ngIf="isDoneStatus"
            >
              Move to Archive
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="todo-container p-3">
    <div class="d-flex justify-content-between align-items-center">
      <p class="lead">To Do LIst</p>
    </div>
    <div class="row px-3">
      @for (todo of todoItems; track $index) {
      <div class="single-todo-card col-12">
        <p class="single-todo-card-details">
          <span>{{ $index + 1 }}- </span>{{ todo.description }}
          @if(todo.employeeId){
            Assigned to {{todo.employeeId}}
          }
        </p>
      </div>
      }
      <!-- <div class="single-todo-card">
        <p class="single-todo-card-details col-12">
          <span>1-</span>Follow the video tutorial above. Understand how to use
          each tool in the Figma
        </p>
      </div>
      <div class="single-todo-card">
        <p class="single-todo-card-details col-12">
          <span>1-</span>Follow the video tutorial above. Understand how to use
          each tool in the Figma
        </p>
      </div>
      <div class="single-todo-card">
        <p class="single-todo-card-details col-12">
          <span>1-</span>Follow the video tutorial above. Understand how to use
          each tool in the Figma
        </p>
      </div> -->
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="todo-container p-3">
    <div class="form py-2">
      <form [formGroup]="form" (ngSubmit)="onSave()" *ngIf="taskDetails">
        <div class="row my-3">
          <div class="col-6 form-group">
            <label class="form-label">Labor Cost</label>
            <div class="custom-input">
              <input
                type="text"
                class="textarea form-control"
                placeholder="Labor Cost"
                formControlName="laborCost"
                [ngClass]="{
                  'is-invalid':
                  form.controls['laborCost'].touched &&
                  form.controls['laborCost'].errors,
                  'is-valid':
                  form.controls['laborCost'].touched &&
                  form.controls['laborCost'].errors == null ,
                  'is-touched':
                  form.controls['laborCost'].untouched &&
                  form.controls['laborCost'].errors == null,
              }"
              />
              <img
                src="../../../../../assets/images/dollar-circle.png"
                alt="Icon"
                class="input-icon"
              />
            </div>
          </div>
          <div class="col-6 form-group">
            <label class="form-label">Martial Cost</label>
            <div class="custom-input">
              <input
                type="text"
                class="textarea form-control"
                placeholder="Martial Cost"
                formControlName="materialCost"
                [ngClass]="{
                  'is-invalid':
                  form.controls['materialCost'].touched &&
                  form.controls['materialCost'].errors,
                  'is-valid':
                  form.controls['materialCost'].touched &&
                  form.controls['materialCost'].errors == null ,
                  'is-touched':
                  form.controls['materialCost'].untouched &&
                  form.controls['materialCost'].errors == null,
              }"
              />
              <img
                src="../../../../../assets/images/dollar-circle.png"
                alt="Icon"
                class="input-icon"
              />
            </div>
          </div>
          <div class="col-6 form-group">
            <label class="form-label">Service Cost</label>
            <div class="custom-input">
              <input
                type="text"
                class="textarea form-control"
                placeholder="Service Cost"
                formControlName="serviceCost"
                [ngClass]="{
                  'is-invalid':
                  form.controls['serviceCost'].touched &&
                  form.controls['serviceCost'].errors,
                  'is-valid':
                  form.controls['serviceCost'].touched &&
                  form.controls['serviceCost'].errors == null ,
                  'is-touched':
                  form.controls['serviceCost'].untouched &&
                  form.controls['serviceCost'].errors == null,
              }"
              />
              <img
                src="../../../../../assets/images/dollar-circle.png"
                alt="Icon"
                class="input-icon"
              />
            </div>
          </div>
          <div class="col-6 form-group">
            <label class="form-label">Additional Cost </label>
            <div class="custom-input">
              <input
                type="text"
                class="textarea form-control"
                placeholder="Additional Cost"
                formControlName="additionalCost"
                [ngClass]="{
                  'is-invalid':
                  form.controls['additionalCost'].touched &&
                  form.controls['additionalCost'].errors,
                  'is-valid':
                  form.controls['additionalCost'].touched &&
                  form.controls['additionalCost'].errors == null ,
                  'is-touched':
                  form.controls['additionalCost'].untouched &&
                  form.controls['additionalCost'].errors == null,
              }"
              />
              <img
                src="../../../../../assets/images/dollar-circle.png"
                alt="Icon"
                class="input-icon"
              />
            </div>
          </div>
        </div>
        <div
          class="col-12 my-5 row btns d-flex justify-content-center align-items-center"
        >
          <button class="col-4 action-btn btn mx-2">Cancel</button>
          <button class="col-4 save-btn btn mx-2" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-assign-task-popup
  *ngIf="isAssignTaskVisible"
  (closeAssignTask)="onAssignTaskClose($event)"
></app-assign-task-popup>

<app-evaluatoion
  *ngIf="isEvaluationVisible"
  (closeEvaluationPopup)="onEvaluationClose($event)"
></app-evaluatoion>

<app-re-assign-task-popup
  *ngIf="isReAssignVisible"
  (closeAssignTask)="onReAssignTaskClose($event)"
></app-re-assign-task-popup>

<app-move-to-archive-popup
  *ngIf="isArchivedVisible"
  (closeArchivePopup)="onArchivedClose($event)"
></app-move-to-archive-popup>
