* {
  font-family: Lama Sans;
}
.container {
  margin: auto;
}
.w-85 {
  width: 85%;
}
.taskImg {
  width: 100%;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.edit-btn {
  background: white;
  width: Fixed (226px) px;
  height: Hug (52px) px;
  padding: 12px;
  border-radius: 10px;
  opacity: 0px;
  color: #736f77;
  border: 1px solid #736f77;
  width: 80%;
  gap: 0.2em;
  display: flex;
  justify-content: center;
}
.lead {
  margin: 0 !important;
}
.task-details-card {
  background-color: #fff;
  border-radius: 10px;
}
.date-description {
  color: #736f77;
  font-weight: 300;
  font-size: 18px;
}

.date {
  color: #0d0714;
  font-weight: 500;
  font-size: 18px;
}
.task-details-card-title {
  color: #141522;
  font-weight: 700;
  font-size: 32px;
}
.task-details-card-description {
  width: 100%;
}
.task-details-card-description-title {
  color: #141522;
  font-weight: 700;
  font-size: 24px;
}
.task-details-card-description-details {
  color: #736f77;
  font-weight: 300;
  font-size: 16px;
  word-wrap: break-word; /* Break long words if necessary */
  word-break: break-word; /* Ensure long words break properly */
  white-space: normal; /* Allow text to wrap */
  overflow-wrap: anywhere; /* Handle text overflow gracefully */
}
.date-description-currency {
  color: #8413f8;
  font-weight: 700;
  font-size: 16px;
}
.date-description-time {
  color: #736f77;
  font-weight: 500;
  font-size: 16px;
}

.todo-container {
  background: #fff;
  border-radius: 10px;
}

.task-status {
  border-radius: 10px;
  background: #fff;
}
.single-todo-card {
  display: flex;
  justify-items: center;
  flex-flow: row;
  height: Hug (47px) px;
  background-color: #fbfbfb;
  border-radius: 10px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.single-todo-card-details {
  color: #736f77;
}
.single-todo-card-details span {
  color: #36313c;
  font-weight: 700;
  font-size: 16px;
}

.form-label {
  color: #0d0714;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.save-btn {
  border: 1px solid #8413f8;
  background-color: #8413f8;
  color: #ffffff;
}
.action-btn {
  border: 1px solid #8413f8;
  background-color: #fbfbfb;
  color: #8413f8;
}
input {
  height: 48px;
}
.form-group input,
textarea {
  background-color: #fbfbfb;
  border-radius: 10px;
  border: 1px solid #e7e6e8;
}

.input-icon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

input:focus,
textarea:focus {
  border-color: #8413f8;
  box-shadow: 0 0 5px #8613f84d;
}
input:active,
textarea:active {
  border-color: #8413f8;
}
.custom-input {
  position: relative;
  display: flex;
  align-items: center;
}
.custom-input input {
  width: 100%;
}

.btns button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.state {
  background: #fafafa;
  border-radius: 10px;
  margin-bottom: 50px;
}
.state-text p {
  font-size: 20px;
  font-weight: 700;
  color: #36313c;
}
.state-text span {
  font-size: 16px;
  font-weight: 300;
  color: #54577a;
}

.not-state {
  position: relative;
}
.not-state::before {
  position: absolute;
  top: 100%;
  left: 11%;
  width: 2px;
  height: 67px;
  background-color: #ecebeb;
  /* linear-gradient(to bottom right, , #FF8800); */
  content: "";
  z-index: 50;
}

.state-todo {
  position: relative;
}
.state-todo::before {
  position: absolute;
  top: 100%;
  left: 11%;
  width: 2px;
  height: 67px;
  background-color: #0898cd;
  /* linear-gradient(to bottom right, , #FF8800); */
  content: "";
  z-index: 100;
}
.state-inProgress {
  position: relative;
}
.state-inProgress::before {
  position: absolute;
  top: 100%;
  left: 11%;
  width: 2px;
  height: 67px;
  background-color: #ff8800;
  /* linear-gradient(to bottom right, , #FF8800); */
  content: "";
  z-index: 100;
}
.state-review {
  position: relative;
}
.state-review::before {
  position: absolute;
  top: 100%;
  left: 11%;
  width: 2px;
  height: 67px;
  background-color: #8413f8;
  /* linear-gradient(to bottom right, , #FF8800); */
  content: "";
  z-index: 100;
}
.active-inprograss {
  border: 1px solid #ff8800;
  box-shadow: 2px 2px 20px 0 #ff88005b;
}
.active-done {
  border: 1px solid #ff8800;
  box-shadow: 2px 2px 20px 0 #9aca3c4d;
}
.active-todo {
  border: 1px solid #0898cd57;
  box-shadow: 2px 2px 20px 0 #ff88005b;
}
.active-review {
  border: 1px solid #8613f83f;
  box-shadow: 2px 2px 20px 0 #ff88005b;
}

.is-invalid {
  outline: 1px solid red;
}
.invalid-feedback {
  color: red;
  /* width: 80%; */
}
.is-valid:focus {
  outline: 1px solid blue;
}
.is-untouched {
  outline: 1px solid lightgray;
}
.employeeImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
