<div class="container  py-5">
  <div class="row action-section justify-content-between  align-items-center">
    <div class="col-3">
      <p class="lead">Details</p>
    </div>
    <div class="col-3">
      <button class="btn edit-btn" routerLink="../AddAssets"><img src="../../../../../assets/images/edit-2.png">edit</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 col-md-12">
      <div class="task-details-card">
        <img src="../../../../../assets/images/Video Task.png" class="w-100">
        <div class="task-details-card-text  p-3">
          <h3 class="task-details-card-title">Creating Awesome Mobile Apps</h3>
          <div class="task-details-card-details row">
              <div class="col-6">
                <div class="d-flex flex-row justify-content-between align-items-center w-75">
                  <img src="../../../../../assets/images/calendar-2.png">
                  <span class="date-description">From (Date)</span>
                  <span class="date">15/11/2024</span>
                </div>
              </div>
              <div class="col-6">
                <div class="d-flex flex-row justify-content-between align-items-center  w-75">
                  <img src="../../../../../assets/images/calendar-2.png">
                  <span>From (Date)</span>
                  <span>15/11/2024</span>
                </div>
              </div>
          </div>
          <div class="task-details-card-description py-2">
            <p class="task-details-card-description-title">Description</p>
            <p class="task-details-card-description-details">Follow the video tutorial above. Understand how to use each tool in the Figma application. Also learn how to make a good and correct design.</p>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-12">

    </div>
  </div>
</div>


<div class="container py-3">

</div>

