*{
  font-family: Lama Sans  ;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.edit-btn {
  background: white;
  width: Fixed (226px)px;
  height: Hug (52px)px;
  padding: 12px;
  border-radius: 10px;
  opacity: 0px;
  color:  #736F77;
  border: 1px solid #736F77;
  width: 80%;
  gap: 0.2em;
  display: flex;
  justify-content: center;
}
.task-details-card{
  background-color: #fff;
  border-radius: 10px;

}
.task-details-card-text{

}
.date-description{
  color:#736F77 ;
  font-weight: 300;
  font-size: 18px;
}

.date{
  color:#0D0714;
  font-weight: 500;
  font-size: 18px;
}
.task-details-card-title{
  color:#141522;
  font-weight: 700;
  font-size: 32px;
}
.task-details-card-description-title
{
  color:#141522;
  font-weight: 700;
  font-size: 24px;
}
.task-details-card-description-details{
  color:#736F77;
  font-weight: 300;
  font-size: 16px;
}
