<div class="container mt-4">
  <div class="row">
    <div class="editbtn col-12" *ngIf="role[0] === 'Admin'">
      <button (click)="toggleEdit()">
        <i style="color: white;" class="fa-solid fa-pen-to-square"></i>
        {{ editMode ? ('PROFILE_DETAILS.CANCEL' | translate) : ('PROFILE_DETAILS.EDIT' | translate) }}
      </button>
    </div>
  </div>

  <form *ngIf="editMode" [formGroup]="companyForm" (ngSubmit)="submitForm()">
    <div class="row">
      <!-- File upload for company logo -->
      <div class="col-lg-6 justify-content-center d-flex col-md-12 col-sm-12">
        <label for="fileInput">
          <img [src]="uploadedImageBase64 || companyForm.get('logo')?.value || '../../../../../assets/images/softic/default.png'"
          alt="{{ 'PROFILE_DETAILS.UPLOAD_ICON' | translate }}" class="upload-icon" style="cursor: pointer; width: 150px; height: 150px;">
          <input type="file" id="fileInput" (change)="onFileChange($event)" accept="image/*" style="display: none;">
        </label>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div>
          <p class="upload-text">{{ 'PROFILE_DETAILS.EDIT_COMPANY_LOGO' | translate }}</p>
          <p class="upload-instructions">
            {{ 'PROFILE_DETAILS.UPLOAD_INSTRUCTIONS' | translate }}
          </p>
        </div>
      </div>
    </div>

    <!-- Company Details Form -->
    <div class="row">
      <div class="form-group col-lg-6">
        <label for="name">{{ 'PROFILE_DETAILS.COMPANY_NAME' | translate }}</label>
        <input id="name" formControlName="name" type="text" class="form-control" />
      </div>
      <div class="form-group col-lg-6">
        <label for="nameAr">{{ 'PROFILE_DETAILS.COMPANY_NAME_AR' | translate }}</label>
        <input id="nameAr" formControlName="nameAr" type="text" class="form-control" />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="primaryColor">{{ 'PROFILE_DETAILS.PRIMARY_COLOR' | translate }}</label>
          <input type="color" id="primaryColor" formControlName="primaryColor" class="form-control" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="secondaryColor">{{ 'PROFILE_DETAILS.SECONDARY_COLOR' | translate }}</label>
          <input type="color" id="secondaryColor" formControlName="secondaryColor" class="form-control" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-lg-6">
        <label for="phone">{{ 'PROFILE_DETAILS.PHONE' | translate }}</label>
        <ngx-intl-tel-input
          [cssClass]="'custom w-100'"
          [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="true"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [searchCountryField]="searchCountryFields"
          [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.SaudiArabia"
          [maxLength]="15"
          [phoneValidation]="true"
          formControlName="phone"
          [separateDialCode]="true">
        </ngx-intl-tel-input>
        <div *ngIf="companyForm.get('phone')?.invalid && companyForm.get('phone')?.touched">
          <small class="text-danger">{{ 'PROFILE_DETAILS.INVALID_PHONE' | translate }}</small>
        </div>
      </div>
      <div class="form-group col-lg-6">
        <label for="phoneNumber">{{ 'PROFILE_DETAILS.MOBILE_NUMBER' | translate }}</label>
        <ngx-intl-tel-input
          [cssClass]="'custom w-100'"
          [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="true"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [searchCountryField]="searchCountryFields"
          [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.Egypt"
          [maxLength]="15"
          [phoneValidation]="true"
          formControlName="phoneNumber"
          [separateDialCode]="true">
        </ngx-intl-tel-input>
        <div *ngIf="companyForm.get('phoneNumber')?.invalid && companyForm.get('phoneNumber')?.touched">
          <small class="text-danger">{{ 'PROFILE_DETAILS.INVALID_MOBILE' | translate }}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="address">{{ 'PROFILE_DETAILS.ADDRESS' | translate }}</label>
          <input required type="text" id="address" formControlName="address" class="form-control" />
        </div>
      </div>
      <div class="form-group col-lg-6">
        <label for="email">{{ 'PROFILE_DETAILS.EMAIL' | translate }}</label>
        <input id="email" formControlName="email" type="email" class="form-control" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="webSite">{{ 'PROFILE_DETAILS.WEBSITE' | translate }}</label>
          <input type="text" id="webSite" formControlName="webSite" class="form-control" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label for="facebook">{{ 'PROFILE_DETAILS.FACEBOOK' | translate }}</label>
          <input type="text" id="facebook" formControlName="facebook" class="form-control" />
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <!-- Description -->
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('description')}">
          <label for="description">{{ 'PROFILE_DETAILS.DESCRIPTION' | translate }}</label>
          <textarea id="description" formControlName="description" class="form-control CustomModelInput"
            placeholder="{{ 'PROFILE_DETAILS.DESCRIPTION' | translate }}" minlength="100" maxlength="250"></textarea>
          <p class="char-counter">{{ companyForm.get('description')?.value?.length || 0 }} / 250</p>
          <div *ngIf="isFieldInvalid('description')" class="text-danger">
            <small *ngIf="companyForm.get('description')?.errors?.['required']">{{ 'PROFILE_DETAILS.DESCRIPTION_REQUIRED' | translate }}</small>
            <small *ngIf="companyForm.get('description')?.errors?.['minlength']">{{ 'PROFILE_DETAILS.DESCRIPTION_MIN' | translate }}</small>
            <small *ngIf="companyForm.get('description')?.errors?.['maxlength']">{{ 'PROFILE_DETAILS.DESCRIPTION_MAX' | translate }}</small>
          </div>
        </div>
      </div>

      <!-- Description (Arabic) -->
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('descriptionAr')}">
          <label for="descriptionAr">{{ 'PROFILE_DETAILS.DESCRIPTION_AR' | translate }}</label>
          <textarea id="descriptionAr" formControlName="descriptionAr" class="form-control CustomModelInput"
            placeholder="{{ 'PROFILE_DETAILS.DESCRIPTION_AR' | translate }}" minlength="100" maxlength="250"></textarea>
          <p class="char-counter">{{ companyForm.get('descriptionAr')?.value?.length || 0 }} / 250</p>
          <div *ngIf="isFieldInvalid('descriptionAr')" class="text-danger">
            <small *ngIf="companyForm.get('descriptionAr')?.errors?.['required']">{{ 'PROFILE_DETAILS.DESCRIPTION_REQUIRED_AR' | translate }}</small>
            <small *ngIf="companyForm.get('descriptionAr')?.errors?.['minlength']">{{ 'PROFILE_DETAILS.DESCRIPTION_MIN_AR' | translate }}</small>
            <small *ngIf="companyForm.get('descriptionAr')?.errors?.['maxlength']">{{ 'PROFILE_DETAILS.DESCRIPTION_MAX_AR' | translate }}</small>
          </div>
        </div>
      </div>
    </div>

    <!-- Save Button -->
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-next w-25">{{ 'PROFILE_DETAILS.SAVE' | translate }}</button>
    </div>
  </form>

  <!-- Display company details when not in edit mode -->
  <div *ngIf="!editMode" class="about-container row">
    <div class="about-content col-lg-6 col-md-12 col-sm-12">
      <h2>{{ 'PROFILE_DETAILS.ABOUT' | translate }}</h2>
      <p class="info-description">
        {{ isArabic ? (company.descriptionAr || 'PROFILE_DETAILS.NO_DATA' | translate) : (company.description ||
        'PROFILE_DETAILS.NO_DATA' | translate) }}
      </p>
    </div>
    <div class="contact-details col-lg-6 col-md-6 col-sm-12">
      <ul>
        <li><strong>{{ 'PROFILE_DETAILS.ADDRESS' | translate }}</strong>:
          {{ company.address || ('PROFILE_DETAILS.NO_DATA' | translate) }}
        </li>
        <li><strong>{{ 'PROFILE_DETAILS.EMAIL' | translate }}</strong>:
          {{ company.email || ('PROFILE_DETAILS.NO_DATA' | translate) }}
        </li>
        <li><strong>{{ 'PROFILE_DETAILS.MOBILE_NUMBER' | translate }}</strong>:
          {{ company.phoneNumber || ('PROFILE_DETAILS.NO_DATA' | translate) }}
        </li>
        <li><strong>{{ 'PROFILE_DETAILS.FAX' | translate }}</strong>:
          {{ company.fax || ('PROFILE_DETAILS.NO_DATA' | translate) }}
        </li>
        <li><strong>{{ 'PROFILE_DETAILS.PHONE' | translate }}</strong>:
          {{ company.phone || ('PROFILE_DETAILS.NO_DATA' | translate) }}
        </li>
      </ul>
    </div>
  </div>
</div>

<p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'1000ms'"></p-toast>
