.about-container {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap */
    justify-content: space-between;
    margin-top: 1em;
    padding: 1em;
}

.about-content {
    flex: 1;
    margin-right: 20px;
    background: white;
    padding: 2em;
}

.about-content h2 {
    color: #36313C;
    font-family: Lama Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.about-content p {
    color: #36313C;
    font-family: Lama Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.contact-details {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;  
}

.contact-details ul {
    list-style: none;
    padding: 2em;
}

.contact-details li {
    margin-bottom: 20px;    font-size: 16px;
     align-items: center;
}

.contact-details li strong {
    color: #36313C;
    font-family: Lama Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column; /* Stack items vertically on small screens */
    }

    .about-content,
    .contact-details {
        margin-right: 0;
        margin-top: 20px;
    }

    .editbtn {
        justify-content: center; /* Center align button on smaller screens */
    }
}

.editbtn {
    display: flex;
    justify-content: end;
    margin-top: 2em;
}

.editbtn button {
    padding: 14px 0px;
    gap: 0px;
    border-radius: 10px;
    background: #9ACA3C;
    width: 200px;
    color: white;
    border-color: transparent;
}

.info-description {
    color: #736F77;
    font-family: 'Lama Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    word-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}
