<div class="container">
  <div class="row">
    <div class="editbtn">
      <button><i style="color: white;" class="fa-solid fa-pen-to-square"></i> Edit </button>
    </div>
  </div>
  <div class="about-container row">
    <div class="about-content col-lg-6 col-md-12 col-sm-12">
      <h2>About</h2>
      <p>
      {{company.description}}
      </p>
    </div>
    <div class="contact-details col-lg-6 col-md-12 col-sm-12">
      <ul>
        <li><strong>City</strong>: {{cityName}}</li>
        <li><strong>Country</strong>: {{countryName}}</li>
        <li><strong>Address</strong>:{{company.address}}</li>
        <li><strong>Email</strong>:{{company.email}}</li>
        <li><strong>Mobile</strong>:{{company.phoneNumber}}</li>
        <li><strong>Fax</strong>:{{company.fax}}</li>
        <li><strong>Phone</strong>:{{company.phone}}</li>
      </ul>
    </div>
  </div>
</div>
