<div class="container mt-4">
  <div class="row">
    <div class="col-12 editbtn">
      <button>
        <i style="color: white;" class="fa-solid fa-pen-to-square"></i>
        {{ 'PROFILE_DETAILS.EDIT' | translate }}
      </button>
    </div>
  </div>
  <div class="row about-container">
    <div class="about-content col-lg-6 col-md-6 col-sm-12">
      <h2>{{ 'PROFILE_DETAILS.ABOUT' | translate }}</h2>
      <p class="info-description">
        {{ isArabic ? (company.descriptionAr || 'PROFILE_DETAILS.NO_DATA' | translate) : (company.description || 'PROFILE_DETAILS.NO_DATA' | translate) }}
      </p>
    </div>
    <div class="contact-details col-lg-6 col-md-6 col-sm-12">
      <ul>
        <li><strong>{{ 'PROFILE_DETAILS.ADDRESS' | translate }}</strong>: 
          {{ company.address || ('PROFILE_DETAILS.NO_DATA' | translate) }}
        </li>
        <li><strong>{{ 'PROFILE_DETAILS.EMAIL' | translate }}</strong>: 
          {{ company.email || ('PROFILE_DETAILS.NO_DATA' | translate) }}
        </li>
        <li><strong>{{ 'PROFILE_DETAILS.MOBILE' | translate }}</strong>: 
          {{ company.phoneNumber || ('PROFILE_DETAILS.NO_DATA' | translate) }}
        </li>
        <li><strong>{{ 'PROFILE_DETAILS.FAX' | translate }}</strong>: 
          {{ company.fax || ('PROFILE_DETAILS.NO_DATA' | translate) }}
        </li>
        <li><strong>{{ 'PROFILE_DETAILS.PHONE' | translate }}</strong>: 
          {{ company.phone || ('PROFILE_DETAILS.NO_DATA' | translate) }}
        </li>
      </ul>
    </div>
  </div>
</div>
