.about-container {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap */
    justify-content: space-between;
    margin-top: 1em;
    padding: 1em;
}


.about-content h2 {
    color: #36313C;
    font-family: Lama Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.about-content p {
    color: #36313C;
    font-family: Lama Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.contact-details ,.about-content{
    /* flex: 1; */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px ;
    height: 90%;
}

.contact-details ul ,.contact-details .details-container{
    list-style: none;
    padding: 2em;
}

.contact-details li,.contact-details .detail {
    margin-bottom: 20px;    font-size: 16px;
     align-items: center;
}

.contact-details li strong {
    color: #36313C;
    font-family: Lama Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column; /* Stack items vertically on small screens */
    }

    .about-content,
    .contact-details {
        margin-right: 0;
        margin-top: 20px;
    }

    .editbtn {
        justify-content: center; /* Center align button on smaller screens */
    }
}

.editbtn {
    display: flex;
    justify-content: end;
    margin-top: 2em;
}

.editbtn button {
    padding: 14px 0px;
    gap: 0px;
    border-radius: 10px;
    background: #663895;
    width: 200px;
    color: white;
    border-color: transparent;
}

.info-description {
    color: #736F77;
    font-family: 'Lama Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    word-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 6em;
    padding-right: 6em;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    width: 75%;
}

.upload-section {
    margin-bottom: 20px;
    display: flex;
    gap: 3em;
    align-items: center;
}

.upload-text {
    font-family: Lama Sans;
    font-size: 19.07px;
    font-weight: 700;
    line-height: 38.13px;
}

.upload-instructions {
    color: #9C999F;
    font-family: Lama Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    width: 80%;
}



.form-actions {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn-cancel {
    background-color: #f8f9fa;
    color: #333;
}

.btn-next {
    background-color: #6f42c1;
    color: #fff;
}

@media (max-width: 991.98px) {
    .form-container {
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
    }
}
.form-group{
    margin-top: 1.6em;
}
.upload-icon{
    max-width: 340px;
    max-height: 340px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-right: 10px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #6200EE;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .toggle-label {
    font-weight: normal;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
  }