<div class="filter-popup">
    <div class="filter-popup-content">
        <div class="filterHeader">
            <p> <img class="filter" src="../../../../../assets/images/filter-search.svg">
                {{'assignAssetPopup.Title'|translate}} </p>
        </div>
        <form (ngSubmit)="Submit()">
            <div class="form-group">
                <label for="Name">{{'assignAssetPopup.Name'|translate}}</label>
                <app-drop-down
                [placeholder]="'Select Employee'"
                [placeholderSearch]="'Search by Name'"
                [items]="employees"
                [currentPage]="employeePage"
                [itemsLength]="employees.length"
                (getNextPageApi)="loadEmployees()"
                (search)="loadEmployees()"
                (onChange)="onEmployeeSelect($event)"
              ></app-drop-down>
            </div>
            <div class="form-group">
                <label for="assignDate">{{'assignAssetPopup.Assign Date'|translate}}</label>
                <input
                    type="date"
                    id="assignDate"
                    name="assignDate"
                    style="text-transform: lowercase;"
                    [(ngModel)]="assignDate"
                    required
                >
            </div>
            <div class="d-flex justify-content-center gap-2">
                <button class="apply-btn" type="submit">{{'assignAssetPopup.Submit'|translate}}</button>
                <button class="cancel-btn" type="button" (click)="closePopup()">{{'assignAssetPopup.Close'|translate}}</button>
            </div>
        </form>
    </div>
</div>
