<div class="container py-4 bgColor">
    <h3 class="text-center fw-bold customHeader mb-4">Contract</h3>
    <div class="row gy-3">
      <div class="col-12 col-md-6 border-bottom-custom">
        <label class="d-block fw-semibold text-dark">Attachment Name</label>
        <div class="text-muted">Contract</div>
      </div>
      <div class="col-12 col-md-6 border-bottom-custom">
        <label class="d-block fw-semibold text-dark">Attachment File</label>
        <div class="text-muted"><img src="../../../../../../../assets/images/attend.png" alt="attend"></div>
      </div>
    </div>
  </div>
