<div class="container py-4 bgColor">
  <h3 class="text-center fw-bold customHeader mb-4">Contract</h3>
  <div class="row gy-3">
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Attachment Name</label>
      <div class="text-muted">Contract</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Attachment File</label>
      <div class="text-muted">
        <!-- <img
          src="../../../../../../../assets/images/contract.jpg"
          alt="attend"
        /> -->
        <a
          href="../../../../../../../assets/images/SampleContract.pdf"
          target="_blank"
        >
          <img src="../../../../../../../assets/images/fileIcon2.png" style="width: 100px;height: 100px;" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
