<div class="container mt-4">
  <div class="form-container">
    <form>
      <div class="form-group">
        <label for="position">Position</label>
        <select id="position" name="position" [(ngModel)]="selectedPositionId">
          <option value="" disabled>Select Position</option>
          <option *ngFor="let item of types; trackBy: trackByPositionId" [value]="item.id">{{ item.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="department">Department</label>
        <select id="department" name="department" [(ngModel)]="selectedDepId">
          <option value="" disabled>Select department</option>
          <option *ngFor="let item of departments; trackBy: trackByDepartmentId" [value]="item.id">{{ item.name }}</option>
        </select>
      </div>
      <div class="form-group toggle-group">
        <label class="switch">
          <input type="checkbox" id="direct-manager" [(ngModel)]="isDirectManager" name="directManager">
          <span class="slider"></span>
        </label>
        <label for="direct-manager" class="toggle-label">Direct Manager</label>
      </div>
      <div class="form-buttons row">
        <div class="col-lg-6 justify-content-center d-flex">
          <button type="button" class="btn btn-secondary" (click)="onBack()">Back</button>
        </div>
        <div class="col-lg-6 justify-content-center d-flex">
          <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
<p-toast></p-toast>