<div class="container">
  <div class="row mt-4">
    <div class="justify-content-between d-flex align-items-center">
      <h2 class="section-title">
        <i class="fas fa-user"></i> {{ getEmployeeStatusLabel() | translate }}
      </h2>
      <button class="btn btn-new-employee" (click)="toggleEmployeeStatus()" *ngIf="!postionId">
        <i class="fas fa-bell"></i>
        {{ getEmployeeStatusLabelButton() | translate }}
      </button>
    </div>


  </div>
<div class="row" >
  <div class="col-8 mt-4" [ngClass]="{'col-12':!postionId}">
    <input [(ngModel)]="searchText" placeholder="{{ 'viewEmployees.SEARCH' | translate }}" class="form-control custom-search" (input)="loadEmployees()" />
  </div>
  <div class="mb-4 col-3" *ngIf="!postionId" >
    <label for="employeeStatus" class="form-label">{{"employeeFilteration" |translate}}</label>
    <select class="form-select" (change)="onOptionSelected($event)" id="exampleSelect"  >
      <option value="0">{{"AllEmployee"|translate}}</option>
      <option value="1">{{"ActiveEmployees" |translate}}</option>
      <option value="2">{{"PendingEmployees"|translate}}</option>
      <option value="3">{{"RejectedEmployees"|translate}}</option>
      <!-- <option value="4" >{{"ActivEmployees"|translate}}</option>
      <option value="5" >{{"DeactiveEmployees"|translate}}</option> -->
    </select>
  </div>

</div>
  <div class="table-responsive mt-4" *ngIf="filteredEmployees.length > 0; else noData">
    <table class="table custom-table">
      <thead>
        <tr  [ngClass]="{'arabic': isArabic }">
          <th>{{ 'viewEmployees.EMPLOYEE_NAME' | translate }}</th>
          <th>{{ 'viewEmployees.EMPLOYEE_ID' | translate }}</th>
          <th >{{ 'viewEmployees.DEPARTMENT' | translate }}</th>
          <th>{{ 'viewEmployees.POSITION' | translate }}</th>
          <th>{{ 'viewEmployees.HIRINDATE' | translate }}</th>
          <th>{{ 'viewEmployees.JOINDATE' | translate }}</th>
          <th>{{ 'viewEmployees.STATUS' | translate }}</th>
          <th>{{ 'viewEmployees.ACTION' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of filteredEmployees"   [ngClass]="{'arabic': isArabic }">
          <td>
            <div class="d-inline-flex justify-content-start align-items-center" >
              <img [src]="employee.referancePhoto || 'assets/images/default-user.png'" alt="Profile Image" class="profile-img"
              (error)="onImageError($event)" />

              <span class="mx-1 employee-name">{{ employee.fullName }}</span>
            </div>

          </td>
          <td>{{ employee.id }}</td>
          <td ><span *ngIf="employee.accountStatus==1">{{isArabic? employee.department?.nameAr:employee.department?.name}}</span></td>
          <td><span *ngIf="employee.accountStatus==1">{{isArabic? employee.position?.nameAr:employee.position?.name}}</span></td>
          <td>{{ employee.hiringDate| date: 'shortDate' :  undefined : (isArabic ? 'ar' : 'en')}}</td>
          <td><span *ngIf="employee.accountStatus==1">{{employee.dateOfJoined | date: 'shortDate' :  undefined : (isArabic ? 'ar' : 'en')}}</span></td>

          <td>
            <span class="active-state" *ngIf="employee.isActive && employee.accountStatus==1">{{"viewEmployees.ACTIVE"|translate}}</span>
            <span class="deactive-state" *ngIf="!employee.isActive && employee.accountStatus==1">{{"viewEmployees.DEACTIVTE"|translate}}</span>
          </td>
          <td>
            <button class="btn btn-sm"  (click)="viewDetails(employee)">
              <img src="../../../../../assets/images/view.png">
            </button>
            <button  *ngIf="!postionId && !employee.isActive && employee.accountStatus==1" class="btn btn-sm " (click)="openActiveModal(employee)">
              <img src="../../../../../assets/images/save-2.png" >
            </button>
            <button  *ngIf="!postionId && employee.isActive && employee.accountStatus==1" class="btn btn-sm " (click)="openDeactiveModal(employee)">
              <img src="../../../../../assets/images/save-remove.png">
            </button>
            <button  *ngIf="postionId" class="btn btn-sm" (click)="openDeleteEmployeeFromPositionModal(employee)">
              <img src="../../../../../assets/images/trash 01.png">
            </button>
            <button class="btn  " *ngIf="!postionId && employee.accountStatus==1" (click)="viewLocations(employee)">
              <img src='assets/images/Location_.png' alt="Profile Image" class="img-fluid"
               />
            </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noData>
    <div class="no-employees-container text-center mt-5">
      <p class="no-employees-message">{{ 'viewEmployees.NO_EMPLOYEES_FOUND' | translate }}</p>
    </div>
  </ng-template>

  <div class="d-flex justify-content-center mt-4">
    <pagination
      [totalItems]="totalRows"
      [(ngModel)]="currentPage"
      [itemsPerPage]="itemsPerPage"
      (pageChanged)="handlePageChange($event)"
      previousText="&laquo;"
      nextText="&raquo;">
    </pagination>
  </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ 'viewEmployees.DELETE_CONFIRMATION' | translate }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'viewEmployees.CANCEL' | translate }}</button>
        <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" (click)="confirmDelete()">{{ 'viewEmployees.DELETE' | translate }}</button>
      </div>
    </div>
  </div>
</div>
<!-- Deactive Confirmation Modal -->
<div class="modal fade" id="deactiveConfirmationModal" tabindex="-1" aria-labelledby="deactiveConfirmationModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ 'viewEmployees.DEACTIVE_CONFIRMATION' | translate }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'viewEmployees.CANCEL' | translate }}</button>
        <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" (click)="confirmDeactive()">{{ 'viewEmployees.DEACTIVE' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Active Confirmation Modal -->
<div class="modal fade" id="ActiveConfirmationModal" tabindex="-1" aria-labelledby="ActiveConfirmationModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ 'viewEmployees.ACTIVE_CONFIRMATION' | translate }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'viewEmployees.CANCEL' | translate }}</button>
        <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" (click)="confirmActive()">{{ 'viewEmployees.ACTIVTE' | translate }}</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="deleteEmployeeFromPositionConfirmationModal" tabindex="-1" aria-labelledby="deleteEmployeeFromPositionConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ 'viewEmployees.DELETEEmployeeFromPosITON_CONFIRMATION' | translate }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'viewEmployees.CANCEL' | translate }}</button>
        <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" (click)="confirmDeleteEmployeeFromPositon()">{{ 'viewEmployees.DELETE' | translate }}</button>
      </div>
    </div>
  </div>
</div>
