<div class="container">
  <div class="d-flex col-4 gap-3 align-items-start flex-row">
    <img src="../../../../../assets/images/send-1.png" alt="taskImg" />
    <p class="lead">{{ "Work flow managment" | translate }}</p>
    <img src="../../../../../assets/images/arrow-left2.png" alt="arrow" />
    <p class="lead">{{ "Add Request" | translate }}</p>
  </div>
  <div class="add-type-request-sm-container py-3 px-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" lass="form p-2">
      <div class="form-content container p-3 my-3">
        <div class="row gy-3 d-flex align-items-center">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="titleEn" class="form-label">{{
                "Title (English)" | translate
                }}</label>
              <input type="text" class="form-control" formControlName="name" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="titleAr" class="form-label">{{
                "Title (Arabic)" | translate
                }}</label>
              <input type="text" class="form-control" formControlName="nameAr" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-label">
                {{ "Request category" | translate }}
              </label>
              <app-drop-down [placeholder]="'Select Request category' | translate"
                [placeholderSearch]="'Search by Name' | translate" [items]="RequestCategories"
                [itemsLength]="RequestCategories.length" (getNextPageApi)="loadRequestCategory()"
                (search)="loadRequestCategory()" (onChange)="onRequestCategorySelect($event)">
              </app-drop-down>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group" *ngIf="selectedRequestCategory?.id === 3">
              <label class="d-flex align-items-center gap-2">
                <input type="checkbox" formControlName="containAsset" />
                {{ 'Contains Asset?' | translate }}
              </label>
            </div>
          </div>
          <div class="col-lg-6 align-items-center d-flex" *ngIf="selectedRequestCategory?.id !== 3">
            <div class="form-group w-100">
              <label *ngIf="selectedRequestCategory?.id === 2" class="form-label">
                {{ "Maximum Amount" | translate }}
              </label>
              <label *ngIf="selectedRequestCategory?.id !== 2" class="form-label">
                {{ "Maximum Days" | translate }}
              </label>

              <input type="number" class="form-control" formControlName="max" />
              <div *ngIf="isFieldInvalid('max')" class="text-danger">
                <small *ngIf="form.get('max')?.errors?.['required']">
                  {{ "addRequestType.validation.nameRequired" | translate }}
                </small>
              </div>
            </div>
          </div>

          <div class="col-lg-6 align-items-center d-flex" *ngIf="selectedRequestCategory?.id !== 3">
            <div class="form-group w-100">
              <label *ngIf="selectedRequestCategory?.id === 2" class="form-label">
                {{ "minimun Amount" | translate }}
              </label>
              <label *ngIf="selectedRequestCategory?.id !== 2" class="form-label">
                {{ "minimun Days" | translate }}
              </label>

              <input type="number" class="form-control" formControlName="min" />
              <div *ngIf="isFieldInvalid('min')" class="text-danger">
                <small *ngIf="form.get('min')?.errors?.['required']">
                  {{ "addRequestType.validation.nameRequired" | translate }}
                </small>
              </div>
            </div>
          </div>


          <div class="row d-grid gap-3">
            <div class="d-flex gap-1 flex-wrap" style="grid-column: 1 / -1">
              <div class="form-group">
                <label for="file">
                  <label for="photo">{{ "Assets.photo" | translate }}</label>
                  <div class="container-upload">
                    <div *ngIf="!fileType || fileType.startsWith('image/')" class="header">
                      <p>{{ "ASSET_UPLOADER.BROWSE_IMG" | translate }}</p>
                    </div>
                    <input id="file" type="file" accept="image/*" (change)="onFileChange($event)"
                      formControlName="RequestTypePhoto" class="form-control-file" />
                  </div>
                </label>
              </div>
              <div class="imgContainer">
                <img *ngIf="imagePreviewUrl && fileType?.startsWith('image/')" [src]="imagePreviewUrl"
                  alt="{{ 'ASSET_UPLOADER.SELECTED_FILE' | translate }}" class="img-preview" />
              </div>
            </div>
          </div>
          <div class="form-group toggle-group">
            <label class="switch">
              <input type="checkbox" formControlName="isCustomize" />
              <span class="slider"></span>
            </label>
            <label for="direct-manager" class="toggle-label">{{
              "Is Customize" | translate
              }}</label>
          </div>
        </div>
      </div>
      <div class="form-content container p-3 my-3" *ngIf="form.get('isCustomize')?.value">

        <div class="d-flex justify-content-end mb-3">
          <button type="button" class="btn addNewBtn" (click)="addRow()">Add New</button>
        </div>

        <div class="row gy-3" *ngFor="let configGroup of requestTypeConfigs.controls; let i = index"
          [formGroup]="configGroup">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-label">{{ "Branch" | translate }}</label>
              <app-drop-down [items]="Branches" [placeholder]="'Select Branch' | translate"
                [placeholderSearch]="'Search by Name' | translate" [itemsLength]="Branches.length"
                (onChange)="onBranchSelect($event, i)" (getNextPageApi)="loadBranchs()" (search)="loadBranchs()">
              </app-drop-down>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-label">{{ "Department" | translate }}</label>
              <app-drop-down [items]="departmentOptions[i]" [placeholder]="'Select Department' | translate"
                [placeholderSearch]="'Search by Name' | translate" [itemsLength]="departmentOptions[i]?.length || 0"
                (onChange)="onDepartmentSelect($event, i)"
                (getNextPageApi)="loadDepartments(configGroup.value.branchId!, i)"
                (search)="loadDepartments(configGroup.value.branchId!, i)">
              </app-drop-down>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-label">{{ "Position" | translate }}</label>
              <app-drop-down [items]="positionOptions[i]" [placeholder]="'Select Position' | translate"
                [placeholderSearch]="'Search by Name' | translate" [itemsLength]="positionOptions[i]?.length || 0"
                (onChange)="onPositionSelect($event, i)"
                (getNextPageApi)="loadPositions(configGroup.value.departmentId!, i)"
                (search)="loadPositions(configGroup.value.departmentId!, i)">
              </app-drop-down>
            </div>
          </div>
          <div class="col-lg-6 d-flex justify-content-center align-items-center ">
            <label class="form-label"> </label>
            <label class="form-label"> </label>

            <div class="col-lg-6 d-flex align-items-center">
              <button type="button" class="btn RemoveBtn" (click)="removeRow(i)">
                Remove
              </button>
            </div>
          </div>
          <hr class="custom-divider" />

        </div>
      </div>

      <div>
        <button class="btn btn-primary w-100" type="submit" [disabled]="!form.valid || isSubmitting">
          Add Request Type
        </button>
      </div>
    </form>
  </div>
  <div class="table">
    <table class="table  mt-4">
      <thead>
        <tr>
          <th>{{ 'Title EN' | translate }}</th>
          <th>{{ 'Title AR' | translate }}</th>
          <th>{{ 'Action' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let requestType of requestTypes" (click)="navigateToDetails(requestType.id)"
          style="cursor: pointer;">
          <td>{{ requestType.name }}</td>
          <td>{{ requestType.nameAr }}</td>
          <td>
            <button class="btn btn-sm" (click)="deleteRequestType(requestType.id); $event.stopPropagation()">
              <img src="../../../../../../assets/images/trash 01.png" alt="trash" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>