.container{
  background: #fff;
  border-radius: 14px;
  width: 90%;
}
.form-group{

}

.form-label{
  color: #0D0714;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;

}
.action-btn{
  border: 1px solid #8413F8;
  background-color: #8413F8;
  color: #FBFBFB;
}
.cancel-btn{
  border: 1px solid #8413F8;
  background-color: #FBFBFB;
  color: #8413F8;
}
input{
  height:48px ;
}
.form-group input,textarea{
  background-color:#FBFBFB;
  border-radius: 10px;
  border: 1px solid #E7E6E8;
}
textarea{
  height: 176px;
}
input::placeholder,textarea::placeholder{
  color: #9C999F;
}
.single-todo-card{
  display: flex;
  justify-items: center;
  flex-flow: row;
  height:Hug (47px)px;
  background-color: #FBFBFB;
  border-radius: 10px;
  margin-top:18px ;
  margin-bottom: 18px;
}

input:focus ,textarea:focus {
  border-color: #8413F8;
  box-shadow: 0 0 5px #8613f84d;
}
input:active ,textarea:active{
  border-color: #8413F8;
}

.type-file{
  display: none;
}
.file-upload-label{
    color: #8413F8;
    background-color: #fff;
    border: 1px solid #8413F8;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    height:48px ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.input-icon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  pointer-events: none;
}


.custom-input {
  position: relative;
  display: flex;
  align-items: center;
}
.custom-input input {
  width: 100%;
}

.is-invalid {
  outline: 1px solid red;
}
.invalid-feedback {
  color: red;
  /* width: 80%; */
}
.is-valid:focus {
  outline: 1px solid blue;
}
.is-untouched {
  outline: 1px solid lightgray;
}
.form-group{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.container-upload {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border: 2px dashed royalblue;
  background-color: #f8f9fa;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}
.header {
  flex: 1;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  /* padding: 2em; */
}

.header svg {
  height: 100px;
}

.header p {
  text-align: center;
  color: black;
}

.footer {
  background-color: rgba(0, 110, 255, 0.075);
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  border: none;
}

.footer svg {
  height: 130%;
  fill: royalblue;
  background-color: rgba(70, 66, 66, 0.103);
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.footer p {
  flex: 1;
  text-align: center;
}

.file-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: #333;
  /* width: 250px; */
}

.file-info i {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 10px;
}

.file-info span {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.img-preview {
  width: 100px;
  height: 100px;
  position: static;
  object-fit: cover;
  border-radius: 10px;
  z-index: 1;
}
.upload-message {
  margin-top: 10px;
  font-size: 14px;
  color: green;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
#file, #attachmentfile {
  display: none;
}
.header,
.footer,
.upload-message {
  order: 1;
}

.custom-select {
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  color: black;
  border: 1px solid #e7e6e8 !important;
  background: #fbfbfb !important;
  border-radius: 8px;
}

