<div class="container px-5">
  <div class="form py-2 ">

      <div class="form-group my-3">
        <label class="form-label">Task Name</label>
        <div class="row">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Please write your message no more than 300 words">
          </div>
          <div class="col-6">
            <label for="file-upload" class="file-upload-label">Upload File</label>
            <input type="file" id="file-upload" class="form-control type-file" placeholder="Please write your message no more than 300 words">
          </div>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-12 form-group">
          <label class="form-label">Task Details</label>
          <textarea class="textarea form-control " placeholder="Please write your message no more than 300 words"></textarea>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-6 ">
          <div class="form-group">
            <label class="form-label">from (date)</label>
            <input type="date" class="form-control" >
          </div>
        </div>
        <div class="col-6 ">
          <div class="form-group">
            <label class="form-label">to (date)</label>
            <input type="date" class="form-control" >
          </div>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-12 form-group">
          <label class="form-label">Initial cost</label>
          <div class="custom-input">
            <input type="text" class="textarea form-control " placeholder="Please write your message no more than 300 words"/>
            <img src="../../../../../assets/images/dollar-circle.png" alt="Icon" class="input-icon" />
          </div>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-6 ">
          <div class="form-group">
            <label class="form-label">Assign to</label>
            <input type="text" class="form-control" placeholder="@Yomna Ashraf">
          </div>
        </div>
        <div class="col-6 ">
          <div class="form-group">
            <label class="form-label">Position</label>
            <input type="text" class="form-control" placeholder="Ui/UX">
          </div>
        </div>

        <div class="col-12  d-flex justify-content-center align-items-center py-4">
          <button class="btn action-btn">add employee</button>
        </div>
      </div>
  </div>

</div>

<div class="container mt-3 py-5 px-5">
  <div class="d-flex justify-content-between align-items-center  ">
    <p class="lead">Task board</p>
    <button class="btn action-btn" routerLink="../AddAssets">Add to do list</button>
  </div>
  <div class="row">
    <div class="single-todo-card">
      <p class="single-todo-card-details">1-1-1-1-1-1-1-1-</p>

    </div>
    <div class="single-todo-card">
      <p class="single-todo-card-details">1-1-1-1-1-1-1-1-</p>
    </div>
    <div class="single-todo-card">
      <p class="single-todo-card-details">1-1-1-1-1-1-1-1-</p>
    </div>
    <div class="single-todo-card">
      <p class="single-todo-card-details">1-1-1-1-1-1-1-1-</p>
    </div>
  </div>

</div>
