.add-type-request-sm-container
{
  background-color: white;
  border-radius: 14px;
}
.form{
  background: #FAF9FE;
  border-radius: 14px;
}
.form-content{
  background-color: white;
  border-radius: 14px;
}

.edit-btn {
  top: 98px;
  left: 1138px;
  padding: 14px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  background: white;
  color: #8413F8;
  border: 1px solid #8413F8;
  width: 200px;
}
.table {
  width: 100%;
   margin: 20px 0;
  font-size: 1em;
 }

.table th,
.table td {
  padding: 12px 15px; 
 }

 

.table-container {
  overflow-x: auto; 
}

.save-btn{
  top: 98px;
  left: 1138px;
  padding: 14px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
   color: white;
  border: 1px solid #8413F8;
  width: 200px;
  background-color: #8413F8;
}