<div class="container">
    <div class="form-group">
        <label for="team-leader">{{ 'employeeDetails.Team_Leader' | translate }}</label>
        <select id="team-leader" class="form-control">
            <option selected>{{ 'employeeDetails.George_Mikhaiel' | translate }}</option>
        </select>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="shift-start">{{ 'employeeDetails.Shift_Start_Time' | translate }}</label>
                <input type="time" id="shift-start" class="form-control" value="01:30">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="shift-end">{{ 'employeeDetails.Shift_End_Time' | translate }}</label>
                <input type="time" id="shift-end" class="form-control" value="21:30">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <button class="btn-cancel">{{ 'employeeDetails.Cancel' | translate }}</button>
        </div>
        <div class="col-lg-6">
            <button class="btn-save">{{ 'employeeDetails.Save' | translate }}</button>
        </div>
    </div>
</div>
