<div class="filter-popup">
  <div class="filter-popup-content">
    <div class="filterHeader">
      <p>
        <img
          class="filter"
          src="../../../../../assets/images/filter-search.svg"
        />
      {{'RelatedAssetPopup.TITLE'|translate}}
      </p>,

    </div>
    <form (ngSubmit)="Submit()">
      <div class="form-group">
        <label for="Name">{{'RelatedAssetPopup.Name'|translate}}</label>

      <!-- <app-drop-down
        [placeholder]="'Select main Asset'"
        [placeholderSearch]="'Search by Name'"
        [items]="assets"
        [currentPage]="assetsPage"
        [itemsLength]="assets?.length"
        (getNextPageApi)="loadAssets()"
        (search)="loadAssets()"
        (onChange)="getChild()"
      ></app-drop-down> -->

        <select name="childId" [(ngModel)]="childId" (change)="getChild()">
          <option *ngFor="let item of assets" [value]="item.id">
            @if (lang == 'en') {
            {{ item.name }}} @else{
            {{ item.nameAr }}
            }</option>
        </select>

      </div>

      <!-- <label for="mainAssetId">{{ "ADD_ASSETS.ASSETS" | translate }}d</label>
                  <select
                    id="mainAssetId"
                    formControlName="mainAssetId"
                    class="form-control"
                  >
                    <option value="" disabled>
                      {{ "ADD_ASSETS.SELECT_POSITION" | translate }}
                    </option>
                    <option *ngFor="let item of assets" [value]="item.id">
                      @if (lang == 'en') {
                      {{ item.name }}} @else{
                      {{ item.nameAr }}
                      }
                    </option>
                  </select> -->
      <!-- <div class="form-group">
        <label for="Name">Related Assets Name</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="relatedAsset.name"
          required
        />
      </div>
      <div class="form-group">
        <label for="Name">Related Assets Arabic Name</label>
        <input
          type="text"
          id="nameAr"
          name="nameAr"
          [(ngModel)]="relatedAsset.nameAr"
          required
        />
      </div>
      <div class="form-group">
        <label for="assignDate">Model</label>
        <input
          type="text"
          id="model"
          name="model"
          [(ngModel)]="relatedAsset.model"
          required
        />
      </div> -->

      <!-- <div class="d-flex gap-1 flex-wrap align-items-center " style="grid-column: 1 / -1">
        <div class="form-group">
          <label for="photo">{{ "Assets.photo" | translate }}</label>
          <label for="file">
            <div class="container-upload">
              <div
                *ngIf="!fileType || !fileType.startsWith('image/')"
                class="header"
              >
                <p>{{ "ASSET_UPLOADER.BROWSE_PHOTO" | translate }}</p>
              </div> -->
              <!-- <label for="file" class="footer">
                <p *ngIf="!selectedFileName && !uploadMessage">
                  {{ "ASSET_UPLOADER.NO_PHOTO_SELECTED" | translate }}
                </p>
                <div
                  *ngIf="selectedFileName && !fileType?.startsWith('image/')"
                  class="file-info"
                >
                  <i class="fa fa-file" aria-hidden="true"></i>
                  <span>{{ selectedFileName }}</span>
                </div>

                <p *ngIf="uploadMessage" class="upload-message">
                  {{ uploadMessage }}
                </p>
              </label> -->
              <!-- <input
                id="file"
                type="file"
                (change)="onFileChange($event)"
                class="form-control-file"
              />
            </div>
          </label>
        </div>
        <img
          *ngIf="imagePreviewUrl && fileType?.startsWith('image/')"
          [src]="imagePreviewUrl"
          alt="{{ 'ASSET_UPLOADER.SELECTED_FILE' | translate }}"
          class="img-preview"
        />
      </div> -->

      <div class="d-flex justify-content-center gap-2">
        <button class="apply-btn" type="submit">{{'RelatedAssetPopup.Submit'|translate}}</button>
        <button class="cancel-btn" type="button" (click)="closePopup()">
          {{'RelatedAssetPopup.Close'|translate}}
        </button>
      </div>
    </form>
  </div>
</div>
