.filter-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.filter-popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 557px;
    gap: 0px;
    border-radius: 24px;
    opacity: 0px;
}

.filter {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.apply-btn {
    margin-top: 20px;
    color: white;
    border: none;
    cursor: pointer;
    background: #8413F8;
    width: Fixed (240px)px;
    height: Fixed (48px)px;
    padding: 16px 0px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    width: 120px;
}

.cancel-btn {
    margin-top: 20px;
    color: #CE2619;
    border: none;
    cursor: pointer;
    background: transparent;
    width: Fixed (240px)px;
    height: Fixed (48px)px;
    padding: 16px 0px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    border: 1px solid #CE2619;
    width: 120px;
}


.form-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form-group select,
input {
    height: 48px;
    gap: 0px;
    border-radius: 10px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #E7E6E8;
    background: #FBFBFB;

}

.form-group select :focus,
input :focus {
    border: 1px solid #E7E6E8;
    background: #FBFBFB;
}

.filter {
    border-radius: 50%;
    background: #FAF9FE;
    padding: 0.2em;
}

.filter img {
    color: #736F77 !important;

}

.filterHeader {
    color: #36313C;
    font-family: Lama Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.03em;
    border-bottom: 1px solid #E7E6E8;
}

.container-upload {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border: 2px dashed royalblue;
    background-color: #f8f9fa;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .header {
    flex: 1;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    /* padding: 2em; */
  }
  
  .header svg {
    height: 100px;
  }
  
  .header p {
    text-align: center;
    color: black;
  }
  
  .footer {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
  }
  
  .footer svg {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
  }
  
  .footer p {
    flex: 1;
    text-align: center;
  }
  
  .file-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: #333;
    /* width: 250px; */
  }
  
  .file-info i {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .file-info span {
    font-weight: bold;
    font-size: 16px;
    color: #333;
  }
  
  .img-preview {
    width: 100px;
    height: 100px;
    position: static;
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
  }
  .upload-message {
    margin-top: 10px;
    font-size: 14px;
    color: green;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
  #file, #attachmentfile {
    display: none;
  }
  .header,
  .footer,
  .upload-message {
    order: 1;
  }