<div class="container my-4">
  <div class="row g-3">
    <div class="col-lg-4" *ngIf="role[0] === 'SuperAdmin'">
      <app-lockup-card iconSrc="../../../../../assets/images/lockup/PersonalReferanceManagement.png"
        header="{{ 'generalLookups.SUBSCRIPTION_PLAN_MANAGEMENT' | translate }}"
        description="{{ 'generalLookups.SUBSCRIPTION_PLAN_DESCRIPTION' | translate }}" link="../SubscriptionPlan">
      </app-lockup-card>
    </div>
    <div class="col-lg-4 mt-3" *ngIf="role[0] === 'Admin'">
      <app-lockup-card iconSrc="../../../../../assets/images/lockup/security-user.png"
        header="{{ 'generalLookups.POSITION_MANAGEMENT' | translate }}"
        description="{{ 'generalLookups.POSITION_MANAGEMENT_DESCRIPTION' | translate }}"
        link="../PositionTypeManagment">
      </app-lockup-card>
    </div>
    <div class="col-lg-4 mt-3" *ngIf="role[0] === 'Admin'">
      <app-lockup-card iconSrc="../../../../../assets/images/lockup/security-user.png"
        header="{{ 'generalLookups.SalaryType' | translate }}"
        description="{{ 'generalLookups.Salary_Type_DESCRIPTION' | translate }}"
        link="../salary-type">
      </app-lockup-card>
    </div>
    <div class="col-lg-4 mt-3" *ngIf="role[0] === 'Admin' || role[0] === 'SuperAdmin'">
      <app-lockup-card iconSrc="../../../../../assets/images/lockup/security-user.png"
        header="{{ 'generalLookups.CurrencyType' | translate }}"
        description="{{ 'generalLookups.Salary_Type_DESCRIPTION' | translate }}"
        link="../currency-type">
      </app-lockup-card>
    </div>
    <div class="col-lg-4 mt-3" *ngIf="role[0] === 'Admin'">
      <app-lockup-card iconSrc="../../../../../assets/images/lockup/security-user.png"
        header="{{ 'generalLookups.BenefitType' | translate }}"
        description="{{ 'generalLookups.BenefitType_DESCRIPTION' | translate }}"
        link="../BenefitType">
      </app-lockup-card>
    </div>
  </div>
</div>
