<div class="prograss-container d-flex flex-column p-5">
  <div class="row">
    <div class="col-3 d-flex justify-content-start flex-row ">
      <img src="../../../../../assets/images/Avatar (2).png" class="rounded-circle" style="height:36px; width:36px;">
      <p>{{complaintDetails.firstName}} {{complaintDetails.lastName}}</p>
    </div>
    <div class="col-3">
      <p>{{complaintDetails.againestTypeName}}</p>
    </div>
    <div class="col-3">
      <p>{{complaintDetails.againestName}}</p>
    </div>
    <div class="col-3">
      <p>{{complaintDetails.content}}</p>
    </div>
  </div>
  <div>
    <app-tracking-bar [currentStep]="complaintDetails.issueStatusId" [steps]="status"></app-tracking-bar>

  </div>
</div>

