<div class="cardContainer p-4 mb-4" *ngIf="personalInfo; else loading">
  <div class="card-body p-5">
    <h3 class="card-title mb-3 text-center ">{{ 'personalInfo.PROFILE_INFORMATION' | translate }}</h3>


    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>{{ 'personalInfo.FULL_NAME' | translate }}:</strong>
      </div>
      <div class="col-lg-8">
        <p>{{ personalInfo.fullName }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>{{ 'personalInfo.EMAIL' | translate }}:</strong>
      </div>
      <div class="col-lg-8">
        <p>{{ personalInfo.email }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>{{ 'personalInfo.PHONE_NUMBER' | translate }}:</strong>
      </div>
      <div class="col-lg-8">
        <p>{{ personalInfo.phoneNumber }}</p>
      </div>
    </div>

    <div class="row">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-3">
          <strong>{{ 'personalInfo.GENDER' | translate }}:</strong>
        </div>
        <div class="col-lg-8">
          <p>{{ getGenderTranslation() | translate }}</p>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>{{ 'personalInfo.BIRTH_DATE' | translate }}:</strong>
      </div>
      <div class="col-lg-8">
        <p>{{ personalInfo.birthDate !== '0001-01-01T00:00:00' ? (personalInfo.birthDate | date: 'longDate') : 'N/A' }}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>{{ 'personalInfo.MARITAL_STATUS' | translate }}:</strong>
      </div>
      <div class="col-lg-8">
        <p>{{ personalInfo.maritalStatus || 'N/A' }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>{{ 'personalInfo.NATIONALITY' | translate }}:</strong>
      </div>
      <div class="col-lg-8">
        <p>{{ personalInfo.nationality || 'N/A' }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>{{ 'personalInfo.ID_NUMBER' | translate }}:</strong>
      </div>
      <div class="col-lg-8">
        <p>{{ personalInfo.nationalId || 'N/A' }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>{{ 'personalInfo.PASSPORT_NUMBER' | translate }}:</strong>
      </div>
      <div class="col-lg-8">
        <p>{{ personalInfo.passport || 'N/A' }}</p>
      </div>
    </div>


    <!-- <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>{{ 'personalInfo.REFERENCE_PHOTO' | translate }}:</strong>
      </div>

      <div class="col-lg-8">
        <img [src]="referancePhotoSrc" [style.transform]="'rotate(' + rotationDegrees + 'deg)'"
          style="width: 220px; height: 220px;" alt="{{ 'personalInfo.REFERENCE_PHOTO' | translate }}" class="img-fluid"
          (error)="onImageError($event)" id="rotatedImage" />

        @if( accountStatus==accountStatusenum.Pending){
        
        <div class="btn-group mt-2">
          <button class="btn btn-sm btn-secondary" (click)="rotateImage('left')">
            <i class="fas fa-undo"></i>
          </button>
          <button class="btn btn-sm btn-secondary" (click)="rotateImage('right')">
            <i class="fas fa-redo"></i>
          </button>
        </div>

        
        <button *ngIf="isRotated" class="btn btn-sm btn-primary mt-2" (click)="saveRotatedImage()">
          <i class="fas fa-save"></i>
        </button>

        }
      </div>
    </div> -->


    <!-- <div class="row mt-3">
      <div class="col-lg-4 col-md-6 mb-3 ">
        <strong>{{ 'personalInfo.PASSPORT_PHOTO' | translate }}:</strong>
      </div>
      <div class="col-lg-8">
        <img [src]="personalInfo.passportPhoto || 'assets/images/default.jpeg'" style=" width: 220px; height: 220px;"
          alt="{{ 'personalInfo.PASSPORT_PHOTO' | translate }}" class="img-fluid" (error)="onImageError($event)" />
      </div>
    </div> -->
  </div>
</div>

<ng-template #loading>
  <div class="text-center">
    <p>{{ 'personalInfo.LOADING' | translate }}</p>
  </div>
</ng-template>
<p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
