<div class="cardContainer p-4 mb-4">
  <div class="card-body p-5">
    <h3 class="card-title mb-3">Profile Information</h3>
    <p class="text-muted mb-4">
      Hi, I'm Alec Thompson, Decisions: If you can’t decide, the answer is no. If two equally difficult paths, choose
      the one more painful in the short term (pain avoidance is creatin).
    </p>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>Full Name:</strong>
      </div>
      <div class="col-lg-8">
       <p>  Alec M. Thompson</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>Gender:</strong>
      </div>
      <div class="col-lg-8">
      <p> male </p>  
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>Date of birth:</strong>
      </div>
      <div class="col-lg-8">
        <p>1/8/2003 </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>Marital Status:</strong>
      </div>
      <div class="col-lg-8">
        <p>Single </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>Nationality:</strong>
      </div>
      <div class="col-lg-8">
       <p>Egyptian </p> 
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>Family status:</strong>
      </div>
      <div class="col-lg-8">
       <p>bachelor </p> 
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>ID Number:</strong>
      </div>
      <div class="col-lg-8">
        <p> 1236547896258</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>Passport Number:</strong>
      </div>
      <div class="col-lg-8">
      <p> 699857546856</p>  
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <strong>Drive license number:</strong>
      </div>
      <div class="col-lg-8">
       <p> 3652 </p> 
      </div>
    </div>
  </div>
</div>