<div class="popup-overlay" (click)="closePopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="closePopup()">&times;</button>
    <div class="header">
      <div *ngIf="branch" class="d-flex">
        <p>{{ 'assignEntity.BRANCH' | translate }}:</p>
        <label>{{ isArabic ? branch.nameAr : branch.name }}</label>
      </div>
    </div>
    <form [formGroup]="assignForm" (ngSubmit)="onSubmit()">
      <div class="form-group mt-3">
        <label for="employeeName">{{ 'assignEntity.NAME' | translate }}</label>
        <select id="employeeName" class="form-control" formControlName="selectedEmployeeId">
          <option value="" disabled>{{ 'assignEntity.SELECT_ENTITY' | translate }}  </option>
          <option *ngFor="let entity of entities" [value]="entity.id">{{ entity.fullName }}</option>
        </select>
        <div *ngIf="selectedEmployeeId?.invalid && selectedEmployeeId?.touched" class="text-danger">
          {{ 'assignEntity.FIELD_REQUIRED' | translate }}
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <button class="assignBtn" type="submit" [disabled]="assignForm.invalid">{{ 'assignEntity.ASSIGN' | translate }}</button>
      </div>
    </form>
  </div>
</div>
