::ng-deep [data-n-id] rect:nth-child(1) {
  fill: #663895;
}

::ng-deep [data-n-id] rect:nth-child(2) {
  fill: #E7E6E8
}

::ng-deep g text:nth-child(2) {
  fill: black;;
}

::ng-deep g g circle
{
  fill: white;
}