<div class="container">
    <div class="d-flex col-4 gap-3 align-items-start flex-row">
        <p class="lead">{{ "Team Management" | translate }}</p>
        <img src="../../../../../assets/images/arrow-left2.png" alt="arrow" />
        <p class="lead">{{ "Add Teams" | translate }}</p>
    </div>

    <div class="add-team-container py-3 px-4">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form p-2">
            <div class="form-content container p-3 my-3">
                <div class="row gy-3 d-flex align-items-center">
                    <!-- Team Name English -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="titleEn" class="form-label">{{ "Team Name (English)" | translate }}</label>
                            <input type="text" class="form-control" formControlName="name"
                                placeholder="Enter Team Name">
                        </div>
                    </div>

                    <!-- Team Name Arabic -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="titleAr" class="form-label">{{ "Team Name (Arabic)" | translate }}</label>
                            <input type="text" class="form-control" formControlName="nameAr"
                                placeholder="أدخل اسم الفريق">
                        </div>
                    </div>

                    <!-- Assign Employees -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">{{ "Assign Employees" | translate }}</label>
                            <mat-select class="custom-select" formControlName="EmployeeIds" multiple>
                                <mat-option *ngFor="let emp of employees" [value]="emp.id">
                                    {{ emp.firstName }} {{ emp.lastName }}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label">{{ "Expiry Date" | translate }}</label>
                        <input type="date" class="form-control" formControlName="expiryDate">
                    </div>
                </div>
                <div class="form-group toggle-group">
                    <label class="switch">
                        <input type="checkbox" [checked]="form.get('associatedToTask')?.value"
                            (change)="toggleTaskAssociation($event)" />
                        <span class="slider"></span>
                    </label>
                    <label class="toggle-label">{{ "Is Task" | translate }}</label>
                </div>
                <!-- Attendance Checkbox -->
                <div class="form-group toggle-group">
                    <label class="switch">
                        <input type="checkbox" formControlName="isAttendance">
                        <span class="slider"></span>
                    </label>
                    <label class="toggle-label">{{ "Is attendance" | translate }}</label>
                </div>

                <!-- Show Map if Attendance is Checked -->
                <div class="form-group" *ngIf="form.get('isAttendance')?.value">
                    <label for="map">{{ 'addBranch.BRANCH_LOCATION' | translate }}</label>
                    <app-map (locationSelected)="onLocationSelected($event)" [long]="location?.lng"
                        [lat]="location?.lat"></app-map>
                </div>




            </div>

            <!-- Submit Button -->
            <div>
                <button class="btn btn-primary w-100" type="submit" [disabled]="!form.valid || isSubmitting">
                    {{ isEdit ? "Update Team" : "Add Team" | translate }}
                </button>
            </div>
        </form>
    </div>


    <!-- Teams Table -->
    <div class="row">


        <div class="table">
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>{{ 'Team Name EN' | translate }}</th>
                        <th>{{ 'Team Name AR' | translate }}</th>
                        <th>{{ 'Action' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let team of teams" style="cursor: pointer;">
                        <td>{{ team.name }}</td>
                        <td>{{ team.nameAr }}</td>
                        <td>
                            <button class="btn btn-sm" (click)="navigateToDetails(team.id)">
                                <img src="../../../../../../assets/images/view.png" alt="view" />
                            </button>
                            <button class="btn btn-sm" (click)="openDeleteDialog(team.id)">
                                <img src="../../../../../../assets/images/trash.png" alt="delete" />
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="teams.length === 0">
                        <td colspan="3" class="text-center">{{ 'No Teams Available' | translate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center custom-pagination">
            <pagination 
            [totalItems]="totalRows"
            [(ngModel)]="pageIndex"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="5"
            [boundaryLinks]="true"
            [firstText]="'First' | translate"
            [lastText]="'Last' | translate"
            previousText="&laquo;"
            nextText="&raquo;"
            (pageChanged)="handlePageChange($event.page)">
          </pagination>
          </div>
    </div>
</div>
<!-- Delete Confirmation Dialog -->
<app-confirmn-delete-dialog *ngIf="showDeleteDialog" [title]="'Confirm Deletion'"
    [message]="'Are you sure you want to delete?'" (onConfirm)="confirmDelete()"
    (onCancel)="cancelDelete()"></app-confirmn-delete-dialog>
