<div class="container">
    <div class="row py-3 my-3">
        <div class="form-container">
            <div class="upload-section">
                <div class="row">  
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <img src="../../../../../assets/images/softic/default.png" alt="Upload Icon" class="upload-icon">    
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12"> 
                        <div>
                            <p class="upload-text">uploud company logo</p>
                            <p class="upload-instructions">
                                GPAG/PNG/PDF Files should be uplpded &gt; the file must be hight in resolution and original in
                                design
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <form>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="company-name-en">Company name (English)</label>
                            <input type="text" id="company-name-en" placeholder="Company name (English)">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="company-name-ar">Company name (Arabic)</label>
                            <input type="text" id="company-name-ar" placeholder="Company name (Arabic)">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="company-field">Company Field</label>
                            <input type="text" id="company-field" placeholder="Software">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="company-code">Company Code</label>
                            <input type="text" id="company-code">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="company-name-en">City</label>
                            <input type="text" id="company-name-en" placeholder="City">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="company-name-ar">Country</label>
                            <input type="text" id="company-name-ar" placeholder="Country">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="company-field">Adress</label>
                            <input type="text" id="company-field" placeholder="Adress">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="company-code">Email</label>
                            <input type="text" id="company-code"placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="company-code">Mobile</label>
                            <input type="text" id="company-code"placeholder="Mobile">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="company-code">Phone</label>
                            <input type="text" id="company-code"placeholder="Phone">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="company-name-en">Website</label>
                            <input type="text" id="company-name-en" placeholder="Website">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="company-name-ar">Facebook</label>
                            <input type="text" id="company-name-ar" placeholder="Facebook">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="company-field">Twitter(x)</label>
                            <input type="text" id="company-field" placeholder="Twitter">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="company-code">Instgram</label>
                            <input type="text" id="company-code"placeholder="Instgram">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="company-code">Linkedin</label>
                            <input type="text" id="company-code"placeholder="Linkedin">
                        </div>
                    </div>
                </div>
                <div class="row form-actions">
                    <div class="col-lg-6"> <button type="button" class="btn btn-cancel">Cancel</button>
                    </div>
                    <div class="col-lg-6"> <button type="submit" class="btn btn-next">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>