<div class="row py-3 my-3">
  <div class="form-container" [formGroup]="addCompanyForm">
    <div class="upload-section">
      <div class="row">
        <div class="col-lg-6 justify-content-center d-flex col-md-12 col-sm-12">
          <label for="fileInput">
            <img [src]="uploadedImageBase64 || '../../../../../assets/images/softic/default.png'" alt="Upload Icon" class="upload-icon" style="cursor: pointer;">
          </label>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div>
            <p class="upload-text">Upload company logo</p>
            <p class="upload-instructions">
              GPAG/PNG/PDF files should be uploaded. The file must be high in resolution and original in design.
            </p>
            <input type="file" id="fileInput" (change)="onFileChange($event)" accept="image/*" style="display: none;">
          </div>
        </div>
      </div>
    </div>

    <form (ngSubmit)="onSubmit()">
      <div class="row was-validated">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('name')}">
            <label for="name">Company Name (English)</label>
            <input required type="text" id="name" formControlName="name" class="form-control" placeholder="Enter company name (English)">
            <div *ngIf="isFieldInvalid('name')" class="invalid-feedback">
              Company Name (English) is required.
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('nameAr')}">
            <label for="nameAr">Company Name (Arabic)</label>
            <input required type="text" id="nameAr" formControlName="nameAr" class="form-control" placeholder="Enter company name (Arabic)">
            <div *ngIf="isFieldInvalid('nameAr')" class="invalid-feedback">
              Company Name (Arabic) is required.
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('companyField')}">
            <label for="companyField">Company Field</label>
            <input required type="text" id="companyField" formControlName="companyField" class="form-control" placeholder="Software">
            <div *ngIf="isFieldInvalid('companyField')" class="invalid-feedback">
              Company Field is required.
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('companyExtention')}">
            <label for="companyExtention">Company Extention</label>
            <input required type="text" id="companyExtention" formControlName="companyExtention" class="form-control" placeholder="1212156646489">
            <div *ngIf="isFieldInvalid('companyExtention')" class="invalid-feedback">
              Company Extention is required.
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row was-validated">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('countryId')}">
            <label for="countryId">Country</label>
            <select id="countryId" formControlName="countryId" class="form-control" (change)="onCountryChange()">
              <option value="" *ngIf="countries" disabled>Select Country</option>
              <option *ngFor="let country of countries" [value]="country.id">{{ country.nameEn }} - {{ country.nameAr }}</option>
            </select>
            <div *ngIf="isFieldInvalid('countryId')" class="invalid-feedback">
              Country is required.
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('cityId')}">
            <label for="cityId">City</label>
            <select id="cityId" formControlName="cityId" class="form-control">
              <option value=""  disabled>Select City</option>
              <option *ngFor="let city of cities" [value]="city.id">{{ city.nameEn }} - {{ city.nameAr }}</option>
            </select>
            <div *ngIf="isFieldInvalid('cityId')" class="invalid-feedback">
              City is required.
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('address')}">
            <label for="address">Address</label>
            <input required type="text" id="address" formControlName="address" class="form-control" placeholder="Address">
            <div *ngIf="isFieldInvalid('address')" class="invalid-feedback">
              Address is required.
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('email')}">
            <label for="email">Email</label>
            <input required type="email" id="email" formControlName="email" class="form-control" placeholder="Email">
            <div *ngIf="isFieldInvalid('email')" class="invalid-feedback">
              A valid Email is required.
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('phoneNumber')}">
            <label for="phoneNumber">Mobile</label>
            <input required type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control" placeholder="Mobile">
            <div *ngIf="isFieldInvalid('phoneNumber')" class="invalid-feedback">
              Mobile is required.
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('phone')}">
            <label for="phone">Phone</label>
            <input required type="text" id="phone" formControlName="phone" class="form-control" placeholder="Phone">
            <div *ngIf="isFieldInvalid('phone')" class="invalid-feedback">
              Phone is required.
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label for="webSite">Website</label>
            <input type="text" id="webSite" formControlName="webSite" class="form-control" placeholder="Website">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label for="facebook">Facebook</label>
            <input type="text" id="facebook" formControlName="facebook" class="form-control" placeholder="Facebook">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label for="twitter">Twitter(x)</label>
            <input type="text" id="twitter" formControlName="twitter" class="form-control" placeholder="Twitter">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label for="instgram">Instagram</label>
            <input type="text" id="instgram" formControlName="instgram" class="form-control" placeholder="Instagram">
          </div>
        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label for="linkedin">LinkedIn</label>
            <input type="text" id="linkedin" formControlName="linkedin" class="form-control" placeholder="LinkedIn">
          </div>
        </div> -->
      </div>
      <hr>
      <div class="row was-validated">
        <div class="col-lg-6 col-md-6 col-sm-12 w-100 mb-2">
          <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('subscriptionPlanId')}">
            <label for="subscriptionPlanId">Subscription Plan</label>
            <select required id="subscriptionPlanId" formControlName="subscriptionPlanId" class="form-control">
              <option *ngFor="let plan of subscriptionPlans" [value]="plan.id">{{ plan.name }}</option>
            </select>
            <div *ngIf="isFieldInvalid('subscriptionPlanId')" class="invalid-feedback">
              Subscription Plan is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row form-actions">
        <div class="col-lg-6">
          <button type="button" routerLink="../addAdmin" class="btn btn-cancel">Cancel</button>
        </div>
        <div class="col-lg-6">
          <button type="button" class="btn btn-next" (click)="onSubmit()">Next</button>
        </div>
      </div>
    </form>
  </div>
</div>
