<div class="container py-4 bgColor">
  <h3 class="text-center fw-bold customHeader mb-4">
    {{ 'medicalInsurance.Title' | translate }}
  </h3>
  <div class="row gy-3">
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">
        {{ 'medicalInsurance.Blood_Type' | translate }}
      </label>
      <div class="text-muted">
        {{ userMedical?.bloodType ? userMedical?.bloodType : ('medicalInsurance.No_Data' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">
        {{ 'medicalInsurance.Weight' | translate }}
      </label>
      <div class="text-muted">
        {{ userMedical?.weight ? userMedical?.weight : ('medicalInsurance.No_Data' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">
        {{ 'medicalInsurance.Height' | translate }}
      </label>
      <div class="text-muted">
        {{ userMedical?.hight ? userMedical?.hight : ('medicalInsurance.No_Data' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">
        {{ 'medicalInsurance.ischronicdisease' | translate }}
      </label>
      <div class="text-muted">
        {{ userMedical?.ischronicdisease ? userMedical?.ischronicdisease : ('medicalInsurance.No_Data' | translate) }}
      </div>
    </div>

    <div class="col-12 col-md-6 border-bottom-custom"  *ngIf=" userMedical?.chronicdiseaseName">
      <label class="d-block fw-semibold text-dark">
        {{ 'medicalInsurance.chronicdiseaseName' | translate }}
      </label>
      <div class="text-muted">
        {{ userMedical?.chronicdiseaseName ? userMedical?.chronicdiseaseName : ('medicalInsurance.No_Data' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom" *ngIf=" userMedical?.insuranceCompany">
      <label class="d-block fw-semibold text-dark">
        {{ 'medicalInsurance.insuranceCompany' | translate }}
      </label>
      <div class="text-muted">
        {{ userMedical?.insuranceCompany ? userMedical?.insuranceCompany : ('medicalInsurance.No_Data' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom" *ngIf=" userMedical?.medicalInsuranceNumber">
      <label class="d-block fw-semibold text-dark">
        {{ 'medicalInsurance.medicalInsuranceNumber' | translate }}
      </label>
      <div class="text-muted">
        {{ userMedical?.medicalInsuranceNumber ? userMedical?.medicalInsuranceNumber : ('medicalInsurance.No_Data' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom" *ngIf=" userMedical?.expiryon">
      <label class="d-block fw-semibold text-dark">
        {{ 'medicalInsurance.expiryon' | translate }}
      </label>
      <div class="text-muted">
        {{ userMedical?.expiryon |date}}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom" *ngIf=" userMedical?.healthCondition">
      <label class="d-block fw-semibold text-dark">
        {{ 'medicalInsurance.healthCondition' | translate }}
      </label>
      <div class="text-muted">
        {{ userMedical?.healthCondition ? userMedical?.healthCondition : ('medicalInsurance.No_Data' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom" *ngIf=" userMedical?.allergy">
      <label class="d-block fw-semibold text-dark">
        {{ 'medicalInsurance.allergy' | translate }}
      </label>
      <div class="text-muted">
        {{ userMedical?.allergy ? userMedical?.allergy : ('medicalInsurance.No_Data' | translate) }}
      </div>
    </div>

    <!-- <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark"
        >Medical insurance number</label
      >
      <div class="text-muted">{{ userMedical?.medicalInsuranceNumber }}</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Insurance company</label>
      <div class="text-muted">{{ userMedical?.insuranceCompany }}</div>
    </div> -->
  </div>
</div>
