<div class="filter-popup">
    <div class="filter-popup-content">
        <div class="filterHeader">
            <p> <img class="filter" src="../../../../../assets/images/filter-search.svg">
                Assign an Task to employee </p>
        </div>
        <form (ngSubmit)="Submit()">
            <div class="form-group">
                <label for="Name">Name</label>
                <app-drop-down 
                [placeholder]="'Select Employee'"
                [placeholderSearch]="'Search by Name'"
                [items]="employees"
                [currentPage]="employeePage"
                [itemsLength]="employees.length"
                (getNextPageApi)="loadEmployees()"
                (search)="loadEmployees()"
                (onChange)="onEmployeeSelect($event)"
              ></app-drop-down>
            </div>
            <!-- <div class="form-group">
                <label for="assignDate">Assign Date</label>
                <input 
                    type="date" 
                    id="assignDate" 
                    name="assignDate" 
                    [(ngModel)]="assignDate" 
                    required
                >
            </div> -->
            <div class="d-flex justify-content-center gap-2">
                <button class="apply-btn" type="submit">Submit</button>
                <button class="cancel-btn" type="button" (click)="closePopup()">Close</button>
            </div>
        </form>
    </div>
</div>
