<div class="container">
  <!-- Country Section -->
  <div class="mt-4">
    <button type="button" class="btn custom-button btn-primary" data-bs-toggle="modal"
      [attr.data-bs-target]="'#' + modalId" (click)="openCountryAddModal()">
      Add Country
    </button>
  </div>

  <app-dynamic-modal [structure]="countryStructure" [isEdit]="isEdit" [formData]="formData" [modalId]="modalId"
    (submitForm)="handleCountrySubmission($event)">
  </app-dynamic-modal>

  <app-modern-table [tableTitle]="'Countries'" [tableData]="countries" [columns]="columns" [modalId]="modalId"
    searchPlaceholder="Search data..." (editItem)="openCountryEditModal($event)"
    (deleteItem)="deleteEntity('country', $event.id, companyId)" deleteId="{{countryDeleteId}}">
  </app-modern-table>
  <!-- End Country Section -->
  <hr>

  <!-- City Section -->
  <div *ngIf="selectedCountryId > 0" class="mt-4">
    <button type="button" class="btn custom-button btn-primary" data-bs-toggle="modal"
      [attr.data-bs-target]="'#' + citymodalId" (click)="openCityAddModal()">
      Add City
    </button>
  </div>

  <select [(ngModel)]="selectedCountryId" (change)="onCountryChange()">
    <option value="" *ngIf="countries">Select Country</option>
    <option *ngFor="let item of countries; trackBy: trackById" [value]="item.id">
      {{ item.nameEn }} - {{ item.nameAr }}
    </option>
    <option *ngIf="!countries.length">There are no items.</option>
  </select>

  <div *ngIf="cities.length > 0">
    <app-dynamic-modal [structure]="cityStructure" [isEdit]="isEditCity" [formData]="CityformData" [modalId]="citymodalId"
      (submitForm)="handleCitySubmission($event)">
    </app-dynamic-modal>

    <app-modern-table [tableTitle]="'City'" [tableData]="cities" [columns]="columns" [modalId]="citymodalId"
      searchPlaceholder="Search data..." (editItem)="openCityEditModal($event)"
      (deleteItem)="deleteEntity('city', $event.id, companyId)" deleteId="{{cityDeleteId}}">
    </app-modern-table>
    <hr>
  </div>
  <!-- End City Section -->
</div>
