<div class="row py-3 my-3">
    <div class="row py-3 my-3">
        <div class="form-container" [formGroup]="addCompanyForm">
            <div class="upload-section">
                <div class="row">
                    <div class="col-lg-6 justify-content-center d-flex col-md-12 col-sm-12">
                        <label for="fileInput">
                            <img [src]="uploadedImageBase64 || '../../../../../assets/images/softic/default.png'"
                                alt="Upload Icon" class="upload-icon" style="cursor: pointer;">
                        </label>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div>
                            <p class="upload-text">Upload company logo</p>
                            <p class="upload-instructions">
                                GPAG/PNG/PDF files should be uploaded. The file must be high in resolution and original
                                in design.
                            </p>
                            <input type="file" id="fileInput" (change)="onFileChange($event)" accept="image/*"
                                style="display: none;">
                        </div>
                    </div>
                </div>
            </div>

            <form>
                <div class="row was-validated">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('firstName')}">
                            <label for="firstName">First Name</label>
                            <input required type="text" id="firstName" formControlName="firstName" class="form-control"
                                placeholder="Enter first name">
                            <div *ngIf="isFieldInvalid('firstName')" class="invalid-feedback">
                                First Name is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('fullName')}">
                            <label for="fullName">Full Name</label>
                            <input required type="text" id="fullName" formControlName="fullName" class="form-control"
                                placeholder="Enter full name">
                            <div *ngIf="isFieldInvalid('fullName')" class="invalid-feedback">
                                full name is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('lastName')}">
                            <label for="lastName">Last Name</label>
                            <input required type="text" id="lastName" formControlName="lastName" class="form-control"
                                placeholder="Enter last name">
                            <div *ngIf="isFieldInvalid('lastName')" class="invalid-feedback">
                                Last Name is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('phoneNumber')}">
                            <label for="phoneNumber">Mobile Number</label>
                            <input required type="text" id="phoneNumber" formControlName="phoneNumber"
                                class="form-control" placeholder="Enter mobile number">
                            <div *ngIf="isFieldInvalid('phoneNumber')" class="invalid-feedback">
                                Mobile Number is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-12">
                        <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('email')}">
                            <label for="email">Email</label>
                            <input required type="email" id="email" formControlName="email" class="form-control"
                                placeholder="Enter email">
                            <div *ngIf="isFieldInvalid('email')" class="invalid-feedback">
                                A valid Email is required.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('password')}">
                            <label for="password">Password</label>
                            <div class="password-container">
                                <input [type]="passwordFieldType" id="password" formControlName="password"
                                    class="form-control" placeholder="Enter password" autocomplete="new-password">
                                <i (click)="togglePasswordVisibility()" class="authIcon fa"
                                    [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
                            </div>
                            <div *ngIf="isFieldInvalid('password')" class="invalid-feedback">
                                Password is required.
                            </div>
                            <div *ngIf="addCompanyForm.get('password')?.errors?.['complexPassword']"
                                class="invalid-feedback">
                                Password must include at least one uppercase letter, one number, and one special
                                character.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('confirmPassword')}">
                            <label for="confirmPassword">Confirm Password</label>
                            <div class="password-container">
                                <input [type]="confirmPasswordFieldType" id="confirmPassword"
                                    formControlName="confirmPassword" class="form-control"
                                    placeholder="Confirm password" autocomplete="new-password">
                                <i (click)="toggleConfirmPasswordVisibility()" class="authIcon fa"
                                    [ngClass]="confirmPasswordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
                            </div>
                            <div *ngIf="isFieldInvalid('confirmPassword')" class="invalid-feedback">
                                Confirm Password is required.
                            </div>
                            <div *ngIf="addCompanyForm.errors?.['passwordMismatch']" class="invalid-feedback">
                                Passwords do not match.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-actions">
                    <div class="col-lg-6">
                        <button type="button" routerLink="../addAdmin" class="btn btn-cancel">Cancel</button>
                    </div>
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-next" (click)="onSubmit()">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>