<div class="complaint-container">
    <!-- User Information Section -->
    <div class="user-info">
        <div class="info-row">
            <div class="info-item">
                <span class="label">{{ 'complaintsPage.user.name' | translate }}</span>
                <span class="value">George Mikhaiel</span>
            </div>
            <div class="info-item">
                <span class="label">{{ 'complaintsPage.user.phone' | translate }}</span>
                <span class="value">01275501908</span>
            </div>
        </div>
        <div class="info-row">
            <div class="info-item">
                <span class="label">{{ 'complaintsPage.user.email' | translate }}</span>
                <span class="value">georgemikhaiel.com</span>
            </div>
            <div class="info-item">
                <span class="label">{{ 'complaintsPage.user.companyId' | translate }}</span>
                <span class="value">i-attend</span>
            </div>
        </div>
    </div>

    <!-- Complaint Information Section -->
    <div class="user-info">
        <div class="info-row">
            <div class="info-item">
                <label class="label">{{ 'complaintsPage.complaint.type' | translate }}</label>
                <span class="value">Head Office</span>
            </div>
            <div class="info-item">
                <label class="label">{{ 'complaintsPage.complaint.type' | translate }}</label>
                <span class="value">Person</span>
            </div>
        </div>
        <div class="info-row">
            <div class="info-item">
                <label class="label">{{ 'complaintsPage.complaint.title' | translate }}</label>
                <span class="value">Complaints Title</span>
            </div>
            <div class="info-item">
                <label class="label">{{ 'complaintsPage.complaint.department' | translate }}</label>
                <span class="value">UI / UX Design</span>
            </div>
        </div>
        <div class="info-row">
            <div class="info-item">
                <label class="label">{{ 'complaintsPage.complaint.to' | translate }}</label>
                <span class="value">name someone</span>
            </div>
            <div class="info-item">
                <label class="label">{{ 'complaintsPage.complaint.category' | translate }}</label>
                <span class="value">In the company</span>
            </div>
        </div>
        <div class="info-row">
            <div class="info-item">
                <label class="label">{{ 'complaintsPage.complaint.incidentDate' | translate }}</label>
                <span class="value">13/07/2024</span>
            </div>
            <div class="info-item">
                <label class="label">{{ 'complaintsPage.complaint.incidentLocation' | translate }}</label>
                <span class="value">In the company</span>
            </div>
        </div>
        <div class="info-item">
            <span class="label">{{ 'complaintsPage.complaint.details' | translate }}</span>
            <p class="value">
                UI/UX Designer UI/UX Designer UI/UX Designer UI/UX Designer UI/UX Designer UI/UX Designer UI/UX Designer
            </p>
        </div>
        
        <!-- Attachments Section -->
        <div class="attachments">
            <span class="label">{{ 'complaintsPage.complaint.attachments' | translate }}</span>
            <div class="attachment-list">
                <img src="../../../../../assets/images/dashboard/Component 2.png" alt="Attachment 1">
                <img src="../../../../../assets/images/dashboard/Component 2.png" alt="Attachment 1">
                <img src="../../../../../assets/images/dashboard/Component 2.png" alt="Attachment 1">
                <img src="../../../../../assets/images/dashboard/Component 2.png" alt="Attachment 1">
            </div>
        </div>
    </div>
</div>
