<div class="container-fluid  ">
  <div class="row ">
    <div class="date-range-picker d-flex justify-content-end">
      <mat-form-field appearance="outline" class="date-input">
        <mat-date-range-input [rangePicker]="picker" [formGroup]="form">
          <input matStartDate formControlName="from" placeholder="Start date" />
          <input matEndDate formControlName="to" placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button mat-button class="find-btn" (click)="getStatistics()">{{'Find' | translate}}</button>
    </div>
  </div>
  <div class="row" *ngIf="adminCounts" >
    <!-- <ng-container *ngFor="let card of dashboardCards">
      <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
        <app-dashboard-card [title]="lang === 'ar'? card.titleAr : card.title" [value]="card.value"
          [cardClass]="card.cardClass" [bgColor]="card.bgColor" [icon]="'assets/images/profile/workdays.png'">
        </app-dashboard-card>
      </div>
    </ng-container> -->

    <div class="col-lg-auto col-md-6 col-sm-12 mb-3" >
      <app-dashboard-card routerLink='/dashboard/ViewEmployees' [title]="isArabic? 'الموظفين' : 'Employees'" [value]="adminCounts.employeeCount"
        [icon]="'assets/images/profile/workdays.png'">
      </app-dashboard-card>
    </div>
    <div class="col-lg-auto col-md-6 col-sm-12 mb-3">
      <app-dashboard-card (click)="navigateToSecondPageWithTab(1)" [title]="isArabic ? 'الفروع' : 'Branchs'" [value]="adminCounts.branchCount"
         [icon]="'assets/images/profile/workdays.png'">
      </app-dashboard-card>
    </div>
    <div class="col-lg-auto col-md-6 col-sm-12 mb-3">
      <app-dashboard-card [routerLink]="['/dashboard/AssetsIndex']"  [title]="isArabic?'الأصول' : 'Assets'" [value]="adminCounts.assetCount"
         [icon]="'assets/images/profile/workdays.png'">
      </app-dashboard-card>
    </div>
    <div class="col-lg-auto col-md-6 col-sm-12 mb-3">
      <app-dashboard-card (click)="navigateToSecondPageWithTab(3)" [title]="isArabic? 'الوظائف' : 'Positions'" [value]="adminCounts.positionCount"
         [icon]="'assets/images/profile/workdays.png'">
      </app-dashboard-card>
    </div>
    <div class="col-lg-auto col-md-6 col-sm-12 mb-3">
      <app-dashboard-card (click)="navigateToSecondPageWithTab(2)" [title]="isArabic? 'الأقسام' : 'Departments'" [value]="adminCounts.departmentCount"
         [icon]="'assets/images/profile/workdays.png'">
      </app-dashboard-card>
    </div>

  </div>

  <div class="row chartRow justify-content-center">
    <!-- <div class="col-lg-6 col-md-12 col-sm-12 customStyle">
      <app-bar-chart #departemployee [chartData]="'chartDepartemployee'" class="chartText" [data]="departmentEmploye" [title]="'Departments Employees' | translate" [xName]="'name'"
        [yName]="'count'" [tooltipMappingName]="'Text'" [backgroundColor]="'white'"
        [barWidth]=".3"></app-bar-chart>
    </div> -->
    <div class="col-lg-12 col-md-12 col-sm-12 customStyle">
      <app-bar-chart
        #assets [chartData]="'chartassetsCategory'"  class="chartText" [data]="assetCategory" [title]="'Assets Category' | translate" [xName]="'name'"
        [yName]="'count'" [tooltipMappingName]="'Text'" [backgroundColor]="'white'"
        [barWidth]=".25"></app-bar-chart>
    </div>

    <!-- <div class="col-lg-6 col-md-12 col-sm-12 customStyle d-flex flex-column">

       <div class="chart-wrapper w-100">
        <h3 class="chart-title text-center">{{'Traffic by Location' | translate}}</h3>
        <div class="chart-content d-flex justify-content-center">
          <donut-chart [data]="donutChartData" [options]="donutChartOptions"></donut-chart>
        </div>
      </div>
    </div> -->

  </div>
  <app-modern-table
    [tableTitle]="'Overview'"
    [totalRows]="attendances.totalRows"
    [tableData]="attendances.list"
    [columns]="isArabic?columnsAr:columns"
    [isThereSearch]="false"
    [isThereEdit]="false"
    [isThereDelete]="false"
    [newAction]="newAction"
    (searchDateApi)="searchDateApi($event)"
    (newReqByPage)="getAttendances({},$event)"
    (onCLickNewActionOutput)="map($event)"
    searchPlaceholder="Search data...">
  </app-modern-table>

</div>

<!-- Modal -->
<div class="modal modal-lg fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="row">
        <app-map [lat]="employee?.lat || 0" [employee]="employee" [long]="employee?.long || 0"></app-map>
      </div>
    </div>
  </div>
</div>
