<div class="profile-header">
  <div class="profile-banner">
    <img src="assets/images/cover.png" alt="Company Banner">
  </div>
  <div class="profile-info">
    <div class="profile-logo">
      <img src="assets/images/iobit_software_icon.jpeg.png" alt="Company Logo">
    </div>
    <div class="profile-details">
      <h1>IbOIT Company</h1>
      <p>Software Company</p>
      <p>123.1236.25</p>
    </div>
    <div class="profile-action">
      <div class="activate-switch">
      </div>
    </div>
  </div>
</div>
<div class="container">

</div>
