.card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    margin-top: 1em;
}

.card-header {
    text-align: center;
    padding: 20px;
    background-color: white;
}

.card-header h3 {
    margin: 0;
    font-size: 18px;
}

.card-header p {
    margin: 0;
    color: #999;
    font-size: 14px;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.btn-add {
    background: #663895;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.btn-add i {
    margin-right: 5px;
    color: white;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    border-top: 1px solid #f0f0f0;
    background-color: white;
}

.toggle-label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.profile-action {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #6f42c1;
}

input:checked+.slider:before {
    transform: translateX(14px);
}

.toggle-button-container button {
    border: 1px solid #8413F8;
    color: #8413F8;
    display: flex;
    gap: 1em;
}

.addPositionBtn {
    background: #9ACA3C;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 1em;
    width: 25%;
}

@media (max-width: 992px) {
    .card-container {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .card-container {
        flex-direction: column;
        gap: 10px;
    }
}

.details {
    color: #9ACA3C;
    font-family: Lama Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.customSearch {
    border-radius: 14px;
    opacity: 0px;
    background: #FFFFFF;
    width: 100%;
    border: 0.2px solid #788ba2;
    padding: 0.4em;
}

.customSearch:focus {
    border: 0.2px solid #788ba2;
    outline: none !important;
}

.customSearch {
    flex-grow: 1;
}

.search-btn {
    background: none;
    border: none;
    padding: 0;
    margin-left: -30px;
    display: flex;
    align-items: center;
}

.search-btn img {
    width: 16px;
    height: 16px;
}

/* --------------------------------------------------- */
.container {
    padding: 2rem;
}

.search-input {
    background: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th {
    border-bottom: 2px solid #dee2e6;
    text-transform: uppercase;
    color: #6c757d;
    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: 0.1rem;
    padding: 1rem;
}

.table td {
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    color: #495057;
    vertical-align: middle;
    font-size: 0.875rem;
}

.table tbody tr {
    transition: background-color 0.3s;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table-responsive {
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    padding: 1rem;
}

@media (max-width: 576px) {
    .card-container {
        flex-direction: column;
        gap: 10px;
    }

    .addPositionBtn {
        width: 75%;
    }
}

.rotate-arrow {
    transform: rotate(180deg);
}