<div class="container my-5" *ngIf="!isAdd && !isEdit && !showOverView && !isAssignEntity">
  <div class="row">
    <div class="justify-content-end d-flex">
      <button class="btn addPositionBtn w-25" (click)="addDepartment()">
        <i class="fas fa-plus"></i> {{ 'DEPARTMENTS.ADD_DEPARTMENT' | translate }}
      </button>
    </div>
  </div>
  <div class="row mb-3">
    <label for="branchSelect" class="form-label">{{ 'DEPARTMENTS.SELECT_BRANCH' | translate }}</label>
    <select
      id="branchSelect"
      class="form-select"
      [(ngModel)]="selectedBranchId"
      (change)="filterDepartmentsByBranch()"
    >
      <option *ngFor="let branch of branches" [ngValue]="branch.id">
        {{ isArabic ? branch.nameAr : branch.name }}
      </option>
    </select>
  </div>
  <div class="row">
    <div *ngFor="let department of filteredDepartments" class="col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h3>{{ department.name }}</h3>
          <p>{{ department.shortName }}</p>
        </div>
        <div class="card-body">
          <button class="btn btn-add" (click)="assignEntity(department.id.toString())">
            <i class="fas fa-plus"></i> {{ 'DEPARTMENTS.ADD_EMPLOYEE' | translate }}
          </button>
        </div>
        <div class="card-footer">
          <label class="toggle-label">
            <span>{{ department.isActive ? ('INDEX_POSITION.DEACTIVATE' | translate) : ('INDEX_POSITION.ACTIVATE' | translate) }}</span>
            <label class="switch">
              <input type="checkbox" [checked]="department.isActive" (change)="toggleActivation(department)">
              <span class="slider"></span>
            </label>
          </label>
          <i class="fas fa-trash-alt icon-trash" (click)="deleteDepartment(department.id)"></i>
          <i class="fas fa-edit icon-edit" (click)="editDepartment(department)"></i>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="d-flex justify-content-center mt-3">
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage"
      (pageChanged)="handlePageChange($event)" previousText="&laquo;" nextText="&raquo;">
    </pagination>
  </div>
 
<!-- Entity Assignment Popup -->
<app-assign-entity *ngIf="isAssignEntity" [entityId]="selectedEntityId" [entityType]="entityType" [entities]="employees"
  [department]="selectedDepartment" (close)="goBack()" (submitForm)="handleEntityAssigned($event)">
</app-assign-entity>

<ng-container *ngIf="isAdd || isEdit">
  <app-add-department [companyId]="companyId" (action)="handleAction($event)" [isEdit]="isEdit" [department]="department"></app-add-department>
</ng-container>

<!-- Department Overview -->
<div *ngIf="showOverView">
  <app-department-overview [Department]="selectedDepartment!" (departmentAdded)="goBack()">
  </app-department-overview>
</div>

<p-toast position="top-center"></p-toast>
<p-confirmDialog></p-confirmDialog>
