<div class="container py-4">
    <div class="d-flex justify-content-between align-items-center" (click)="toggleHighSchool()"
        style="cursor: pointer;">
        <h3 class="text-center fw-bold customHeader mb-0">High School</h3>
        <i [ngClass]="{'bi-chevron-down': !isHighSchoolOpen, 'bi-chevron-up': isHighSchoolOpen}" class="bi"
            style="color: black;"></i>
    </div>
    <div class="row gy-3 mt-3" *ngIf="isHighSchoolOpen" [@slideToggle]>
        <div class="col-12 col-md-6 border-bottom-custom">
            <label class="d-block fw-semibold text-dark">High School</label>
            <div class="text-muted">Orman language school</div>
        </div>
        <div class="col-12 col-md-6 border-bottom-custom">
            <label class="d-block fw-semibold text-dark">Graduation Year</label>
            <div class="text-muted">2007</div>
        </div>
        <div class="col-12 col-md-6 border-bottom-custom">
            <label class="d-block fw-semibold text-dark">GPA/Grade</label>
            <div class="text-muted">280</div>
        </div>
    </div>
</div>

<div class="container py-4">
    <div class="d-flex justify-content-between align-items-center" (click)="toggleBachelorDegree()"
        style="cursor: pointer;">
        <h3 class="text-center fw-bold customHeader mb-0">Bachelor's Degree</h3>
        <i [ngClass]="{'bi-chevron-down': !isBachelorDegreeOpen, 'bi-chevron-up': isBachelorDegreeOpen}" class="bi"
            style="color: black;"></i>
    </div>
    <div class="row gy-3 mt-3" *ngIf="isBachelorDegreeOpen" [@slideToggle]>
        <div class="col-12 col-md-6 border-bottom-custom">
            <label class="d-block fw-semibold text-dark">College</label>
            <div class="text-muted">Law</div>
        </div>
        <div class="col-12 col-md-6 border-bottom-custom">
            <label class="d-block fw-semibold text-dark">Institution Name</label>
            <div class="text-muted">Ain Shams University</div>
        </div>
        <div class="col-12 col-md-6 border-bottom-custom">
            <label class="d-block fw-semibold text-dark">Degree Type</label>
            <div class="text-muted">Bachelor Degree</div>
        </div>
        <div class="col-12 col-md-6 border-bottom-custom">
            <label class="d-block fw-semibold text-dark">Field of Study</label>
            <div class="text-muted">Law English Department</div>
        </div>
        <div class="col-12 col-md-6 border-bottom-custom">
            <label class="d-block fw-semibold text-dark">Graduation Year</label>
            <div class="text-muted">2011</div>
        </div>
        <div class="col-12 col-md-6 border-bottom-custom">
            <label class="d-block fw-semibold text-dark">GPA/Grade</label>
            <div class="text-muted">650</div>
        </div>
    </div>
</div>