<!-- <div class="container py-4 mb-4 bgColor">
  <div
    class="d-flex justify-content-between align-items-center"
    (click)="toggleHighSchool()"
    style="cursor: pointer"
  >
    <h3 class="text-center fw-bold customHeader w-100 mb-0">Last Eductional Certificate</h3>
    <i
      [ngClass]="{
        'bi-chevron-down': !isHighSchoolOpen,
        'bi-chevron-up': isHighSchoolOpen
      }"
      class="bi"
      style="color: black"
    ></i>
  </div>
  <div class="row gy-3 mt-3" *ngIf="isHighSchoolOpen" [@slideToggle]>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">High School</label>
      <div class="text-muted">{{ userEducation.school }}</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Graduation Year</label>
      <div class="text-muted">
        {{ userEducation.educationalEnd | date : "yyyy" }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">GPA/Grade</label>
      <div class="text-muted">{{ userEducation.degree }}</div>
    </div>
  </div>
</div> -->

<div class="container py-4 mb-4 bgColor">
  <div
    class="d-flex justify-content-between align-items-center"
    (click)="toggleBachelorDegree()"
    style="cursor: pointer"
  >
    <h3 class="text-center fw-bold customHeader w-100 mb-0">
      {{ 'education.Title' | translate }}
    </h3>
    <i
      [ngClass]="{
        'bi-chevron-down': !isBachelorDegreeOpen,
        'bi-chevron-up': isBachelorDegreeOpen
      }"
      class="bi"
      style="color: black"
    ></i>
  </div>
  <div class="row gy-3 mt-3" *ngIf="isBachelorDegreeOpen" [@slideToggle]>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{ 'education.College' | translate }}</label>
      <div class="text-muted">
        {{ userEducation?.specialist ? userEducation?.specialist : ('education.No_Data' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{ 'education.Institution_Name' | translate }}</label>
      <div class="text-muted">
        {{ userEducation?.school ? userEducation?.school : ('education.No_Data' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{ 'education.Degree_Type' | translate }}</label>
      <div class="text-muted">
        {{ userEducation?.name ? userEducation?.name : ('education.No_Data' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{ 'education.Field_Of_Study' | translate }}</label>
      <div class="text-muted">
        {{ userEducation?.specialist ? userEducation?.specialist : ('education.No_Data' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{ 'education.Graduation_Year' | translate }}</label>
      <div class="text-muted">
        {{ userEducation?.educationalEnd ? userEducation?.educationalEnd : ('education.No_Data' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{ 'education.GPA_Grade' | translate }}</label>
      <div class="text-muted">
        {{ userEducation?.degree ? userEducation?.degree : ('education.No_Data' | translate) }}
      </div>
    </div>
  </div>
</div>

<!-- <div class="container py-4 mb-4 bgColor">
  <div
    class="d-flex justify-content-between align-items-center"
    (click)="toggleMasterDegree()"
    style="cursor: pointer"
  >
    <h3 class="text-center fw-bold customHeader w-100 mb-0">Master's Degree</h3>
    <i
      [ngClass]="{
        'bi-chevron-down': !isMasterDegreeOpen,
        'bi-chevron-up': isMasterDegreeOpen
      }"
      class="bi"
      style="color: black"
    ></i>
  </div>
  <div class="row gy-3 mt-3" *ngIf="isMasterDegreeOpen" [@slideToggle]>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Field of Study</label>
      <div class="text-muted">Law</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Institution Name</label>
      <div class="text-muted">Ain Shams University</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Graduation Year</label>
      <div class="text-muted">Bachelor Degree</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">GPA/Grade</label>
      <div class="text-muted">Law English Department</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Thesis Title</label>
      <div class="text-muted">
        (e.g., The Impact of AI on Business Processes)
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Honors and Awards</label>
      <div class="text-muted">(e.g., Outstanding Graduate Student Award).</div>
    </div>
  </div>
</div>

<div class="container py-4 mb-4 bgColor">
  <div
    class="d-flex justify-content-between align-items-center"
    (click)="toggleDectorate()"
    style="cursor: pointer"
  >
    <h3 class="text-center fw-bold customHeader w-100 mb-0">Doctorate (PhD)</h3>
    <i
      [ngClass]="{
        'bi-chevron-down': !isDoctorate,
        'bi-chevron-up': isDoctorate
      }"
      class="bi"
      style="color: black"
    ></i>
  </div>
  <div class="row gy-3 mt-3" *ngIf="isDoctorate" [@slideToggle]>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Degree Type</label>
      <div class="text-muted">Law</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Field of Study</label>
      <div class="text-muted">Ain Shams University</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Institution Name</label>
      <div class="text-muted">Bachelor Degree</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Graduation Year</label>
      <div class="text-muted">Law English Department</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Dissertation Title</label>
      <div class="text-muted">
        (e.g., The Impact of AI on Business Processes)
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Supervisor</label>
      <div class="text-muted">(e.g., Outstanding Graduate Student Award).</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">GPA/Grade</label>
      <div class="text-muted">(e.g., Outstanding Graduate Student Award).</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Publications</label>
      <div class="text-muted">(e.g., Outstanding Graduate Student Award).</div>
    </div>
  </div>
</div> -->
