<div class="filter-popup">
  <div class="filter-popup-content">
    <div class="filterHeader">
      <div class="col-12">
        <div class="col-12 text-center">
          <img
            class="img-fluid"
            src="../../../../../assets/images/imageDone.png"
          />
        </div>
        <h2 class="h2 text-center">Success</h2>
        <p class="text-center">"Task successfully moved to Archived."</p>
      </div>
    </div>
    <div class="d-flex justify-content-center gap-2">
      <button class="apply-btn" type="submit">
        Go To Archive
      </button>
      <button class="cancel-btn" type="button" (click)="closePopup()">
        Cancel
      </button>
    </div>
  </div>
</div>
