<div class="container">  
<div class="card-deck ">
    <div class="row">  
    <div class="col-lg-4 ">
        <div class="cardContainer"> 
        <img src="../../../../../../assets/images/Media.png" class="card-img-top" alt="Building Image">
        <div class="card-body">
            <h5 class="card-title">Sheraton</h5>
            <p class="card-text">
                <i class="fa fa-map-marker-alt"></i> 12 Ali Street, buildingB1 sheraton
            </p>
            <p class="card-text">
                <i class="fa fa-user"></i> Maged kareem
            </p>
        </div>
        <div class="card-footer">
            <button class="btn ">VIEW</button>
        </div>
    </div>
</div>
    <div class=" col-lg-4 ">
        <div class="cardContainer"> 
        <img src="../../../../../../assets/images/Media (1).png" class="card-img-top" alt="Building Image">
        <div class="card-body">
            <h5 class="card-title">Nasr City</h5>
            <p class="card-text">
                <i class="fa fa-map-marker-alt"></i> Abas el akad . 15 bilding 12
            </p>
            <p class="card-text">
                <i class="fa fa-user"></i> Abdullah moharmam
            </p>
        </div>
        <div class="card-footer">
            <button class="btn ">VIEW</button>
        </div>
    </div>
</div>

    <div class="col-lg-4 ">
        <div class="cardContainer"> 
        <img src="../../../../../../assets/images/company bulding.png" class="card-img-top" alt="Building Image">
        <div class="card-body">
            <h5 class="card-title">Down Town</h5>
            <p class="card-text">
                <i class="fa fa-map-marker-alt"></i> down town street building 2
            </p>
            <p class="card-text">
                <i class="fa fa-user"></i> Sofian Morad
            </p>
        </div>
        <div class="card-footer">
            <button class="btn ">VIEW</button>
        </div>
    </div>
</div>
</div>
</div>
</div>