<div class="profile-header">
  <ng-container *ngIf="!showAddSubDepartmentForm">
    <div class="w-100 d-flex justify-content-end">
      <button class="btn AddBtn" (click)="toggleAddSubDepartment()">
        <i class="fa fa-plus"></i> Add Sub-Department
      </button>
    </div>
    <div class="profile-info">
      <div class="profile-logo">
        <img [src]="company.logo" alt="Company Logo">
      </div>
      <div class="profile-details">
        <div>
          <h1>{{ company.name }}</h1>
          <p>Software Company</p>
        </div>
        <div class="btn-edit">
          <button>Edit Department</button>
        </div>
      </div>
    </div>
    <div class="profile-content mt-4">
      <div class="profile-section w-75 mb-4">
        <div class="row">
          <div class="col-md-4"><strong>Department Name:</strong></div>
          <div class="col-md-8">{{ Department.name ? 'Department ' + Department.name : 'not exist' }}</div>
        </div>
        <div class="row">
          <div class="col-md-4"><strong>Department shortname:</strong></div>
          <div class="col-md-8">{{ Department.shortName ? Department.shortName : 'not exist' }}</div>
        </div>
        <div class="row">
          <div class="col-md-4"><strong>Address:</strong></div>
          <div class="col-md-8">{{ company.address ? company.address : 'not exist' }}</div>
        </div>
        <div class="row">
          <div class="col-md-4"><strong>Email:</strong></div>
          <div class="col-md-8">{{ company.email ? company.email : 'not exist' }}</div>
        </div>
        <div class="row">
          <div class="col-md-4"><strong>Mobile:</strong></div>
          <div class="col-md-8">{{ company.phoneNumber ? company.phoneNumber : 'not exist' }}</div>
        </div>
        <div class="row">
          <div class="col-md-4"><strong>Phone:</strong></div>
          <div class="col-md-8">{{ company.phone ? company.phone : 'not exist' }}</div>
        </div>
      </div>

      <!-- Button to Toggle Employee Table Visibility -->
      <div class="row">
        <div class="col-lg-6 justify-content-center d-flex">
          <button class="btn viewBtnBack btn-secondary" (click)="goBack()">Back</button>
        </div>
        <div class="col-lg-6 justify-content-center d-flex">
          <button class="btn viewBtn" (click)="toggleEmployeesVisibility()">
            {{ showEmployees ? 'Hide Employees' : 'View Employees Department' }}
          </button>
        </div>
      </div>

      <!-- Modern Table Integration -->
      <div class="profile-section w-100 mt-4" *ngIf="showEmployees">
        <app-modern-table
          [tableTitle]="'Employees'"
          [tableData]="employees"
          [columns]="['id', 'fullName', 'position.name']"
          [modalId]="'employeeDetailsModal'"
          [deleteId]="'employeeDeleteModal'"
          [showActions]="false">
        </app-modern-table>
      </div>
    </div>
  </ng-container>
</div>
