.card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  border: none;
  outline: none;
}

.p-chart {
  position: relative;
 }
.custom-chart {
  height: var(--custom-height, 300px);
}

.custom-chart-container {
  position: relative;
}

.custom-chart {
  height: 100%; 
}
 