<div class="container-fluid landing">
    <div class="row py-3">
        <div class="logo">
            <img src="../../../../assets/images/lightLogo.png">
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="mainCard">
            <div class="row">
                <div class="backArrow" routerLink="">
                    <img src="../../../../assets/images/backArrow.png">
                </div>
            </div>
            <div class="header mt-4">
                <p class="blueHeader">Enter OTP</p>
                <p class="lightDescription">We have shared a code with your registered email address</p>
            </div>
            <div class="customLabels">
                <div class="row justify-content-center d-flex my-3">
                    <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length: 7}"></ng-otp-input>
                </div>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <label>Password</label>
                        <div class="password-container">
                            <input [type]="passwordFieldType" formControlName="password" placeholder="Your password"
                                autocomplete="new-password">
                            <i (click)="togglePasswordVisibility()" class="authIcon fa"
                                [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
                        </div>
                        <div *ngIf="password?.invalid && password?.touched" class="text-danger">
                            <small *ngIf="password?.errors?.['required']">Password is required.</small>
                            <small *ngIf="password?.errors?.['complexPassword']">
                                Password must contain at least one uppercase letter, one number, and one special
                                character.
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <label>Confirm Password</label>
                        <div class="password-container">
                            <input [type]="confirmPasswordFieldType" formControlName="confirmPassword"
                                placeholder="Confirm your password" autocomplete="new-password">
                            <i (click)="toggleConfirmPasswordVisibility()" class="authIcon fa"
                                [ngClass]="confirmPasswordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
                        </div>
                        <div *ngIf="confirmPassword?.invalid && confirmPassword?.touched" class="text-danger">
                            <small *ngIf="confirmPassword?.errors?.['required']">Confirm password is required.</small>
                        </div>
                        <div *ngIf="resetPasswordForm.errors?.['passwordMismatch'] && confirmPassword?.touched"
                            class="text-danger">
                            <small>Passwords must match.</small>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="authBtn">Reset Password</button>
                    </div>
                </form>
                <div class="row pt-5">
                    <p class="lightDescription"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
[hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>