.tab-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .tabs {
    display: flex;
    gap: 20px;
  }
  
  .tab-button {
    background: none;
    border: none;
    color: #8a8a8a;
    font-size: 16px;
    cursor: pointer;
    font-family: Lama Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.03em;
    position: relative;
  }
  
  .tab-button.active {
      color: var(--secondary-color);
  
   }
  
  .indicator {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color:var(--secondary-color);
    border-radius: 50%;
  }
  
  .add-button {
    background-color: #009688;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .add-button::before {
    content: '+';
    margin-right: 8px;
  }