<div class="container w-75">  
<div class="profile-cards-container">
    <div class="profile-card">
        <div class="company-info">
            <h4>IBOIT</h4>
            <p>software company</p>
        </div>
        <div class="profile-info">
            <img src="../../../../../../assets/images/Avatar (2).png" alt="Sarah Ali" class="profile-image">
            <div class="profile-details">
                <h5>Sarah Ali</h5>
                <p>GM</p>
            </div>
        </div>
    </div>

    <div class="profile-card">
        <div class="company-info">
            <h4>IBOIT</h4>
            <p>software company</p>
        </div>
        <div class="profile-info">
            <img src="../../../../../../assets/images/Avatar (2).png" alt="George Mikhaiel" class="profile-image">
            <div class="profile-details">
                <h5>George Mikhaiel</h5>
                <p>VP</p>
            </div>
        </div>
    </div>

    <div class="profile-card">
        <div class="company-info">
            <h4>IBOIT</h4>
            <p>software company</p>
        </div>
        <div class="profile-info">
            <img src="../../../../../../assets/images/Avatar (2).png" alt="Ahmed Magdy" class="profile-image">
            <div class="profile-details">
                <h5>Ahmed Magdy</h5>
                <p>CEO</p>
            </div>
        </div>
    </div>

    <div class="profile-card">
        <div class="company-info">
            <h4>IBOIT</h4>
            <p>software company</p>
        </div>
        <div class="profile-info">
            <img src="../../../../../../assets/images/Avatar (2).png" alt="Samir Mohamed" class="profile-image">
            <div class="profile-details">
                <h5>Samir Mohamed</h5>
                <p>CEO</p>
            </div>
        </div>
    </div>

    <div class="profile-card">
        <div class="company-info">
            <h4>IBOIT</h4>
            <p>software company</p>
        </div>
        <div class="profile-info">
            <img src="../../../../../../assets/images/Avatar (2).png" alt="Yomna Ashraf" class="profile-image">
            <div class="profile-details">
                <h5>Yomna Ashraf</h5>
                <p>GM</p>
            </div>
        </div>
    </div>

    <div class="profile-card">
        <div class="company-info">
            <h4>IBOIT</h4>
            <p>software company</p>
        </div>
        <div class="profile-info">
            <img src="../../../../../../assets/images/Avatar (2).png" alt="Karima Kareem" class="profile-image">
            <div class="profile-details">
                <h5>Karima Kareem</h5>
                <p>CEO</p>
            </div>
        </div>
    </div>
</div>
</div>