<div class="mb-4">
  <div class="row action-section align-items-center justify-content-between">
    <div class="col-7 d-flex align-items-center">
      <div class="col-lg-4">
        <div class="d-flex flex-row justify-content-start align-items-center">
          <div
            style="width: 48px; height: 48px"
            class="rounded-circle d-flex align-items-center"
          >
            <img class="mx-1" src="../../../../../assets/images/task.png" />
          </div>
          <p class="lead m-0">Task board</p>
        </div>
      </div>
      <div class="col-lg-8 d-flex align-items-center justify-content-between">
        <div
          class="d-flex flex-row justify-content-start align-items-center col-8"
        >
          <input
            placeholder="{{ 'viewEmployees.SEARCH' | translate }}"
            class="form-control custom-search"
            [(ngModel)]="searchText"
            (ngModelChange)="searcWithDebounce(searchText)"
          />
        </div>
        <div class="col-3" (click)="toggleFilterPopup()">
          <img
            src="../../../../../assets/images/filter.png"
            alt="filter Image"
          />
        </div>
      </div>
    </div>
    <!-- <div
      class="col-lg-3 d-flex justify-content-between align-items-center archive-filter-container"
    >
      <span class="d-inline-flex justify-content-center align-items-center">
        <img src="../../../../../assets/images/filter-search.svg" />
      </span>
      <button class="btn archive-btn" routerLink="../AddAssets">
        <img src="../../../../../assets/images/save-2.png" />archive
      </button>
    </div> -->
    <div class="col-lg-5 d-flex gap-2">
      <button class="btn archive-btn" routerLink="tasksArchived">
        <img src="../../../../../assets/images/Archive.png" />Archive
      </button>
      <button class="btn action-btn" routerLink="addnew">
        <img src="../../../../../assets/images/add-square.png" />Add task
      </button>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-lg-6">
    <div class="form-group">
      <label class="form-label">{{ "Branch" | translate }}</label>
      <app-drop-down
        [items]="Branches"
        [placeholder]="'Select Branch' | translate"
        [placeholderSearch]="'Search by Name' | translate"
        [itemsLength]="Branches.length"
        (onChange)="onBranchSelect($event)"
        (getNextPageApi)="loadBranchs()"
        (search)="loadBranchs()"
      >
      </app-drop-down>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <label class="form-label">{{ "Department" | translate }}</label>
      <app-drop-down
        [items]="departmentOptions"
        [placeholder]="'Select Department' | translate"
        [placeholderSearch]="'Search by Name' | translate"
        [itemsLength]="departmentOptions?.length || 0"
        (onChange)="onDepartmentSelect($event)"
        (getNextPageApi)="loadDepartments(branchId)"
        (search)="loadDepartments(branchId)"
      >
      </app-drop-down>
    </div>
  </div>
</div>
<div class="row row-gap-4">
  <div class="col" *ngFor="let status of statuses">
    <div
      [ngClass]="getClass(status)"
      class="task-group d-flex justify-content-between"
    >
      <p class="task-group-title">{{ status }}</p>
      <p class="task-group-count">{{ tasksByStatus[status].length }}</p>
    </div>
    <br />
    <div
      cdkDropList
      [id]="status"
      [cdkDropListData]="tasksByStatus[status]"
      [cdkDropListConnectedTo]="connectedLists"
      (cdkDropListDropped)="onDrop($event)"
      class="task-list"
    >
      <!-- Tasks -->
      <div
        *ngFor="let task of tasksByStatus[status]"
        cdkDrag
        [cdkDragData]="task"
        class="task mx-auto"
        [routerLink]="['details', task.id]"
      >
        <div class="task-card done-card fixed-size-card p-3 mb-3">
          <h4 class="task-card-title">{{ task.name }}</h4>
          <p class="task-card-description">
            {{ task.description | Shorten : 20 }}
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <span
              ><img
                src="../../../../../assets/images/calendar.png"
                class="px-1"
              />{{ task.startDate | date : "short" }}</span
            >
            <span class="task-card-subscriber">
              <img
                src="../../../../../assets/images/Avatar (2).png"
                style="width: 15px; height: 15px"
              />
            </span>
          </div>
        </div>
      </div>

      <!-- Placeholder for empty lists -->
      <div *ngIf="tasksByStatus[status].length === 0" class="placeholder">
        Drop tasks here
      </div>
    </div>
  </div>
</div>

<app-tasks-filter-pop-up
  *ngIf="isFilterPopupVisible"
  (closeFilterPopup)="onFilterPopupClose($event)"
  (confirmFilterPopup)="applyFilterPopup($event)"
></app-tasks-filter-pop-up>
