.archive-filter-container span{
  width: 48px;
  height: 48px;
  border: 1px solid #736F77;
  border-radius: 48px;
  text-align: center;

}
.archive-btn {
  background: white;
  width: Fixed (226px)px;
  height: Hug (52px)px;
  padding: 12px;
  border-radius: 10px;
  opacity: 0px;
  color:  #736F77;
  border: 1px solid #736F77;
  width: 80%;
  gap: 0.2em;
  display: flex;
  justify-content: center;
}
.action-btn{
  background: #8413F8;
  width: Fixed (226px)px;
  height: Hug (52px)px;
  padding: 12px;
  border-radius: 10px;
  opacity: 0px;
  color: white;
  width: 100%;
  gap: 0.2em;
  display: flex;
  justify-content: center;
}
.task-group{
  position:relative;
}
.task-group::before{
  position:absolute;
  content: '';
  top: 35px;
  left: 0px;
  height: 7px;
  width: 100%;
  border-radius: 50px;
}

.task-group-todo::before{
  background: #0898CD;
}

.task-group-inprograss::before{
  background: #FF8800;
}

.task-group-submitForReview::before{
  background: #8413F8;
}
.task-group-done::before{
  background: #9ACA3C;
}
.task-group-count{
  text-align: center;
  width:32px;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #9C999F;
  color: #9C999F;
}

.task-card{
  background-color: #fff;
  border-radius: 10px;

}
.task-card h4{
  font-size: 18px;
  font-weight: 700;
}
.task-card p{
  font-size: 14px;
  font-weight: 300;
}
.task-card-subscriber{
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-card-subscriber span{
  font-weight: 300;

}
.task-card-subscriber img{
  border: .5px solid white;
}




