<div class="container p-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="tabs">
        <div class="tab" [ngClass]="{'active': activeTab === 'Deductions'}" (click)="setActiveTab('Deductions')">
          {{ 'employeeDetails.Deductions' | translate }}
        </div>
        <div class="tab" [ngClass]="{'active': activeTab === 'Entitlements'}" (click)="setActiveTab('Entitlements')">
          {{ 'employeeDetails.Entitlements' | translate }}
        </div>
      </div>
    </div>

    <app-dynamic-modal [structure]="structure" [isEdit]="isEdit" [formData]="formData" [modalId]="modalId"
      (submitForm)="handleFormSubmission($event)">
    </app-dynamic-modal>

    <div class="tab-content">
      <div *ngIf="activeTab === 'Deductions'">
        <div class="row mt-4">
          <form [formGroup]="form">
            <div class="row">
              <div class=" col-lg-4 ">
                <label>{{ 'employeeDetails.Deductions' | translate }}</label>
                <input type="number" class="form-control" formControlName="amount" />
              </div>
              <div class="col-lg-4">
                <label>{{ 'employeeDetails.Due_Date' | translate }}</label>
                <input type="date" [max]="todayDate" class= " formatedDate form-control ml-3" formControlName="transactionDate" />
              </div>
              <div class="col-lg-4">
                <app-drop-down (currentPage)="currentPageDropDown" (onChange)="dropDown($event)"
                  (getNextPageApi)="loadEntitiesDropDown('SalaryType',$event, isDeduction)" (currentPage)="currentPageDropDown"
                  (search)="searchInDropDown('SalaryType',$event)" [items]="dropDownData"
                  [itemsLength]="dropDownData.length" [label]="''" [placeholder]="'select'"
                  [placeholderSearch]="'Search By Name'">
                </app-drop-down>
              </div>
              <div class="col-lg-12">
                <label>{{ 'employeeDetails.comment' | translate }}</label>
                <textarea type="comment" class="form-control ml-3" formControlName="comment" ></textarea>
              </div>
            </div>
          </form>
          <div class="row justify-content-center text-center">
            <div class="col-lg-12 my-3">
              <button class="btn bonusBtn w-40" [disabled]="!form.valid" (click)="submit()">
                <img src="../../../../../assets/images/add-circle.png"> {{ 'employeeDetails.add_deduction' | translate }}
              </button>
            </div>
          </div>
          <hr>
          <app-modern-table [isThereSearch]="false" (newReqByPage)="loadEntitie('employeeSalary',$event)"
            (searchApi)="loadEntitie('employeeSalary', 1 ,$event )" [totalRows]="totalRows['employeeSalary']"
            [tableTitle]="activeTab" [tableData]="financial" [columns]="columns" searchPlaceholder="Search data...">
          </app-modern-table>
        </div>
      </div>
      <div *ngIf="activeTab === 'Entitlements'">
        <div class="row mt-4">
          <form [formGroup]="form">
            <div class="row">
              <div class=" col-lg-4 ">
                <label>{{ 'employeeDetails.Bonus' | translate }}</label>
                <input type="number" class="form-control" formControlName="amount">
              </div>
              <div class="col-lg-4">
                <label>{{ 'employeeDetails.Due_Date' | translate }}</label>
                <input type="date" class="formatedDate form-control ml-3" formControlName="transactionDate" />
              </div>
              <div class="col-lg-4">
                <app-drop-down (currentPage)="currentPageDropDown" (onChange)="dropDown($event)"
                  (getNextPageApi)="loadEntitiesDropDown('SalaryType',$event,isDeduction)" (currentPage)="currentPageDropDown"
                  (search)="searchInDropDown('SalaryType',$event)" [items]="dropDownData"
                  [itemsLength]="dropDownData.length" [label]="''" [placeholder]="'select'"
                  [placeholderSearch]="'Search By Name'">
                </app-drop-down>
              </div>
              <div class="col-lg-12">
                <label>{{ 'employeeDetails.comment' | translate }}</label>
                <textarea type="comment" class="form-control ml-3" formControlName="comment" ></textarea>
              </div>
            </div>
          </form>
          <div class="row justify-content-center text-center">
            <div class="col-lg-12 my-3">
              <button class="btn bonusBtn w-40" [disabled]="!form.valid" (click)="submit()">
                <img src="../../../../../assets/images/add-circle.png"> {{ 'employeeDetails.Add_Bonus' | translate }}
              </button>
            </div>
          </div>
          <hr>
          <app-modern-table
            [isThereSearch]="false"
            (newReqByPage)="loadEntitie('employeeSalary',$event)"
            (editItem)="openEditModal($event)"
            (searchApi)="loadEntitie('employeeSalary', 1 ,$event )"
            [totalRows]="totalRows['employeeSalary']"
            [tableTitle]="activeTab"
            [tableData]="financial"
            [columns]="columns"
            searchPlaceholder="Search data..."


            [modalId]="modalId"
            (editItem)="openEditModal($event)"
            (deleteItem)="deleteEntity('AssetsCategories', $event.id)"
            [deleteId]="deleteId"
            >
          </app-modern-table>
        </div>
      </div>

    </div>
  </div>
</div>
