* {
  font-family: "Lama Sans" !important;
}
.invailed{
  outline: 1px solid red;
}
.nav-tabs .nav-link.active {
  color: #8e2de2;
  font-weight: bold;
}

.form-control {
  border-radius: 8px;
}

input[type="date"] {
  padding-left: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #8e2de2;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.btn-light {
  background-color: #f3f4f6;
  border-color: #f3f4f6;
}

.btn-light .fa-search {
  color: #888;
}

.btn-primary {
  background-color: #8e2de2;
  border-color: #8e2de2;
}

.tabs {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;
  gap: 3rem !important;
}

.tab {
  font-size: 16px;
  color: #aaa;
  cursor: pointer;
  position: relative;
}

.tab.active {
  color: #6a0dad;
  font-weight: bold;
}

.tab.active::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 5px;
  height: 5px;
  background-color: #6a0dad;
  border-radius: 50%;
}

.tab:hover {
  color: #6a0dad;
}

body[dir="rtl"] {
  direction: rtl;
}

.bonusBtn {
  border: 1px solid #5c0dae;
  border-radius: 10px;
  color: #5c0dae;
}

.btn-save {
  background: #8413f8;
  color: white;
  border-radius: 10px;
}

.container {
  background: white;
  border-radius: 20px;
}

label {
  font-family: Lama Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
}
input {
  border: 1px solid #e7e6e8;
  background: #fbfbfb;
}
.formatedDate
{
  text-transform: uppercase !important;
}
