<div class="container p-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="tabs">
        <div class="tab" [ngClass]="{'active': activeTab === 'Entitlements'}" (click)="setActiveTab('Entitlements')">
          {{ 'employeeDetails.Entitlements' | translate }}
        </div>
        <div class="tab" [ngClass]="{'active': activeTab === 'Deductions'}" (click)="setActiveTab('Deductions')">
          {{ 'employeeDetails.Deductions' | translate }}
        </div>
      </div>
    </div>

    <div class="tab-content">
      <div *ngIf="activeTab === 'Entitlements'">
        <div class="row mt-4">
          <form [formGroup]="form">
            <div class="row">
              <div class=" col-lg-4 ">
                <label>{{ 'employeeDetails.Bonus' | translate }}</label>
                <input type="number" class="form-control" formControlName="amount" />
              </div>
              <div class="col-lg-4">
                <label>{{ 'employeeDetails.Due_Date' | translate }}</label>
                <input type="date" class="form-control ml-3" formControlName="transactionDate" />
              </div>
              <div class="col-lg-4">
                <app-drop-down (currentPage)="currentPageDropDown" (onChange)="dropDown($event)"
                  (getNextPageApi)="loadEntitiesDropDown('SalaryType',$event)" (currentPage)="currentPageDropDown"
                  (search)="searchInDropDown('SalaryType',$event)" [items]="dropDownData"
                  [itemsLength]="dropDownData.length" [label]="''" [placeholder]="'select'"
                  [placeholderSearch]="'Search By Name'">
                </app-drop-down>
              </div>
            </div>
          </form>
          <div class="row justify-content-center text-center">
            <div class="col-lg-12 my-3">
              <button class="btn bonusBtn w-40" (click)="submit()">
                <img src="../../../../../assets/images/add-circle.png"> {{ 'employeeDetails.Add_Bonus' | translate }}
              </button>
            </div>
          </div>
          <hr>
          <app-modern-table [tableTitle]="activeTab" [tableData]="financial" [columns]="columns"
            searchPlaceholder="Search data...">
          </app-modern-table>

        </div>
      </div>
      <div *ngIf="activeTab === 'Deductions'">
        <div class="row mt-4">
          <div class="row">
            <!-- Deduction Toggle -->
            <div class="col-lg-4 ">
              <label>{{ 'employeeDetails.Deduction' | translate }}</label>
              <input type="text" class="form-control" placeholder="10,000" />
            </div>
            <div class="col-lg-4">
              <label>{{ 'employeeDetails.Due_Date' | translate }}</label>
              <input type="date" class="form-control ml-3" />
            </div>
            <div class="col-lg-4">
              <app-drop-down (currentPage)="currentPageDropDown"
                (getNextPageApi)="loadEntitiesDropDown('SalaryType',$event)" (currentPage)="currentPageDropDown"
                (search)="searchInDropDown('SalaryType',$event)" (onChange)="dropDown($event)" [items]="dropDownData"
                [itemsLength]="dropDownData.length" [label]="''" [placeholder]="'select'"
                [placeholderSearch]="'Search By Name'"></app-drop-down>
            </div>
          </div>
          <div class="row justify-content-center text-center">
            <div class="col-lg-12 my-3">
              <button class="btn bonusBtn w-40" (click)="submit()">
                <img src="../../../../../assets/images/add-circle.png"> {{ 'employeeDetails.Add_Bonus' | translate }}
              </button>
            </div>
          </div>
          <hr>
          <!-- Save Button -->
          <div class="row my-3">
            <div class="col-lg-12">
              <button class="btn w-50 btn-save">{{ 'deductions.Save' | translate }}</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
