<div class="container">
  <div class="row">
    <!-- Button to open the modal -->
    <div class="col-6">
      <button
        type="button"
        class="btn custom-button btn-primary"
        data-bs-toggle="modal"
        [attr.data-bs-target]="'#' + modalId"
        (click)="openAddModal()"
      >
        {{"Add Currency" | translate}}
      </button>
    </div>
  </div>

  <!-- Dynamic Modal Component -->
  <app-dynamic-modal
    [structure]="structure"
    [isEdit]="isEdit"
    [formData]="formData"
    [modalId]="modalId"
    (submitForm)="handleFormSubmission($event)"
  ></app-dynamic-modal>

  <!-- Modern Table Component -->
  <app-currency-table
    [tableTitle]="'Currency Types'"
    (newReqByPage)="loadEntities('CurrencyType', $event)"
    [totalRows]="totalRows['CurrencyType']"
    [tableData]="CurrencyTypes"
    [columns]="columns"
    [modalId]="modalId"
    searchPlaceholder="Search data..."
    (editItem)="openEditModal($event)"
    (deleteItem)="deleteEntity('CurrencyType', $event.id)"
    [deleteId]="deleteId"
    (defaultItem)="defaultEntity($event)"
    [defaultId]="defaultId"
    (searchApi)="loadEntities('CurrencyType', 1, $event)"
  ></app-currency-table> 
</div>
