<div class="row py-3 my-3">
    <div class="form-container" [formGroup]="addEmployeeForm">
        <form>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('firstName')}">
                        <label for="firstName">First Name</label>
                        <input required type="text" id="firstName" formControlName="firstName" class="form-control"
                            placeholder="Enter first name">
                        <div *ngIf="isFieldInvalid('firstName')" class="invalid-feedback">
                            First Name is required.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('lastName')}">
                        <label for="lastName">Last Name</label>
                        <input required type="text" id="lastName" formControlName="lastName" class="form-control"
                            placeholder="Enter last name">
                        <div *ngIf="isFieldInvalid('lastName')" class="invalid-feedback">
                            Last Name is required.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('fullName')}">
                        <label for="fullName">Full Name</label>
                        <input required type="text" id="fullName" formControlName="fullName" class="form-control"
                            placeholder="Enter full name">
                        <div *ngIf="isFieldInvalid('fullName')" class="invalid-feedback">
                            Full Name is required.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('phoneNumber')}">
                        <label for="phoneNumber">Mobile Number</label>
                        <input required type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control"
                            placeholder="Enter mobile number">
                        <div *ngIf="isFieldInvalid('phoneNumber')" class="invalid-feedback">
                            Mobile Number is required.
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('password')}">
                        <label for="password">Password</label>
                        <div class="password-container">
                            <input [type]="passwordFieldType" id="password" formControlName="password"
                                class="form-control" placeholder="Enter password" autocomplete="new-password">
                            <i (click)="togglePasswordVisibility()" class="authIcon fa"
                                [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
                        </div>
                        <div *ngIf="isFieldInvalid('password')" class="invalid-feedback">
                            Password is required.
                        </div>
                        <div *ngIf="addEmployeeForm.get('password')?.errors?.['complexPassword']"
                            class="invalid-feedback">
                            Password must include at least one uppercase letter, one number, and one special
                            character.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('confirmPassword')}">
                        <label for="confirmPassword">Confirm Password</label>
                        <div class="password-container">
                            <input [type]="confirmPasswordFieldType" id="confirmPassword"
                                formControlName="confirmPassword" class="form-control" placeholder="Confirm password"
                                autocomplete="new-password">
                            <i (click)="toggleConfirmPasswordVisibility()" class="authIcon fa"
                                [ngClass]="confirmPasswordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
                        </div>
                        <div *ngIf="isFieldInvalid('confirmPassword')" class="invalid-feedback">
                            Confirm Password is required.
                        </div>
                        <div *ngIf="addEmployeeForm.errors?.['passwordMismatch']" class="invalid-feedback">
                            Passwords do not match.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-actions">
                <div class="col-lg-6">
                    <button type="button" routerLink="../addAdmin" class="btn btn-cancel">Cancel</button>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-next" (click)="onSubmit()">Next</button>
                </div>
            </div>
        </form>
    </div>
</div>
<p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>