<!-- <div class="container py-4 mb-4 bgColor">
  <div
    class="d-flex justify-content-between align-items-center"
    (click)="toggleDiploma()"
    style="cursor: pointer"
  >
    <h3 class="text-center fw-bold customHeader w-100 mb-0">Diploma</h3>
    <i
      [ngClass]="{
        'bi-chevron-down': !isDiplomaOpen,
        'bi-chevron-up': isDiplomaOpen
      }"
      class="bi"
      style="color: black"
    ></i>
  </div>
  <div class="row gy-3 mt-3" *ngIf="isDiplomaOpen" [@slideToggle]>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Degree Type</label>
      <div class="text-muted">{{ userEducation.school }}</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Field of Study</label>
      <div class="text-muted">{{ userEducation.educationalEnd }}</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Institution Name</label>
      <div class="text-muted">{{ userEducation.degree }}</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Graduation Year</label>
      <div class="text-muted">{{ userEducation.degree }}</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark"
        >Certifications (if any)</label
      >
      <div class="text-muted">{{ userEducation.degree }}</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Institution Location</label>
      <div class="text-muted">{{ userEducation.degree }}</div>
    </div>
  </div>
</div> -->


<div class="container py-4 mb-4 bgColor" *ngIf="!userEducation?.length">
  <div
    class="d-flex justify-content-between align-items-center"
    (click)="toggleCertificate()"
    style="cursor: pointer"
  >
    <h3 class="text-center fw-bold customHeader w-100 mb-0">
      {{ "certificate.Certificates" | translate }}
    </h3>
    <!-- <i
      [ngClass]="{
        'bi-chevron-down': !isCertificateOpen,
        'bi-chevron-up': isCertificateOpen
      }"
      class="bi"
      style="color: black"
    ></i> -->
  </div>
  
  <div class="row gy-3 mt-3">
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "certificate.Certificate_Name" | translate
      }}</label>
      <div class="text-muted">
        {{ "certificate.No_Data" | translate }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "certificate.Specialist" | translate
      }}</label>
      <div class="text-muted">
        {{
          "certificate.No_Data" | translate
        }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "certificate.Issuing_Organization" | translate
      }}</label>
      <div class="text-muted">
        {{ "certificate.No_Data" | translate }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "certificate.Issue_Date" | translate
      }}</label>
      <div class="text-muted">
        {{ "certificate.No_Data" | translate }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "certificate.Expiry_Date" | translate
      }}</label>
      <div class="text-muted">
        {{ "certificate.No_Data" | translate }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "certificate.certificateFile" | translate
      }}</label>
      <div class="text-muted">
        <!-- Image Files -->
        <img
          [src]=""
          alt="CertificateImage"
          style="width: 300px; height: 300px"
        />
      </div>
    </div>
  </div>
  
</div>


@for (item of userEducation; track $index) {
<div class="container py-4 mb-4 bgColor">
  <div
    class="d-flex justify-content-between align-items-center"
    (click)="toggleCertificate()"
    style="cursor: pointer"
  >
    <h3 class="text-center fw-bold customHeader w-100 mb-0" *ngIf="$index <= 0">
      {{ "certificate.Certificates" | translate }}
    </h3>
    <!-- <i
      [ngClass]="{
        'bi-chevron-down': !isCertificateOpen,
        'bi-chevron-up': isCertificateOpen
      }"
      class="bi"
      style="color: black"
    ></i> -->
  </div>
  
  <div class="row gy-3 mt-3" *ngIf="isCertificateOpen">
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "certificate.Certificate_Name" | translate
      }}</label>
      <div class="text-muted">
        {{ item?.name ? item?.name : ("certificate.No_Data" | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "certificate.Specialist" | translate
      }}</label>
      <div class="text-muted">
        {{
          item?.specialist
            ? item?.specialist
            : ("certificate.No_Data" | translate)
        }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "certificate.Issuing_Organization" | translate
      }}</label>
      <div class="text-muted">
        {{ item?.issuer ? item?.issuer : ("certificate.No_Data" | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "certificate.Issue_Date" | translate
      }}</label>
      <div class="text-muted">
        {{ item?.from ? (item?.from| date: 'dd/mm/yyyy')  : ("certificate.No_Data" | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "certificate.Expiry_Date" | translate
      }}</label>
      <div class="text-muted">
        {{ item?.to ? (item?.to | date: 'dd/MM/yyyy') : ("certificate.No_Data" | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "certificate.certificateFile" | translate
      }}</label>
      <div class="text-muted">
        <!-- Image Files -->
        <img
          *ngIf="isImage(item.file)"
          [src]="item.file"
          alt="CertificateImage"
          style="width: 300px; height: 300px"
        />

        <!-- PDF Files -->
        <div *ngIf="isPDF(item.file)" class="d-flex gap-2 align-items-center">
          <img
            src="../../../../../../../assets/images/fileIcon2.png"
            style="width: 100px; height: 100px"
            alt=""
          />
          <p>{{item.fileDescription.description}}</p>
        </div>

        <!-- <iframe
          *ngIf="isPDF(item.file)"
          [src]="item.file"
          style="width: 300px; height: 300px"
          frameborder="0"
        >
        </iframe> -->
        <a *ngIf="isPDF(item.file)" [href]="item.file" target="_blank" download
          >Download PDF</a
        >

        <!-- Text Files -->
        <a *ngIf="isText(item.file)" [href]="item.file" target="_blank" download
          >Download Text File</a
        >
      </div>
    </div>
    <!-- <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark"
        >GPA/Grade (if applicable)</label
      >
      <div class="text-muted">2011</div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark"
        >Certifications (if any)</label
      >
      <div class="text-muted">650</div>
    </div> -->
  </div>
  
</div>
}
<!-- <div class="container py-4 mb-4 bgColor">
  <div
    class="d-flex justify-content-between align-items-center"
    (click)="toggleAdditionalFields()"
    style="cursor: pointer"
  >
    <h3 class="text-center fw-bold customHeader w-100 mb-0">Additional Fields for All Stages</h3>
    <i
      [ngClass]="{
        'bi-chevron-down': !isAdditionalFields,
        'bi-chevron-up': isAdditionalFields
      }"
      class="bi"
      style="color: black"
    ></i>
  </div>
  <div class="row gy-3 mt-3" *ngIf="isAdditionalFields" [@slideToggle]>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">Additional Fields for All Stages</label>
      <div class="text-muted">crime law</div>
    </div>
  </div>
</div> -->
