<div class="container">
  <div class="firstSection">
    <div class="header-container">
      <div class="col-lg-4 title-section">
        <i class="icon fa fa-table"></i>
        <h2 class="title">Companies</h2>
      </div>
      <div class="col-lg-4 search-section">
        <form class="d-flex w-100" role="search">
          <input class="customSearch" type="search" placeholder="Search" aria-label="Search">
          <button class="search-btn" type="submit">
            <img src="../../../../../assets/images/softic/default.png" alt="Search" width="16" height="16">
          </button>
        </form>
      </div>
      <div class="col-lg-4 add-button-section">
        <button class="add-button" routerLink="../addCompany">
          <i class="fa fa-plus"></i> Add New Company
        </button>
      </div>
    </div>
  </div>
  <div class="cardContainer">
    <h3 >Subscripted Software Companies</h3>
    <div class="row">
      @if(companies){
      <div  *ngFor="let company of companies" class="col-lg-4 col-md-6 col-sm-12 mb-4">
       <a routerLink="../company/{{company.id}}"> <app-company-card [title]="company.name" [branches]="10" [cities]="5" [description]="company.description"
          [iconSrc]="company.logo" [link]="company.webSite" >
        </app-company-card></a>
      </div>
      }@else {
      <div>No data to show</div>
      }

    </div>
  </div>
</div>
