<div class="container-fluid landing">
    <div class="row d-flex justify-content-center">
        <div class="logo">
            <img src="../../../../assets/images/softic/softicLogo.png">
        </div>
        <div class="col-lg-6 authContainer">
            <div class="customContainer">
                <div class="header mt-4">
                    <p class="blackHeader">Forget your password</p>
                    <p class="lightDescription">Please enter your email and we will send an OTP code in the next step to
                        reset your password.</p>
                </div>
                <div class="customLabels">
                    <form (ngSubmit)="onSubmit()">
                        <div class="row">
                            <label for="email">Email</label>
                            <input id="email" name="email" [(ngModel)]="email" placeholder="Your Email address"
                                required>
                        </div>
                        <div class="row">
                            <button type="submit" class="authBtn">Continue</button>
                        </div>
                    </form>
                    <div class="row d-flex justify-content-center pt-5" routerLink="">
                        <p class="lightDescription justify-content-center d-flex">
                            <img class="backArrow" src="../../../../assets/images/auth/arrow-left.png">Back to login
                        </p>
                    </div>
                    <div class="row pt-5">
                        <p class="lightDescription" routerLink="../ResetPassword"> reset </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <img class="imgContainer" src="../../../../assets/images/auth/login.png">
        </div>
    </div>
</div>
<p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'1000ms'"></p-toast>