<!-- <div class="mb-4">
  <div class="row action-section align-items-center">
    <div class="col-lg-2">
      <div class="d-flex flex-row justify-content-start align-items-center">
        <div style="width: 48px; height: 48px;" class="rounded-circle">
          <img class="mx-1" src="../../../../../assets/images/task.png" alt="Task">
        </div>
        <p class="lead">Task board</p>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="d-flex flex-row justify-content-start align-items-center">
        <input
          placeholder="{{ 'SEARCH' | translate }}"
          class="form-control custom-search"
          [ngModel]="searchText"
          (ngModelChange)="search($event)"
        />
      </div>
    </div>

    <div class="col-lg-3">
      <button class="btn action-btn" routerLink="../tasks/addnew">
        <img src="../../../../../assets/images/add-square.png" alt="Add Task"> Add Task
      </button>
    </div>
  </div>
</div> -->

<div class="mb-4">
    <div class="row action-section align-items-center justify-content-between">
        <div class="col-7 d-flex align-items-center">
            <div class="col-lg-4">
                <div class="d-flex flex-row justify-content-start align-items-center">
                    <div style="width: 48px; height: 48px" class="rounded-circle d-flex align-items-center">
                        <img class="mx-1" src="../../../../../assets/images/task.png" />
                    </div>
                    <p class="lead m-0">Task board</p>
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-center justify-content-between">
                <div class="d-flex flex-row justify-content-start align-items-center col-8">
                    <input placeholder="{{ 'SEARCH' | translate }}" class="form-control custom-search"
                        [(ngModel)]="searchText" (ngModelChange)="search(searchText)" />
                </div>
                <div class="col-3" (click)="toggleFilterPopup()">
                    <img src="../../../../../assets/images/filter.png" alt="filter Image" />
                </div>
            </div>
        </div>
        <!-- <div
        class="col-lg-3 d-flex justify-content-between align-items-center archive-filter-container"
      >
        <span class="d-inline-flex justify-content-center align-items-center">
          <img src="../../../../../assets/images/filter-search.svg" />
        </span>
        <button class="btn archive-btn" routerLink="../AddAssets">
          <img src="../../../../../assets/images/save-2.png" />archive
        </button>
      </div> -->
        <div class="col-lg-5 d-flex gap-2">
            <!-- <button class="btn archive-btn" routerLink="../tasks/tasksArchived">
          <img src="../../../../../assets/images/analytics.png" />Analytics
        </button> -->
            <button class="btn archive-btn" routerLink="../tasks/tasksArchived">
                <img src="../../../../../assets/images/Archive.png" />Archive
            </button>
            <button class="btn action-btn" routerLink="../tasks/addnew" *ngIf="departmentId">
                <img src="../../../../../assets/images/add-square.png" />Add task
            </button>
        </div>
    </div>
</div>

<div class="row row-gap-4">
    <div class="col" *ngFor="let status of statuses">
        <div [ngClass]="getClass(status)" class="task-group d-flex justify-content-between">
            <p class="task-group-title">{{ status }}</p>
            <p class="task-group-count">{{ tasksByStatus[status]?.length || 0 }}</p>
        </div>

        <br />

        <div cdkDropList [id]="status" [cdkDropListData]="tasksByStatus[status]"
            [cdkDropListConnectedTo]="connectedLists" (cdkDropListDropped)="onDrop($event)" class="task-list">
            <div *ngFor="let task of tasksByStatus[status]" cdkDrag [cdkDragData]="task" class="task"
                [routerLink]="['/tasksDetails', task?.id]">
                <div class="task-card done-card fixed-size-card p-3 mb-3" [routerLink]="['/tasksDetails', task?.id]">
                    <h4 class="task-card-title">{{ task?.name }}</h4>
                    <p class="task-card-description">{{ task?.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <span>
                            <img src="../../../../../assets/images/calendar.png" class="px-1" alt="Calendar" />
                            {{ task?.startDate | date : "short" }}
                        </span>
                        <span class="task-card-subscriber">
                            <img src="../../../../../assets/images/Avatar (2).png" style="width: 15px; height: 15px"
                                alt="Avatar" />
                        </span>
                    </div>
                </div>
            </div>

            <!-- Placeholder when no tasks are present -->
            <div *ngIf="tasksByStatus[status]?.length === 0" class="placeholder">
                Drop tasks here
            </div>
        </div>
    </div>
</div>

<!-- <app-tasks-filter-pop-up *ngIf="isFilterPopupVisible" (closeFilterPopup)="onFilterPopupClose($event)" (confirmFilterPopup)="applyFilterPopup($event)"></app-tasks-filter-pop-up> -->