<div class="sidebar-toggle-btn d-md-none">
  <button class="toggle-btn" type="button" (click)="toggleSidebar()">
    <i class="lni lni-grid-alt"></i> ☰
  </button>
</div>
<aside id="sidebar" [ngClass]="{ 'expand': isExpanded, 'd-none': !isVisible }" class="h-100">
  <div class="d-flex">
    <button class="toggle-btn d-none d-md-block" type="button" (click)="toggleSidebar()">
      <i class="lni lni-grid-alt"></i> ☰
    </button>
    <div class="sidebar-logo">
      <a href="#">
        <img style="width: 170px;" src="../../../../assets/images/Chabaka Al- Dhakia- logo options-01 1.svg">
      </a>
    </div>
  </div>
  <ul class="sidebar-nav">
    <li class="sidebar-item">
      <a class="sidebar-link">
        <span class="lightDescription justify-content-between">Quick Access</span>
      </a>
    </li>
    
    <!-- Apply `routerLinkActive` directive here -->
    <li class="sidebar-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/dashboard/home" class="sidebar-link">
        <img src="../../../../assets/images/element-4.png">
        <span>Dashboard</span>
      </a>
    </li>
    
    <!-- Admin Role Sidebar Link -->
    <li class="sidebar-item" *ngIf="role[0] === 'Admin'" routerLinkActive="active-link">
      <a [routerLink]="'/dashboard/company/' + companyId" class="sidebar-link">
        <img src="../../../../assets/images/softic/companyIcon.png">
        <span>Company</span>
      </a>
    </li>
    
    <!-- SuperAdmin Role Sidebar Link -->
    <li class="sidebar-item" *ngIf="role[0] === 'SuperAdmin'" routerLinkActive="active-link">
      <a routerLink="/dashboard/indexCompany" class="sidebar-link">
        <img src="../../../../assets/images/softic/companyIcon.png">
        <span>Companies</span>
      </a>
    </li>
    
    <li class="sidebar-item" routerLinkActive="active-link">
      <a routerLink="/dashboard/OrganizationCharts" class="sidebar-link">
        <img src="../../../../assets/images/softic/orgIcon.png">
        <span>Organizational Chart</span>
      </a>
    </li>
    
    <!-- Conditional Employee Link for Admin and SuperAdmin Roles -->
    <li class="sidebar-item" *ngIf="role[0] === 'Admin' || role[0] === 'SuperAdmin'" routerLinkActive="active-link">
      <a routerLink="/dashboard/ViewEmployees" class="sidebar-link">
        <img src="../../../../assets/images/profile-circle.png">
        <span>Employee</span>
      </a>
    </li>
  </ul>
  <div class="sidebar-footer">
     <a routerLink="AddEmployee" class="sidebar-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <img src="../../../../assets/images/softic/user-add.png">
      <span class="settingText">Add Admin</span>
    </a>
    
     <ng-container *ngIf="role[0] === 'Admin' || role[0] === 'SuperAdmin'">
      <a routerLink="generalLookups" class="sidebar-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <img src="../../../../assets/images/settings.png">
        <span class="settingText">Setting</span>
      </a>
    </ng-container>
    
    <!-- Help Link -->
    <a href="#" class="sidebar-link" routerLinkActive="active-link">
      <img src="../../../../assets/images/help.png">
      <span class="helpText">Help</span>
    </a>
    
    <!-- Logout Button -->
    <div>
      <a class="sidebar-link"  (click)="logout()">
        <img src="../../../../assets/images/logout.png">
        <span class="logoutText">Logout</span>
      </a>
    </div>
  </div>
  
</aside>
