<div class="table-container">
  <div
    class="row mb-3 align-items-center tableContainer justify-content-between"
  >
    <div class="col-lg-3 col-md-12 col-sm-12">
      <h5 class="tableTitle">{{ tableTitle | translate }}</h5>
    </div>
    <div class="col-lg-3">
      @if(isThereSearch){
      <input
        [(ngModel)]="searchText"
        [placeholder]="searchPlaceholder | translate"
        class="form-control custom-search"
        (ngModelChange)="searcWithDebounce(searchText)"
      />
      }
    </div>
    <div class="col-lg-3" *ngIf="filterDropDown">
    <select class="form-select" [(ngModel)]="selectedValue" (change)="filter()" id="exampleSelect">
      <option value=true >{{"assiend assets"|translate}}</option>
      <option value=false>{{"not assiend assets" |translate}}</option>
    </select>
    </div>
    <!-- <div class="col-lg-2 col-md-6 col-sm-6">
      @if(isThereSearchByDate){
      <input type="date" [(ngModel)]="fromDate" class="form-control custom-date-filter"
        [placeholder]="'From Date'| translate" (change)="searchDate()" />
      }
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6">
      @if(isThereSearchByDate){
      <input type="date" [(ngModel)]="toDate" class="form-control custom-date-filter"
        [placeholder]="'To Date' | translate" (change)="searchDate()" />
      }
    </div> -->
    <div class="col-lg-2 col-md-12 col-sm-12 text-end">
      <button (click)="exportToExcel()" class="btn btn-primary custom-button">
        {{ "Export to Excel" | translate }}
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table custom-table">
      <thead>
        <tr>
          <th class="customColumn" *ngFor="let column of columns">
            {{ column | translate }}
          </th>
          <th class="customColumn" *ngIf="showActions">
            {{ "Actions" | translate }}
          </th>
          <!-- Only show if showActions is true -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableData">
          <td class="tableText" *ngFor="let column of columns">
            {{ item[column] }}
          </td>
          <td class="tableText" *ngIf="showActions">
            @if(isThereEdit){
            <button
              class="btn btn-sm mx-2"
              data-bs-toggle="modal"
              [attr.data-bs-target]="'#' + modalId"
              (click)="editItem.emit(item)"
            >
              <i class="fa-solid fa-lg fa-pen"></i>
            </button>
            } @if(isThereDelete){
            <button
              class="btn"
              type="button"
              (click)="openDeleteModal(item)"
              data-bs-toggle="modal"
              [attr.data-bs-target]="'#' + deleteId"
            >
              <img
                class="CustomIcon"
                src="../../../../../assets/images/delete.png"
              />
            </button>
            } @if(newAction.length >= 1){ @for (newA of newAction ; track
            newA.isExisting ; let idx = $index, e = $even) {
            <button
              class="btn"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              (click)="onCLickNewAction(item)"
            >
              <img
                class="CustomIcon"
                [src]="'../../../../../assets/images/' + newA['src']"
              />
            </button>
            } }
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center custom-pagination">
    <pagination
      [totalItems]="totalRows"
      [(ngModel)]="currentPage"
      [itemsPerPage]="itemsPerPage"
      [maxSize]="10"
      [boundaryLinks]="true"
      [firstText]="'First' | translate"
      [lastText]="'Last' | translate"
      previousText="&laquo;"
      nextText="&raquo;"
      (pageChanged)="handlePageChange($event)"
    >
    </pagination>
  </div>
  <app-delete-pop-up
    #deletePopUp
    (confirmDelete)="confirmDelete()"
    deleteId="{{ deleteId }}"
  ></app-delete-pop-up>
</div>
