.table-container {
  margin: 20px 0;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.custom-search {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  background: #F9F9F9;

}

.custom-date-filter {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  background: #F9F9F9;

}

.custom-button {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #8ebaff;
  border: none;
  color: white;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table thead th {
  background-color: white;
  color: #333;
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #dee2e6;
}

.custom-table tbody tr {
  border-bottom: 1px solid #dee2e6;
}

.custom-table tbody td {
  padding: 12px;
  color: #495057;
}

.custom-table tbody tr:nth-child(even) {
  background-color: white;
}

.custom-table tbody tr:hover {
  background-color: #e9ecef;
}

.pagination {
  margin-top: 20px;
}

.custom-status-on-time {
  background-color: white;
  color: #155724;
  border-radius: 20px;
  padding: 5px 10px;
  display: inline-block;
}

.custom-status-late {
  background-color: white;
  color: #721c24;
  border-radius: 20px;
  padding: 5px 10px;
  display: inline-block;
}

.tableTitle {
  color: #2D3A49;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 600;
}

.custom-pagination .pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.custom-pagination .pagination li {
  margin: 0 5px;
}

.custom-pagination .pagination li a,
.custom-pagination .pagination li span {
  display: inline-block;
  padding: 10px 15px;
  color: #007bff;
  text-decoration: none;
  border: 1px solid #dee2e6;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
  background-color: #f8f9fa; /* Custom background color for pagination numbers */
}

.custom-pagination .pagination li a:hover,
.custom-pagination .pagination li a:focus,
.custom-pagination .pagination li span:hover,
.custom-pagination .pagination li span:focus {
  background-color: #007bff;
  color: white;
  outline: none;
}

.custom-pagination .pagination li.active a,
.custom-pagination .pagination li.active span {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.custom-pagination .pagination li.disabled a,
.custom-pagination .pagination li.disabled span {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
  border-color: #dee2e6;
}

.customColumn{
  color: #A2A1A8;
   font-family: Nunito;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: left;

}
.tabelText{
  color: #000000;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-align: left;

}
@media (max-width: 992px) {
  .tableContainer{
      gap: 1em;

  }
}
