<div class="container py-4">
    <h3 class="text-center fw-bold customHeader mb-4">Social media contact</h3>
    <div class="row gy-3">
        <div class="col-12 col-md-6 border-bottom-custom">
            <label class="d-block fw-semibold text-dark">Privet Mobile number</label>
            <div class="text-muted">22121-33356-54</div>
        </div>
        <div class="col-12 col-md-6 border-bottom-custom">
            <label class="d-block fw-semibold text-dark">Business Mobile number</label>
            <div class="text-muted">01064514442</div>
        </div>
        <div class="col-12 col-md-6 border-bottom-custom">
            <label class="d-block fw-semibold text-dark">Email Address</label>
            <div class="text-muted">yomna.aeagmail.com</div>
        </div>
        <div class="col-12 col-md-6 border-bottom-custom">
            <label class="d-block fw-semibold text-dark">Facebook</label>
            <a href="http://www.7636200--5612692-jklalhlaka.com"
                class="text-muted">www.7636200--5612692-jklalhlaka.com</a>
        </div>
        <div class="col-12 col-md-6 border-bottom-custom">
            <label class="d-block fw-semibold text-dark">Instagram</label>
            <a href="http://www.7636200--5612692-jklalhlaka.com"
                class="text-muted">www.7636200--5612692-jklalhlaka.com</a>
        </div>
        <div class="col-12 col-md-6 border-bottom-custom">
            <label class="d-block fw-semibold text-dark">Linkedin</label>
            <a href="http://www.7636200--5612692-jklalhlaka.com"
                class="text-muted">www.7636200--5612692-jklalhlaka.com</a>
        </div>
        <div class="col-12 col-md-6 border-bottom-custom">
            <label class="d-block fw-semibold text-dark">Snapchat</label>
            <a href="http://www.7636200--5612692-jklalhlaka.com"
                class="text-muted">www.7636200--5612692-jklalhlaka.com</a>
        </div>
        <div class="col-12 col-md-6 border-bottom-custom">
            <label class="d-block fw-semibold text-dark">Twitter</label>
            <a href="http://www.7636200--5612692-jklalhlaka.com"
                class="text-muted">www.7636200--5612692-jklalhlaka.com</a>
        </div>
        <div class="col-12">
            <label class="d-block fw-semibold text-dark">Website</label>
            <a href="http://www.7636200--5612692-jklalhlaka.com"
                class="text-muted">www.7636200--5612692-jklalhlaka.com</a>
        </div>
    </div>
</div>