<div class="container py-4 bgColor">
  <h3 class="text-center fw-bold customHeader mb-4">
    {{ "socialMediaContact.Title" | translate }}
  </h3>
  <div class="row gy-3">
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">
        {{ "socialMediaContact.Facebook" | translate }}
      </label>
      <a
        [href]="userSocial?.facebook"
        target="_blank"
        rel="noopener noreferrer"
        class="text-muted"
      >
        {{
          userSocial?.facebook
            ? userSocial?.facebook
            : ("socialMediaContact.No_Data" | translate)
        }}
      </a>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">
        {{ "socialMediaContact.Instagram" | translate }}
      </label>
      <a
        [href]="userSocial?.instgram"
        target="_blank"
        rel="noopener noreferrer"
        class="text-muted"
      >
        {{
          userSocial?.instgram
            ? userSocial?.instgram
            : ("socialMediaContact.No_Data" | translate)
        }}
      </a>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">
        {{ "socialMediaContact.LinkedIn" | translate }}
      </label>
      <a
        [href]="userSocial?.linkedIn"
        target="_blank"
        rel="noopener noreferrer"
        class="text-muted"
      >
        {{
          userSocial?.linkedIn
            ? userSocial?.linkedIn
            : ("socialMediaContact.No_Data" | translate)
        }}
      </a>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">
        {{ "socialMediaContact.Snapchat" | translate }}
      </label>
      <a
        [href]="userSocial?.snapShot"
        target="_blank"
        rel="noopener noreferrer"
        class="text-muted"
      >
        {{
          userSocial?.snapShot
            ? userSocial?.snapShot
            : ("socialMediaContact.No_Data" | translate)
        }}
      </a>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">
        {{ "socialMediaContact.Twitter" | translate }}
      </label>
      <a
        [href]="userSocial?.twitterX"
        target="_blank"
        rel="noopener noreferrer"
        class="text-muted"
      >
        {{
          userSocial?.twitterX
            ? userSocial?.twitterX
            : ("socialMediaContact.No_Data" | translate)
        }}
      </a>
    </div>
      <div class="col-12 col-md-6 border-bottom-custom"  *ngIf="userSocial?.userEmails!.length>=1" >
          <label class="d-block fw-semibold text-dark" *ngIf="userSocial?.userEmails!.length>=1">
            {{ 'socialMediaContact.email' | translate }}
          </label>
          <p  *ngFor="let email of userSocial?.userEmails;let i =index"
            class="text-muted"
          >
           <a href="mailto:{{email.email}}">{{ email?.email ? email?.email : ('socialMediaContact.No_Data' | translate) }}</a>
          </p>
      </div>

      <div class="col-12 col-md-6 border-bottom-custom"  *ngIf="userSocial?.userRefernces!.length>=1" >
        <label class="d-block fw-semibold text-dark" *ngIf="userSocial?.userRefernces!.length>=1">
          {{ 'socialMediaContact.referance' | translate }}
        </label>
        <p  *ngFor="let referance of userSocial?.userRefernces;let i =index"
          class="text-muted"
        >
          {{ referance?.email ? referance?.email : ('socialMediaContact.No_Data' | translate) }}
      </p>
      </div>

      <div class="col-12 col-md-6 border-bottom-custom"  *ngIf="userSocial?.userTelephones!.length>=1" >
        <label class="d-block fw-semibold text-dark" *ngIf="userSocial?.userTelephones!.length>=1">
          {{ 'socialMediaContact.userTelephone' | translate }}
        </label>
        <p  *ngFor="let userTelephone of userSocial?.userTelephones;let i =index"

          class="text-muted row"
        >
        <span class="col-3" *ngIf="userTelephone.isFavourit">{{'socialMediaContact.isFavourit' | translate}} :</span>
        <span class="col-3" *ngIf="userTelephone.isWhatsApp ">{{'socialMediaContact.isWhatsApp' | translate}} :</span>
         <span class="col-6"> {{ userTelephone?.telephone ? userTelephone?.telephone : ('socialMediaContact.No_Data' | translate) }}</span>


      </p>
      </div>
  </div>
</div>

