.bgColor {
  background-color: white !important;
}
.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.contact-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.contact-item {
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.contact-item label {
  display: block;
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

.contact-item .value {
  color: #999;
  font-size: 14px;
  margin-top: 5px;
}

.contact-item .value a {
  color: #0066cc; /* Blue color for hyperlinks */
  text-decoration: none;
}

.contact-item .value a:hover {
  text-decoration: underline;
}
h3{
  color: #6a0dad;
  font-size: 20px;
}
