<div class="container py-4 bgColor">
    <h3 class="text-center fw-bold customHeader mb-4">Skills</h3>
    <div class="row gy-3">
      <div class="col-12 col-md-6 border-bottom-custom">
        <label class="d-block fw-semibold text-dark">ٍSkill Name</label>
        <div class="text-muted">{{ userSkills.name }}</div>
      </div>
      <div class="col-12 col-md-6 border-bottom-custom">
        <label class="d-block fw-semibold text-dark">Skill Type</label>
        <div class="text-muted">{{ userSkills.skillTypeName }}</div>
      </div>
      <div class="col-12 col-md-12 border-bottom-custom">
        <label class="d-block fw-semibold text-dark">Skill Description</label>
        <div class="text-muted">{{userSkills.description}}</div>
      </div>
    </div>
  </div>
  