<div class="container py-4 mb-4 bgColor" *ngIf="!userSkills?.length">
  <h3 class="text-center fw-bold customHeader mb-4">
    {{ "skills.Title" | translate }}
  </h3>

  <div class="row gy-3 mb-3">
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "skills.Name" | translate
      }}</label>
      <div class="text-muted">
        {{ "skills.NoData" | translate }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "skills.Type" | translate
      }}</label>
      <div class="text-muted">
        {{ "skills.NoData" | translate }}
      </div>
    </div>
    <div class="col-12 col-md-12 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "skills.Description" | translate
      }}</label>
      <div class="text-muted">
        {{ "skills.NoData" | translate }}
      </div>
    </div>
  </div>
</div>

@for (item of userSkills; track $index) {
<div class="container py-4 mb-4 bgColor">
  <h3 class="text-center fw-bold customHeader mb-4" *ngIf="$index <= 0">
    {{ "skills.Title" | translate }}
  </h3>

  <div class="row gy-3 mb-3">
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "skills.Name" | translate
      }}</label>
      <div class="text-muted">
        {{ item?.name ? item?.name : ("skills.NoData" | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "skills.Type" | translate
      }}</label>
      <div class="text-muted">
        {{
          item?.skillTypeName
            ?  isArabic? item?.skillTypeNameAr  : item?.skillTypeName
            : ("skills.NoData" | translate)
        }}
      </div>
    </div>
    <div class="col-12 col-md-12 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{
        "skills.Description" | translate
      }}</label>
      <div class="text-muted">
        {{
          item?.description ? item?.description : ("skills.NoData" | translate)
        }}
      </div>
    </div>
  </div>
</div>
}
