<div class="container py-4 bgColor">
  <h3 class="text-center fw-bold customHeader mb-4">{{ 'skills.Title' | translate }}</h3>
  <div class="row gy-3">
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{ 'skills.Name' | translate }}</label>
      <div class="text-muted">
        {{ userSkills?.name ? userSkills?.name : ('skills.NoData' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-6 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{ 'skills.Type' | translate }}</label>
      <div class="text-muted">
        {{ userSkills?.skillTypeName ? userSkills?.skillTypeName : ('skills.NoData' | translate) }}
      </div>
    </div>
    <div class="col-12 col-md-12 border-bottom-custom">
      <label class="d-block fw-semibold text-dark">{{ 'skills.Description' | translate }}</label>
      <div class="text-muted">
        {{ userSkills?.description ? userSkills?.description : ('skills.NoData' | translate) }}
      </div>
    </div>
  </div>
</div>