<div class="container my-5">
  <!-- Add Position Form -->
  <ng-container *ngIf="!showDetails"> <!-- Modify this line -->
    <ng-container *ngIf="isAdd || isEdit; else positionList">
      <app-add-position [companyId]="companyId" (action)="handleAction($event)" [positionData]="positionData" [isEdit]="isEdit">
      </app-add-position>
    </ng-container>

    <!-- Position List -->
    <ng-template #positionList>
      <div class="row justify-content-between">
        <div class="col-5">
          <label class="form-label ">{{'COMPANY_DETAILS.search_position'|translate}}</label>
          <input [(ngModel)]="searchText" placeholder="{{'COMPANY_DETAILS.search_position'|translate}}" (input)="loadEntities('PositionType', 1)" placeholder="translate" class="form-control custom-search "/>
        </div>
        <button class="col-3  btn addPositionBtn" (click)="addPosition()">
          <i class="fas fa-plus"></i> {{ 'INDEX_POSITION.ADD_POSITION' | translate }}
        </button>
      </div>
      <div class="row">
        <div class="col-lg-4 mt-3 col-md-6 col-sm-12" *ngFor="let position of positions">
          <div class="card">
            <div class="card-header">
              <h3>{{ isArabic ?position.nameAr:position.name }}</h3>
              <p>{{ 'INDEX_POSITION.DEPARTMENT' | translate }}: {{ getDepartmentName(position.departmentId) }}</p>
            </div>
            <div class="card-body" *ngIf="!position.isAssigned">
              <button class="btn btn-add" (click)="addEmployee(position.id?.toString()||'0')">
                <i class="fas fa-plus"></i> {{ 'INDEX_POSITION.ADD_EMPLOYEE' | translate }}
              </button>
            </div>
            <div class="card-header" *ngIf="position.isAssigned">
                   {{position.employeeName}}
            </div>
            <div class="card-footer">
              <!-- <label class="toggle-label">
                <span>{{ position.isActive ? ('INDEX_POSITION.DEACTIVATE' | translate) : ('INDEX_POSITION.ACTIVATE' |
                  translate) }}</span>
                <label class="switch">
                  <input type="checkbox" [checked]="position.isActive" (change)="toggleActivation(position)">
                  <span class="slider"></span>
                </label>
              </label> -->
              <i class="fas fa-trash-alt icon-trash" (click)="deletePosition(position.id||0)"></i>
              <i class="fas fa-edit icon-edit" (click)="editPosition(position)"></i>
              <!-- <button class="btn" (click)="showDetailsPage(position.id?.toString()||'0')">
                <span class="details">{{ 'INDEX_POSITION.SHOW_DETAILS' | translate }}
                  <i [ngClass]="{'rotate-arrow': isArabic}" class="fa-solid fa-arrow-right"></i>
                </span>
              </button> -->
            </div>
          </div>
        </div>
      </div>

      <!-- Pagination Controls -->
      <div class="d-flex justify-content-center mt-3">
        <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage"
          (pageChanged)="handlePageChange($event)" previousText="&laquo;" nextText="&raquo;">
        </pagination>
      </div>
    </ng-template>
  </ng-container>

  <!-- Details Page -->
  <div *ngIf="showDetails" class="table-container">
    <button class="btn" (click)="goBack()">
      <i class="fas fa-arrow-left"></i> {{ 'INDEX_POSITION.BACK' | translate }}
    </button>
    <app-modern-table
      [tableTitle]="'INDEX_POSITION.EMPLOYEES_OF' | translate : {positionName: selectedPositionData?.name}"
      [tableData]="employees" [columns]="['id', 'fullName', 'position.name', 'department.name']"
      [modalId]="'employeeDetailsModal'" [deleteId]="'employeeDeleteModal'" [showActions]="false">
    </app-modern-table>
  </div>

   <ng-container *ngIf="isAddEmployee">
    <app-assign-employees 
    [positionId]="selectedPositionId" 
    [Position]="'INDEX_POSITION.POSITION' | translate"
    [PositionDescription]="selectedPositionData?.name || ''"
    [Department]="'INDEX_POSITION.DEPARTMENT_DESCRIPTION' | translate"
    [DepartmentDescription]="getDepartmentName(selectedPositionData?.departmentId) || ''"
    [DirectManager]="'INDEX_POSITION.DIRECT_MANAGER' | translate"
    [DirectManagerDescription]="directManger?.fullName || ''"
    
    (close)="closePopup()"
    (submitForm)="handleFormSubmit($event)"
    (getNextPage)="loadMoreEmployees($event)"
    (search)="searchUnassignedEmployees($event)">
  </app-assign-employees>
  </ng-container>
</div>

<p-toast position="top-center"></p-toast>
<p-confirmDialog></p-confirmDialog>
