<div class="container my-5">
  <ng-container *ngIf="isAdd; else positionList">
    <app-add-position [companyId]="companyId" (action)="handleAction($event)"></app-add-position>
  </ng-container>
  <ng-template #positionList>
    <div class="row">
      <div class="justify-content-end d-flex">
        <button class="btn addPositionBtn w-25" (click)="addPosition()"><i class="fas fa-plus"></i> Add Position</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mt-3 col-md-6 col-sm-12" *ngFor="let position of positions">
        <div class="card">
          <div class="card-header">
            <h3>{{ position.name }}</h3>
          </div>
          <div class="card-body">
            <button class="btn btn-add" (click)="addEmployee(position.id)"><i class="fas fa-plus"></i> Add Employee</button>
          </div>
          <div class="card-footer">
            <label class="toggle-label">
              <span class="mx-2">Activate</span>
              <label class="switch">
                <input type="checkbox" [checked]="position.isActive">
                <span class="slider"></span>
              </label>
            </label>
            <i class="fas fa-trash-alt icon-trash" (click)="deletePosition(position.id)"></i>
            <i class="fas fa-edit icon-edit"></i>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-container *ngIf="isAddEmployee">
    <app-assign-employees 
      [positionId]="selectedPositionId" 
      [Position]="'Position'" 
      [PositionDescription]="selectedPositionData?.name || ''" 
      [Department]="'Department'" 
      [DepartmentDescription]="selectedPositionData?.department || ''" 
      [DirectManager]="'Direct Manager'" 
      [DirectManagerDescription]="selectedPositionData?.manager || ''"
      [employees]="employees" 
      (close)="closePopup()"
      (submitForm)="handleFormSubmit($event)">
      <ng-template #popupContent>
        <form>
          <div>
            <label for="employeeName">Name:</label>
            <input type="text" id="employeeName" name="employeeName">
          </div>
          <button type="submit">Assign</button>
        </form>
      </ng-template>
    </app-assign-employees>
  </ng-container>
</div>
<p-toast position="top-center"></p-toast>
