<div class="container">
    <div class="image">
      <img src="https://i.imgur.com/8f7jV7d.png" alt="Image">
    </div>
    <div class="col-lg-8 "> 
    <div class="details">
      <div class="detail">
        <div class="detail-title">Category</div>
        <div  class="detail-description">Computers</div>
      </div>
      <div class="detail">
        <div class="detail-title">Sub-Category</div>
        <div class="detail-description">Laptop(HP)</div>
      </div>
      <div class="detail">
        <div class="detail-title">Technical description</div>
        <div  class="detail-description">Laptop 15-fd00 00nr, Intel Core i5, 8GB RAM, 512GB SSD</div>
      </div>
    </div>
  </div>
</div>
  