<div class="container-fluid landing"> 
    <div class="row py-3 ">
        <div class="logo">
            <img src="../../../../assets/images/lightLogo.png"> 
        </div>
    </div>
    <div class="row  d-flex justify-content-center">
        <div class="mainCard">  
            <div class="row">
                <div class="backArrow" routerLink="">  
                <img  src="../../../../assets/images/backArrow.png">
            </div>
        </div>
            <div class="header mt-4">
                <p class="blueHeader">Your password has ben updated successfully</p>
            </div>
            <div class="customLabels">
               
                <div class="row">
                    <button routerLink="" class="authBtn"> BACK TO LOGIN </button>
                </div>
                <div class="row pt-5">
                    <p class="lightDescription"> </p>
                </div>
            </div>
        </div>
    </div>
</div>