<div class="container">
    <div class="mt-4">  
    <button type="button" class="btn custom-button btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#' + modalId" (click)="openAddModal()">
      Add Item
    </button>
  </div>


  <app-dynamic-modal
    [structure]="structure"
    [isEdit]="isEdit"
    [formData]="formData"
    [modalId]="modalId"
    (submitForm)="handleFormSubmission($event)">
  </app-dynamic-modal>

  <app-modern-table
    [tableTitle]="'Attachment Categories'"
    [tableData]="attachmentCategories"
    [columns]="columns"
    [modalId]="modalId"
    searchPlaceholder="Search data..."
    (editItem)="openEditModal($event)"
    (deleteItem)="deleteEntity('attachmentCategory', $event.id, companyId)">
  </app-modern-table>
</div>
