<nav class="navbar navbar-expand-lg bg-light">
  <div class="responsiveButton justify-content-end d-flex">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="col-lg-6">
        <form class="d-flex" role="search">
          <input class="customSearch" type="search" [placeholder]="'NAV.SEARCH' | translate" aria-label="Search">
        </form>
      </div>
      <div class="col-lg-1 justify-content-center d-flex position-relative">
        <div class="notification-container">
          <mat-icon matBadge="15" (click)="toggleNotifications()">notifications_none</mat-icon>
          <span class="notification-badge" *ngIf="unreadNotifications > 0">{{ unreadNotifications }}</span>
        </div>

        <!-- Notification Dropdown -->
        <div *ngIf="showNotifications" class="notification-dropdown">
          <ul class="list-group w-100">
            <li class="list-group-item" *ngFor="let notification of notifications" (click)="markAsRead(notification)">
              <p>{{ notification.message | translate }}</p>
              <small>{{ notification.timestamp | date:'short' }}</small>
            </li>
            <li *ngIf="notifications.length === 0" class="list-group-item">
              <p>{{ 'No notifications' | translate }}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-1 justify-content-center d-flex">
        <app-change-language></app-change-language>
      </div> <!-- routerLink="profile" -->
      <div class="col-lg-4 d-flex gap-3 justify-content-end profile flex-fill" routerLink="profile">
        <a> <img class="img-fluid" [src]="profileImage ? profileImage: 'assets/images/default.jpeg'"> </a>
        <div class="desc">
          <p>{{user.firstName || ''}}</p>
          <p>{{roles[0]|| '' }}</p>
        </div>
        <button type="button" class="btn" (click)="toggleFullScreen()">
          <img src="assets/images/fullscreen.png" alt="" style=" width: 20px; height: 20px;">
        </button>
      </div>
    </div>
  </div>

</nav>
