.customSearch {
  border-radius: 14px;
  opacity: 0px;
  background: #FFFFFF;
  width: 100%;
  border: 0.2px solid #788ba2;
  padding: 0.4em;
}

.customSearch:focus {
  border: 0.2px solid #788ba2;
  outline: none !important;
}

.customSearch {
  flex-grow: 1;
}

.search-btn {
  background: none;
  border: none;
  padding: 0;
  margin-left: -30px;
  display: flex;
  align-items: center;
}

.search-btn img {
  width: 16px;
  height: 16px;
}

.notfication {
  padding: 13px;
  border-radius: 14px;
  opacity: 0px;
  background: #FFFFFF;
}

.profile img {
  width: 50px;
  height: 50px;
}

@media (max-width: 576px) {
  .responsiveButton {
      width: 100%;
  }
}

@media (max-width: 992px) {
  .navbar-collapse{
      margin: 1em;

  }
}
.navbar{
  background-color: white !important;
}

.notification-container {
position: relative;
cursor: pointer;
}

.notification-icon {
width: 24px;
height: 24px;
}

.notification-badge {
position: absolute;
top: 0;
right: 0;
background-color: red;
color: white;
border-radius: 50%;
padding: 3px 7px;
font-size: 12px;
}

.notification-dropdown {
position: absolute;
top: 35px;
right: 0;
width: 250px;
background-color: white;
 border-radius: 5px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
z-index: 1000;
}

.notification-dropdown ul {
list-style: none;
padding: 0;
margin: 0;
}

.notification-dropdown li {
padding: 10px;
}

.notification-dropdown li:last-child {
border-bottom: none;
}
