<div class="container">
  <div class="firstSection">
    <div class="header-container">
      <div class="col-lg-4 title-section">
        <i class="icon fa fa-table"></i>
        <h2 class="title">Companies</h2>
      </div>
      <div class="col-lg-4 search-section">
        <input class="customSearch" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchDataValue"
          (ngModelChange)="searcWithDebounce(searchDataValue)">
      </div>
      <div class="col-lg-4 add-button-section">
        <button class="add-button" routerLink="../addCompany">
          <i class="fa fa-plus"></i> Add New Company
        </button>
      </div>
    </div>
  </div>
  <div class="cardContainer">
    <h3 routerLink="../DepartmentOverview">Subscripted Software Companies</h3>
    <div class="row">
      <ng-container *ngIf="companies.length; else noData">
        <div *ngFor="let company of companies" class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <a routerLink="../company/{{company.id}}" class="text-decoration-none">
            <app-company-card [title]="company.name" [branches]="10" [cities]="5" [description]="company.description"
              [iconSrc]="company.logo" [link]="company.webSite">
            </app-company-card>
          </a>
        </div>
      </ng-container>
      <ng-template #noData>
        <div>No data to show</div>
      </ng-template>
    </div>
  </div>

  <!-- Pagination Controls -->
  <div class="d-flex justify-content-center mt-3" *ngIf="!searchDataValue">
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage"
      (pageChanged)="handlePageChange($event)" previousText="&laquo;" nextText="&raquo;">
    </pagination>
  </div>
</div>
