/* You can add global styles to this file, and also import other style files */
*{
  text-transform: capitalize;
}
.CustomIcon{
  width: 30px;
  height: 30px;
}
.ngx-intl-tel-input {
  width: 100%;
}
.mat-mdc-tab .mdc-tab__text-label , .mdc-tab__text-label {
  color: var(--G-gray-2, #AAAAAB) !important;
}
.mat-mdc-tab-header{
border-top: #0D0714;
border-bottom: #0D0714;
}
.mat-mdc-tab-group, .mat-mdc-tab-nav-bar{
  --mdc-tab-indicator-active-indicator-color: black;
  --mat-tab-header-active-label-text-color: black;
  --mat-tab-header-active-ripple-color: black;
  --mat-tab-header-inactive-ripple-color: black;
  --mat-tab-header-active-focus-label-text-color: black;
  --mat-tab-header-active-hover-label-text-color: black;
  --mat-tab-header-active-focus-indicator-color: black;
  --mat-tab-header-active-hover-indicator-color: black;
  border-top: 1px solid #e0e2ec;
}
.page-link , .page-link.active, .active > .page-link , .active > .page-link:focus{
  --bs-pagination-hover-bg: #2D81AC !important;
  --bs-pagination-active-bg: #2D81AC;
  color: #0D0714;

}
.mdc-tab__content span {
  /* font-family: Lama Sans; */
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.03em;
  text-align: center;
}

@font-face {
  font-family: 'Lama Sans';
  src: url('assets/fonts/LamaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'Lama Sans';
}

.p-dialog .p-dialog-header {
  background-color: #663895;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
}


.p-dialog .p-dialog-content {
  padding: 20px;
  font-size: 15px;
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-dialog .p-dialog-content i {
  font-size: 40px;
  color: #ff9800;
  margin-bottom: 10px;
}


.p-dialog .p-dialog-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}


.p-dialog .p-button-danger {
  background-color: #f44336;
  border-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.p-dialog .p-button-danger:hover {
  background-color: #e53935;
}

.p-dialog .p-button-secondary {
  background-color: #663895;
  border-color: #663895;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.p-dialog .p-button-secondary:hover {
  background-color: #663895;
}
