<div class="assets-form container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <p class="AddNewAsset">{{ "Assets.AddNewAsset" | translate }}</p>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="AssetName">{{ "Assets.AssetName" | translate }}</label>
          <input
            type="text"
            id="AssetName"
            name="AssetName"
            class="form-control"
            formControlName="AssetName"
            placeholder="{{ 'Assets.AssetNamePlaceholder' | translate }}"
            required
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="AssetName">{{ "Assets.AssetNameAr" | translate }}</label>
          <input
            type="text"
            id="AssetNameAr"
            name="AssetNameAr"
            class="form-control"
            formControlName="AssetNameAr"
            placeholder="{{ 'Assets.AssetNamePlaceholder' | translate }}"
            required
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="Model">{{ "Assets.Model" | translate }}</label>
          <input
            type="text"
            id="Model"
            name="Model"
            class="form-control"
            formControlName="Model"
            placeholder="{{ 'Assets.AssetIDPlaceholder' | translate }}"
            required
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="AssetCategory">{{
            "Assets.AssetCategory" | translate
          }}</label>
          <select
            id="AssetCategory"
            formControlName="AssetCategory"
            class="form-control"
          >
            <option value="" disabled>
              {{ "Assets.AssetCategoryPlaceholder" | translate }}
            </option>
            <option *ngFor="let item of assetsCategories" [value]="item.id">
              @if (lang == 'en') {
              {{ item.name }}} @else{
              {{ item.nameAr }}
              }
            </option>
          </select>
        </div>
      </div>
      <!-- <div class="col-lg-6">
        <div class="form-group">
          <label for="AssetSupCategory">{{
            "Assets.AssetSup-Category" | translate
          }}</label>
          <input
            type="text"
            id="AssetSupCategory"
            name="AssetSupCategory"
            class="form-control"
            formControlName="AssetSupCategory"
            placeholder="{{ 'Assets.AssetSupCategoryPlaceholder' | translate }}"
            required
          />
        </div>
      </div> -->
      <div class="col-12">
        <div class="form-group full-width">
          <label for="reason">{{
            "Assets.TechnicalDescription" | translate
          }}</label>
          <textarea
            id="reason"
            name="reason"
            class="form-control"
            [placeholder]="'Assets.TechnicalDescriptionPlaceholder' | translate"
            required
            minlength="100"
            formControlName="AssetReason"
            maxlength="300"
          ></textarea>
        </div>
      </div>
      <!-- <div class="col-lg-12">
        <div class="form-group">
          <label for="AssetAccessories">{{
            "Assets.AssetAccessories" | translate
          }}</label>
          <input
            type="text"
            id="AssetAccessories"
            name="AssetAccessories"
            class="form-control"
            formControlName="AssetAccessories"
            placeholder="{{ 'Assets.AssetAccessoriesPlaceholder' | translate }}"
            required
          />
        </div>
      </div> -->
      <div class="form-group d-none">
        <label for="long">Longitude</label>
        <input id="long" formControlName="long" placeholder="Enter Longitude" class="form-control" />
        <div *ngIf="form.get('long')?.invalid && form.get('long')?.touched" class="text-danger">{{
          'addBranch.LONGITUDE_REQUIRED' | translate }}</div>
      </div>
      <div class="form-group d-none">
        <label for="lat">Latitude</label>
        <input id="lat" formControlName="lat" placeholder="Enter Latitude" class="form-control" />
        <div *ngIf="form.get('lat')?.invalid && form.get('lat')?.touched" class="text-danger">{{
          'addBranch.LATITUDE_REQUIRED' | translate }}</div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label for="map">{{
            "Assets.AssetLocation" | translate
          }}</label>
        <app-map (locationSelected)="onLocationSelected($event)" [long]="46.738586" [lat]="24.774265"></app-map>
        </div>
      </div>
      <!-- <div class="row d-flex gap-3">
        <div class="form-group">
          <label for="photo">{{ "Assets.attachment" | translate }}</label>
          <div class="container-upload">
            <div
              *ngIf="!fileType1 || fileType1.startsWith('image/')"
              class="header"
            >
              <p>{{ "ASSET_UPLOADER.BROWSE_FILE" | translate }}</p>
            </div>
            <label for="file" class="footer">
              <p *ngIf="!selectedFileName1 && !uploadMessage1">
                {{ "ASSET_UPLOADER.NO_FILE_SELECTED" | translate }}
              </p>
              <div
                *ngIf="selectedFileName1 && !fileType1?.startsWith('image/')"
                class="file-info"
              >
                <i class="fa fa-file" aria-hidden="true"></i>
                <span>{{ selectedFileName1 }}</span>
              </div>
              <img
                *ngIf="imagePreviewUrl1 && fileType1?.startsWith('image/')"
                [src]="imagePreviewUrl1"
                alt="{{ 'ASSET_UPLOADER.SELECTED_FILE' | translate }}"
                class="img-preview"
              />
              <p *ngIf="uploadMessage1" class="upload-message">
                {{ uploadMessage1 }}
              </p>
            </label>
            <input
              id="file"
              type="file"
              (change)="onFile1Change($event)"
              formControlName="AssetAttachment"
              class="form-control-file"
            />
          </div>
        </div> -->
        <div class="form-group">
          <label for="photo">{{ "Assets.photo" | translate }}</label>
          <div class="container-upload">
            <div
              *ngIf="!fileType || fileType.startsWith('image/')"
              class="header"
            >
              <p>{{ "ASSET_UPLOADER.BROWSE_FILE" | translate }}</p>
            </div>
            <label for="file" class="footer">
              <p *ngIf="!selectedFileName && !uploadMessage">
                {{ "ASSET_UPLOADER.NO_FILE_SELECTED" | translate }}
              </p>
              <div
                *ngIf="selectedFileName && !fileType?.startsWith('image/')"
                class="file-info"
              >
                <i class="fa fa-file" aria-hidden="true"></i>
                <span>{{ selectedFileName }}</span>
              </div>
              <img
                *ngIf="imagePreviewUrl && fileType?.startsWith('image/')"
                [src]="imagePreviewUrl"
                alt="{{ 'ASSET_UPLOADER.SELECTED_FILE' | translate }}"
                class="img-preview"
              />
              <p *ngIf="uploadMessage" class="upload-message">
                {{ uploadMessage }}
              </p>
            </label>
            <input
              id="file"
              type="file"
              (change)="onFileChange($event)"
              formControlName="AssetPhoto"
              class="form-control-file"
            />
          </div>
        </div>
      </div>

      <div class="row my-3">
        <div class="">
          <button type="submit" class="btn btn-primary w-100">
            {{ "ASSET_UPLOADER.SEND" | translate }}
          </button>
        </div>
      </div>
    <!-- </div> -->
  </form>
</div>
