#chart {
  width: 100%;
   margin: auto;
  padding: 20px;
  background: white;
  border-radius: 12px; 
 }

.apexcharts-canvas {
  font-family: 'Arial', sans-serif;
}

.apexcharts-xaxis text {
  font-size: 14px !important;
  font-weight: bold;
}

.apexcharts-yaxis text {
  font-size: 12px !important;
  font-weight: bold;
}

.apexcharts-tooltip {
  background-color: #333 !important;
  color: white !important;
}
