<div class="card">
    <div class="card-header d-flex align-items-center">
      <span class="title">
        <img class="mx-2" src="../../../../../assets/images/Group.png">{{ title }}</span>
      <span class="amount">{{ amount }}</span>
    </div>
    <div class="card-content">
      <div *ngFor="let category of categories" class="category">
        <div class="text d-flex justify-content-between align-items-center">
          <span class="category-title"><img src="../../../../../assets/images/add.png">{{ category.title }}</span>
          <span class="category-amount">{{ category.amount }}</span>
        </div>
        <ul *ngIf="category.items" class="Allowance">
          <li *ngFor="let item of category.items">- {{ item.name }} <span>{{ item.value }}</span></li>
        </ul>
      </div>
    </div>
  </div>
  