body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    font-family: Lama Sans;
}

.profile-header {
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4f4f4;
}

.background-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profile-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius:12px;
    border: 3px solid white;
    object-fit: cover;
}

.profile-info {
    flex: 1;
    margin-left: 20px;
}

.profile-info h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.profile-info p {
    margin: 5px 0 0;
    font-size: 18px;
}


.edit-profile-btn:hover {
    background-color: #0056b3;
}
.custombtn{
    display: flex;
    bottom: -63px;
    position: relative;
    right: 50px;
}
.save-btn{
    background: #0075FF;
color: white;
border-radius: 10px;
width: 100%;
padding: 0.5em;
margin-top: 1em;
}
.edit-icon-img{
    position: absolute;
    bottom: 0px;
    left: 105px;
}
.edit-icon-img img{
    border-radius: 10px 0px;

}
