<div class="profile-header">
  <img src="../../../../assets/images/coverimg.png" alt="Background Image" class="background-img">
  <div class="profile-content">
    <div class="col-lg-6 d-flex align-items-center position-relative">
      <img class="profile-img" [src]="selectedImageUrl || 'assets/images/default.jpeg'" alt="Profile Image">
      <div class="edit-icon-img">
        <img src="../../../../assets/images/profile/editIcon.png" alt="Edit Icon" (click)="onEditClick()">
        <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" style="display: none;">
      </div>
      <div class="profile-info">
        <h1>{{ user?.firstName }}</h1>
        <p>{{ roles[0] | translate }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="profile-form">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <app-custom-input [label]="'Profile_Information.Full Name' | translate" [(ngModel)]="userData.fullName"
          [placeholder]="'Profile_Information.Full Name' | translate"></app-custom-input>
      </div>
      <div class="col-lg-6 col-md-12">
        <app-custom-input [label]="'Profile_Information.Mobile' | translate" [(ngModel)]="userData.phoneNumber"
          [placeholder]="'Profile_Information.Mobile'| translate" [disabled]='true'></app-custom-input>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <app-custom-input [label]="'Profile_Information.Email' | translate" [(ngModel)]="userData.email"
          [placeholder]="'Profile_Information.Email' | translate" [disabled]='true'></app-custom-input>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10 text-center">
        <div class="p-0 w-100">
          <button (click)="save()" class="btn save-btn">{{'Save' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
