<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <app-modern-table
        [totalRows]="attendances.totalRows"
        [tableTitle]="'Attendance Overview'"
        [tableData]="attendances.list"
        [columns]="['attendanceDate', 'day', 'hour']"
        [isThereEdit]="false"
        [isThereDelete]="false"
        [showActions]="true"
        [newAction]="newAction"
        (onCLickNewActionOutput)="openLocationPopup($event)"
      ></app-modern-table>
    </div>
  </div>

  <!-- Modal -->
  <div class="custom-modal" *ngIf="showModal">
    <div class="custom-modal-content">
      <div class="custom-modal-header">
        <h5>Employee Attendance Locations</h5>
        <button class="close-btn" (click)="closeLocationPopup()">X</button>
      </div>
      <div class="custom-modal-body">
        <app-map [lat]="employee?.lat || 0" [employee]="employee"
        [long]="employee?.long || 0"></app-map>
      </div>
    </div>
    <div class="custom-modal-backdrop" (click)="closeLocationPopup()"></div>
  </div>
</div>
