<div class="container">
    <div class="mt-4">
        <button type="button" class="btn custom-button btn-primary" data-bs-toggle="modal"
            [attr.data-bs-target]="'#' + modalId" (click)="openAddModal()">
            {{ 'benefitType.ADD_BENEFIT' | translate }}
        </button>
    </div>

    <app-dynamic-modal [structure]="structure" [isEdit]="isEdit" [formData]="formData" [modalId]="modalId"
        (submitForm)="handleFormSubmission($event)">
    </app-dynamic-modal>

    <app-modern-table [tableTitle]="'benefitType.BENEFITS' | translate" [tableData]="benefits" [columns]="columns"
        [modalId]="modalId" [searchPlaceholder]="'benefitType.SEARCH_BENEFITS' | translate"
        (editItem)="openEditModal($event)" (deleteItem)="deleteEntity('Benefit', $event.id)" [deleteId]="deleteId">
    </app-modern-table>
</div>