


<div class="row">
  <div class=" Evaluation-popup d-flex justify-content-center align-items-center col-3 py-3  mx-auto">

    <div class="row justify-content-center align-items-center">



      <div class="col-12 pt-2">
        <div class="form-group">
          <label class="form-label">Reason for Rework/message</label>
          <textarea class="textarea form-control" placeholder="Please write your message no more than 300 words"></textarea>
        </div>
      </div>


      <div class="col-12 pt-2">
        <div class="form-group">
          <label class="form-label">Assign to</label>
          <input type="text" class="form-control" placeholder="@Yomna Ashraf">
        </div>
      </div>

      <div class="col-12 pt-2">
        <div class="form-group">
          <label class="form-label">position</label>
          <input type="text" class="form-control" placeholder="Ui/UX">
        </div>
      </div>

      <div class="col-12  pt-2">
        <div class="row btns g-2  py-1  mx-auto   d-flex justify-content-around align-items-center">
          <button class="col-12 action-btn btn">Add Employee</button>
          <button class="col-6 action-btn btn">cancel</button>
          <button class="col-6 save-btn btn ">submit</button>
        </div>

      </div>

      </div>

    </div>
</div>

